.body{
	background:url(/images/body.png) repeat;
	}

.wrapper{
	margin:0 auto;
	max-width: 960px;
    width: 100%;
}

#wrapper-header {
    color: rgb(255, 255, 255);
    float: left;
    width: 100%;
	background:#09090B url(/images/BG_Header.png) repeat-x 50% 0;
	height:114px;

}
/*.header-bg{
    height:114px;
	width:1800px;
	background:url(/images/BG_Header.png);
	background-repeat:repeat;
	}*/
/*#wrapper-header hgroup{
    margin: 25px 10px;
}
#wrapper-header h1 a{
    color: #fff;
}
#wrapper-header h2 {
    text-transform: uppercase;
    margin-top: 10px;    
}*/

/*--------- #wrapper-header ends-------------*/

#wrapper-nav {
    background: url(/images/BG_Wood.png) repeat-x;
    clear: both;
    overflow: hidden;
    text-align: center;
}

/*#wrapper-nav .wrapper {
    background: url("/images/nav-border.png") repeat-x scroll 0 0 ;
    padding-top: 1px;
}*/
a#menu-toggle {
    display: none;
}
#wrapper-nav ul {
    margin: 0 10px;
    overflow: hidden;
    padding-bottom: 1px;
    text-align: left;
}

#wrapper-nav ul li {
    float: left;
}
#wrapper-nav li.last{background: none;}

#wrapper-nav li a {
    background-color: rgb(66, 73, 87);
    border-radius: 5px 5px 5px 5px;
    color: rgb(255, 255, 255);
    display: block;
    font-family: arial;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 1px 10px 160px;
    padding: 14px 15.7px;
    text-transform: uppercase;
    white-space: nowrap;
}

#wrapper-nav li a:hover, #wrapper-nav li.current-menu-item a {
    background: none repeat scroll 0 0 rgb(182, 68, 5);
}
/*-------------------image slider starts here---------------------*/

.main-content-bg {
    background: url("/images/BG_Padded.png") repeat scroll 0 0 transparent;
    border-bottom: 2px solid rgb(255, 255, 255);
    float: left;
    padding-bottom: 27px;
    width: 100%;
	margin-top:1px;
}

#wrapper-slider {
    clear: both;
    color: rgb(113, 113, 113);
    position: relative;
    width: 100%;
}
.slider {
    clear: both;
    overflow: hidden;
}

.slider > img {
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    margin-top: 10px;
    padding: 2px;
    width: 936px;
}
/*.slider-left {
    float: left;
    margin: 0 1.04%;
    width: 27%;
}
.slider-left > img {
    margin-top: -24px;
}
.slider-left h2, .slider-left h4{
    color: #09263A;
    text-shadow: 0 1px 0 #D8E7F1;
}
.slider-left h4{
    letter-spacing: 3px;
    margin-top: 5px;
}
.slider-right {
    float: left;
    margin: 25px 10px 0;
    width: 68%;
}
.slider-right > h2{
    background: #0A5486;
    color: #ffffff;
    padding: 15px 65px;
    margin-bottom: 35px;
}
.slider-right p{
    color: #01243C;
    text-shadow: 0 1px 0 #63b4e8;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
}

.slideer-buttons {
    margin-left: 60px;
}
.free-email, .free-phone{
    width: 215px;
    border: 1px solid #437FA6;
    border-radius: 5px;
    background: #ffffff;
    text-align: center;
    font-family: 'varela_roundregular';
    font-size: 20px;
    color: #1A1A1A;
    padding: 10px 0;
    margin-top: 90px;
    float: left;
    height: 70px;
    max-height: 100%;
    margin-left: 30px;
}
.free-email a {
    background: url("/images/blue-button.png") no-repeat scroll 0 0 transparent;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 7px 26px;
    text-shadow: 0 1px 0 rgb(99, 180, 232);
    font-size: 14px;
    margin-top: 15px;
}
.slideer-buttons a:hover{
    opacity:0.8;
}
.free-phone a{
    font-size: 24px;
    margin-top: 15px;
    color: #1A1A1A;
    display: inline-block;

}*/

/*---------------image slider ends here---------------------------*/

.site-content {
    float: left;
    margin: 20px 0 0 -10px;
    width: 100%;
}
.primary-list-box {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

.primary-list-box li {
    display: inline;
}

.primary-list-box a {
    margin: 0 8px;
}
.primary-list-box a:hover {
    opacity: 0.5;
}
/*.entry-page-right {
    float: right;
    margin: 0 10px;
    width: 67%;
}

.entry-page-right > h2 {
    border-bottom: 1px solid rgb(188, 190, 192);
    color: rgb(10, 84, 134);
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.entry-page-right > p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}
.entry-page-right img{margin-bottom: 5px;}

article.entry-page-left {
    float: left;
    margin: 0 10px;
    width: 27%;
}
.entry-header > h3 {
    background: none repeat scroll 0 0 rgb(10, 84, 134);
    color: rgb(255, 255, 255);
    line-height: 19px;
    padding: 10px 5px;
}
.entry-content > ul {
    background: none repeat scroll 0 0 rgb(235, 235, 235);
    padding: 0 5px;
    overflow: hidden;
}
.entry-content a {
    background: url("/images/li-arrow.png") no-repeat scroll left center transparent;
    color: rgb(86, 86, 87);
    font-family: open sans;
    font-size: 13px;
    padding-left: 15px;
    transition:all 0.3s ease 0s;
}

.entry-content li {
    background: url("/images/side-li-bg.png") repeat-x scroll center bottom transparent;
    padding: 6px 0;
}
.entry-content a:hover{
    padding-left: 20px;
    color: #000000;
}
img.wp-post-image{
	border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.2);
}
.entry-header .entry-title {
    font-size: 22px;
    font-weight: normal;
    line-height: 1.2;
}
.entry-content > p{
	line-height: 24px;
    margin: 0 0 25px;
    font-size: 14px;
}
*/

/*-------------#welcome css here--------------*/

#welcome {
    background: url("/images/BG_Padded.png") repeat-x scroll 50.8% 0 transparent;
    float: left;
    padding-top: 2px;
    width: 100%;
}

#welcome h3 {
    color: rgb(110, 125, 146);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
	padding:10px;
}

/*---------#secondary css here----------*/



#secondary {
    background: url("/images/body.png") repeat-x scroll 0 0 transparent;
    border-bottom: 2px solid rgb(255, 255, 255);
    float: left;
    width: 100%;
}

#secondary h3 {
    color: rgb(110, 125, 146);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
    text-align: center;
}

#secondary p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: center;
}
/*-------------footer css-----------*/


#wrapper-footer {
    background: url("/images/BG_Vichy_Footer.png") repeat-x scroll 0 0 transparent;
    border-top: 4px solid rgb(9, 9, 11);
    clear: both;
    color: rgb(5, 6, 10);
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 20px 0;
    text-align: center;
}

/* will be red only in google chrome */
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
#wrapper-nav li.last a{padding-right: 3px;}
}*/


/*--------------- login page css goes here ------------------*/
.top-header-right {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    background: none repeat scroll 0 0 rgb(182, 68, 5);
    border-bottom: 1px solid rgb(231, 143, 46);
    border-left: 1px solid rgb(231, 143, 46);
    border-radius: 0 0 0 5px;
    color: rgb(255, 255, 255);
    display: block;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 20px;
    text-transform: uppercase;
}

.top-header-right a {
    background: none repeat scroll 0 0 rgb(182, 68, 5);
    border-bottom: 1px solid rgb(231, 143, 46);
    border-left: 1px solid rgb(231, 143, 46);
    border-radius: 0 0 0 5px;
    color: rgb(255, 255, 255);
    display: block;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 20px;
    text-transform: uppercase;
}

.top-header-right > a:hover {
    background: none repeat scroll 0 0 rgb(66, 73, 87);
    border-bottom: 1px solid rgb(127, 127, 127);
    border-left: 1px solid rgb(127, 127, 127);
}

.login-list{
	margin:10px 0px !important;
	}
.login-list-flt-right{
	float:right !important;
	}
.main-content-bg-login {
    background: url("/images/body.png") repeat scroll 0 0 transparent;
    min-height: 600px;
    padding-top: 115px;
	border:none;
}
.login-box {
    float: left;
    width: 100%;
}
.main-frm {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border: 3px solid #C7C7C7;
    margin: 0 auto;
    padding: 20px;
    width: 574px;
}
.element.flt-left {
    float: left;
}
.request-btn {
    display: inline;
    float: right;
}

/*.main-frm{
    margin:0;
    padding:0 25px 0 1px;
    overflow: hidden;
}*/

.element{
    overflow: hidden;
    margin:0 0 10px 0;
}
.element label{
     color: #DD431F;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
    
}
.element input{
  
    background: none repeat scroll 0 0 rgba(250, 250, 250, 0.1);
 
    border: medium none;
    color: #FFFFFF;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    padding-left: 10px;
    width: 98%;
   
}

.element input[type="text"], input[type="password"] {
    
    background: none repeat scroll 0 0 rgba(250, 250, 250, 0.1);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000, endColorstr=#88000000);
/* For IE 8*/
}
/*input[type="text"], input[type="password"] {
    background: none repeat scroll 0 0 rgb(253, 254, 255);
    border: 1px solid rgb(173, 225, 243);
    color: rgb(58, 64, 64);
    font-size: 13px;
    padding: 5px;
    width: 285px;
}*/

.textarea_remarks {
    background: none repeat scroll 0 0 rgb(253, 254, 255);
    border: 1px solid rgb(173, 225, 243);
    color: rgb(119, 119, 119);
    font-size: 13px;
    margin: 0;
    padding: 5px;
    width: 285px;
}





.element input[type="submit"] {
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    display: inline;
    height: 52px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 80px;
}

.element input.orange-btn {
    background: url("/images/orange-btn.png") repeat-x scroll 0 0 transparent;
    border: 1px solid rgb(218, 91, 22);
}

.element input.login-btn{
    width: 120px;
}
.element input.login-btn:hover{
	opacity:0.9;
	}

.element input.register-btn{
    width: 200px;
}
.element input.register-btn:hover{
	opacity:0.9;
	}

.request-btn a.reg-btn, .request-btn a.forget-btn {
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: arial;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 20px;
    padding: 16px 4px 15px;
    text-align: center;
    text-transform: uppercase;
    width: 120px;
}
.request-btn a.reg-btn:hover{
	opacity:0.9;
	}
.request-btn a.gray-btn{
	background:url(/images/gray-btn.png) repeat-x;
	border:1px solid #4E555F;
	}
.request-btn a.forget-btn {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    margin-left: 170px;
    padding: 4px;
}
.request-btn a.forget-btn:hover{
	opacity:0.9;
	}
.request-btn a.flt-right{
	float:right;
	}
.errors{
    text-align: center;
    font-size: .9em;
    color: #C21612;
}
        
.element ul.errors li {
    clear: both;
    color: #C21612;
    font-family: arial;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

/*#loginfrm {
    position: relative;
}*/

/*.request-btn {
    position: absolute;
    right: 190px;
    top: 154px;
}*/
/*-----default css goes here---------*/

.flt-right{
	float:right;
	}
.orange-btn {
    background: url("/images/orange-btn.png") repeat-x scroll 0 0 transparent;
    border: 1px solid rgb(218, 91, 22);
}
.gray-btn{
	background:url(/images/gray-btn.png) repeat-x;
	border:1px solid #4E555F;
	}
        
        .clr{
         clear: both;   
            
        }