<p>Dear <?= $this->user->first_name ?>,</p>
<p>Click the link below to reset your password. If you did not make this request simply do nothing to retain your current password.</p>
<p><a href="<?= $this->link ?>"><?= $this->link ?></a></p>