<?php echo $this->render('global/navbar.phtml'); ?>
<div class="row-fluid">
	<div id="content" class="span11">
		<div class="span12">
			<div class="workArea span12">
				<div class="title">About Us</div>
				<?php echo $this->flashMessenger(); ?>
				<div id="imageDividerTop"></div>
				<div class="overview">
					<span>
						Founded out of the desire to <a href="javascript:changeBio('site')">revolutionize</a> America's most beloved game.
					</span>
					<div id="imageDividerBottom1" class="imageDividerBottom"></div>	
					<div id="imageDividerBottom2" class="imageDividerBottom"></div>	
					<div id="imageDividerBottom3" class="imageDividerBottom"></div>	
					<div id="imageDividerBottom4" class="imageDividerBottom"></div>	
				</div>	
				<div class="row-fluid">
					<div class="span4" id="team">
						<div class="title">Meet the Team</div>
						<div class="members">
							<div class="member" onclick="changeBio('jim');">
								<img src="/images/jim.jpg"/>
								<span>
									Jim Pepe,<br/>
									Founder and CEO
								</span>
							</div>
						</div>
						<div class="title">Other Contributors</div>
						<div class="members">
							<div class="member" onclick="changeBio('robert');">
								<img src="/images/robert.jpg"/>
								<span>
									Robert DellaFave,<br/>
									Lead Game Developer
								</span>
							</div>
							<div class="member" onclick="changeBio('leon');">
								<img src="/images/leon.jpg"/>
								<span>
									Leon McCottry,<br/>
									Lead Software Engineer
								</span>
							</div>
							<div class="member" onclick="changeBio('leonA');">
								<img src="/images/leonA.jpg"/>
								<span>
									Leon Arellano,<br/>
									Wireframe Designer
								</span>
							</div>							
						</div>
					</div>
					<div class="span8" id="biography">
						SmashMouth was built to revolutionize the fantasy sports world.<br/>
						At SmashMouth, you can create your fantasy sports teams in 
						all major sports and engage in league play.<br/>
						<br/>
						Our partnership with FoxSports.com allows us to offer you a free
						trial in the fastest growing network of sports aficionados.  You'll 
						receive even more features and insights when joining as a 
						SmashMouth Insider.<br/>
						<br/>
						Simply become one of the many thousands and join the SmashMouth
						Revolution today!
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<info style="display: none;">
	<site>
		SmashMouth was built to revolutionize the fantasy sports world.<br/>
		At SmashMouth, you can create your fantasy sports teams in 
		all major sports and engage in league play.<br/>
		<br/>
		Our partnership with FoxSports.com allows us to offer you a free
		trial in the fastest growing network of sports aficionados.  You'll 
		receive even more features and insights when joining as a 
		SmashMouth Insider.<br/>
		<br/>
		Simply become one of the many thousands and join the SmashMouth
		Revolution today!
	</site>
	<jim>
		Jim is supercharged about SmashMouth and excited to see his creation come to the masses.<br/>
		<br/>
		A former college football player himself (Go Gamecocks!), son of a noted sportswriter (Phil Pepe), rock singer and former entertainment executive, Jim is welcomes any SmashMouth challenge from any of you out there.<br/>
		<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bring it!
	</jim>
	<robert>
		if the job is complete, robert did it.<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;[If it ain't done, it's not his fault]
	</robert>
	<leon>
		leon is the man behind the magic.<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;he likes rock 'n roll.<br/>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;he likes chess.<br/>
		And he is a big fan of the Ohio State Buckeyes.
	</leon>
	<leonA>
		Need blocks and standard fonts?  Leon has been taking ideas and putting 
		them to pictures for years.
	</leonA>
</info>
<script>
	function changeBio(name) {
		$("#biography").html($(name).html());
	}
</script>