<?php echo $this->render('global/navbar.phtml'); ?>
<div class="row-fluid">
	<div id="content" class="span11">
		<div class="span12">
			<div class="row-fluid">
				<div id="registerLink">Not signed up yet? <a href="/register">Register&nbsp;Now!</a></div>
			</div>
			<div class="row-fluid" id="formArea">
				<div class="vBanner left"></div>
				<div class="workArea">
					<div class="title">Contact Us</div>
					<?php echo $this->flashMessenger(); ?>
					<div class="contact-note">
						<p>
							Got any feedback, compliments, insults or beefs? We'd love to hear from you.<br/>
							<br/>
							No, really! Send us a note at <span><a href="mailto:admin@smashfantasysports.com" target="_top">admin@smashfantasysports.com</a></span> or send us this form.
						</p>
					</div>
					<form name="<?php echo $this->form->getAttrib('name'); ?>" id="<?php echo $this->form->getAttrib('name'); ?>" method="<?php echo $this->form->getAttrib('method'); ?>">
						<div id="form-inputs">
							<div class="errors">
								<?php echo $this->msg; ?>
							</div>                        
							<?php echo $this->form->getElement("name"); ?>
							<?php echo $this->form->getElement("email"); ?>
							<?php echo $this->form->getElement("feedback"); ?>
						</div>
						<button type="submit" class="sendButtonContainer span2"><div class="sendButton">Send</div></button>
					</form>
				</div>
				<div class="vBanner right"></div>
			</div>
		</div>
	</div>
</div>