<?php echo $this->render('global/navbar.phtml'); ?>
<div class="row-fluid">
	<div id="content" class="span11">
		<div class="span12">
			<div><?php echo $this->flashMessenger(); ?></div>
			<div class="workarea row-fluid">
<p>
    All current fantasy is checkers... <strong>SmashMouth</strong> is chess! <strong>SmashMouth</strong> will have you think like a coach to try and exploit matchups versus your opponent's
    players.
</p>
<p>
The game has 2 phases. Phase I is a turn-based draft . Phase II is game day. Playing is easy because the app guides you through the <strong>SmashUp</strong> so you can't make an illegal pick.
</p>
<p>
    Here's detail on how to play:
</p>
<h2>Phase I - The <strong>SmashUp</strong> (the turn-based draft)</h2>
<ul>
    <li>
        Check the <strong>SmashUp Schedule</strong> posted below for the next available set of NBA games from which you will pick players. Make note of the <strong>SmashUp Schedule</strong>
        <strong>Open</strong> and <strong>Close</strong> date and time for each set of <strong>Marquee Matchups</strong>. For Version 0.9, only the upcoming <strong>SmashUp</strong> is available for play and only within the
        <strong>SmashUp</strong> <strong>Open</strong> and <strong>Close</strong> window. So, if it's within the Game 3 <strong>Open</strong> and <strong>Close</strong> window and you want to play Game 4, you must wait until the Game 4 <strong>SmashUp</strong>
        is open and posted to begin picking.<br/><br/>
    </li>
    <li>
        Find an opponent by challenging a current Registered User or inviting a friend to register and play via Facebook.<br/><br/>
    </li>
    <li>
        After your challenge is accepted, the <strong>Home Coach</strong> (chosen randomly) picks first. Note, it is impossible to make an illegal pick (either out of turn or
        of an ineligible player) because the app restricts each pick to only those eligible and available on the <strong>SmashBoard</strong>.<br/><br/>
    </li>
    <li>
        Once the <strong>Home Coach</strong> makes a lead pick (a.k.a <strong>Smash Pick</strong>) , then the <strong>Away Coach</strong> makes two (2) picks: a <strong>Force Pick</strong> at same position in same NBA game and then a
        <strong>Smash Pick</strong> from the remaining available games/positions/players. Note that each Coach can only choose one (1) player per NBA game (and again, the app
        will restrict illegal picks so it's simple to know who's eligible). Once the <strong>Away Coach</strong> makes both picks, it's again the <strong>Home Coach</strong>'s turn to make a
        <strong>Force</strong> and then <strong>Smash Pick</strong> per the rules. You alternate until all 8 positions below are full. During the regular season, 8 <strong>Marquee Matchups</strong> per
        <strong>SmashMouth</strong> game means you must have 1 player from each <strong>Marquee Matchup</strong> at the following positions:
	    <ul>
			<li>
			    2 PGs
			</li>
			<li>
			   2 SGs
			</li>
			<li>
			   2 F/Cs
			</li>
	    </ul>
	    <br/>
    </li>
</ul>
<ul>
    <li>
        On Sunday NBA games during regular season, only 6 <strong>Marquee Matchups</strong> are chosen per <strong>SmashMouth</strong> game, so you must have 1 player from each <strong>Marquee Matchup</strong>
        as follows:
	    <ul>
			<li>
			    2 PGs
			</li>
			<li>
			   2 SGs
			</li>
			<li>
			   2 F/Cs
			</li>
	    </ul>
	    <br/>
    </li>
</ul>
<h2>Phase II - Game Day</h2>
<p>
    Check your scores via the website. Scores are presented in real-time. Scoring is as follows:
</p>
<div class="indent">
<p>
    <u>Point scored, including Free Throw</u> = 1 point
</p>
<p>
    <u>Assist</u> = 1 point
</p>
<p>
    <u>Rebound</u> = 1 point
</p>
<p>
    <u>Blocked Shot</u> = 1 point
</p>
<p>
    <u>Steal</u> = 1 point
</p>
<p>
    <u>Turnover</u> = -1 point
</p>
<p>
    <u>Foul</u> = -1 point
</p>
</div>
<h2>Additional Info</h2>
<ul>
    <li>
        An e-mail notification is sent for invites, accepted challenges and for each pick made during the <strong>SmashUp</strong> period.
    </li>
    <li>
        Full lineups must be completed by <strong>SmashUp</strong> <strong>Close</strong> (see schedule below).
    </li>
    <li>
        All tie games go to the <strong>Away Team</strong>.
    </li>
</ul>

<h2>SmashMouth NBA Schedule</h2> - <em><strong>All Times EST</strong></em>

<table cellspacing="0" cellpadding="0" width="850" border="1">
    <colgroup>
        <col width="19%"/>
        <col width="27%"/>
        <col width="27%"/>
        <col width="27%"/>
    </colgroup>
    <tbody>
        <tr height="24">
            <td height="24">
            </td>
            <td>
                <strong>NBA Marquee Matchup Game Day</strong>
            </td>
            <td>
                <strong>SmashUp OPEN</strong>
            </td>
            <td>
                <strong>SmashUp CLOSE</strong>
            </td>
        </tr>
        <tr height="19">
            <td height="19">
                GAME 1
				<br/><em>6 NBA Marquee Matchups</em>
            </td>
            <td>
                SUNDAY, March 16
            </td>
            <td>
                SATURDAY, March 15, 2:00am
            </td>
            <td>
                SUNDAY, March 16, 5:45pm
            </td>
        </tr>
        <tr height="19">
            <td height="19">
                GAME 2
				<br/><em>8 NBA Marquee Matchups</em>
            </td>
            <td>
                WEDNESDAY, March 19
            </td>
            <td>
                MONDAY, March 17, 2:00am
            </td>
            <td>
                WEDNESDAY, March 19, 6:45pm
            </td>
        </tr>
        <tr height="19">
            <td height="19">
                GAME 3
				<br/><em>8 NBA Marquee Matchups</em>
            </td>
            <td>
                SATURDAY, March 22
            </td>
            <td>
                THURSDAY, March 20, 2:00am
            </td>
            <td>
                SATURDAY, March 22, 6:45pm
            </td>
        </tr>
        <tr height="19">
            <td height="19">
                GAME 4
				<br/><em>8 NBA Marquee Matchups</em>
            </td>
            <td>
                MONDAY, March 24
            </td>
            <td>
                SUNDAY, March 23, 2:00am
            </td>
            <td>
                MONDAY, March 24, 6:45pm
            </td>
        </tr>
        <tr height="19">
            <td height="19">
                GAME 5
				<br/><em>8 NBA Marquee Matchups</em>
            </td>
            <td>
                WEDNESDAY, March 26
            </td>
            <td>
                TUESDAY, March 25, 2:00am
            </td>
            <td>
                WEDNESDAY, March 26, 6:45pm
            </td>

        </tr>
        <tr height="19">
            <td height="19">
                GAME 6
				<br/><em>8 NBA Marquee Matchups</em>
            </td>
            <td>
                FRIDAY, March 28
            </td>
            <td>
                THURSDAY, March 27, 2:00am
            </td>
            <td>
                FRIDAY, March 28, 6:45pm
            </td>

        </tr>
        <tr height="19">
            <td height="19">
                GAME 7
				<br/><em>6 NBA Marquee Matchups</em>
            </td>
            <td>
                SUNDAY, March 30
            </td>
            <td>
                SATURDAY, March 29, 2:00am
            </td>
            <td>
                SUNDAY, March 30, 2:45pm
            </td>
        </tr>
        <tr height="19">
            <td height="19">
                GAME 8
				<br/><em>8 NBA Marquee Matchups</em>
            </td>
            <td>
                WEDNESDAY, April 2
            </td>
            <td>
                MONDAY, March 31, 2:00am
            </td>
            <td>
                WEDNESDAY, April 2, 6:45pm
            </td>

        </tr>
        <tr height="19">
            <td height="19">
                GAME 9
				<br/><em>8 NBA Marquee Matchups</em>
            </td>
            <td>
                FRIDAY, April 4
            </td>
            <td>
                THURSDAY, April 3, 2:00am
            </td>
            <td>
                FRIDAY, April 4, 6:45pm
            </td>

        </tr>
        <tr height="19">
            <td height="19">
                GAME 10
				<br/><em>6 NBA Marquee Matchups</em>
            </td>
            <td>
                SUNDAY, April 6
            </td>
            <td>
                SATURDAY, April 5, 2:00am
            </td>
            <td>
                SUNDAY, April 6, 12:45pm
            </td>

        </tr>
        <tr height="19">
            <td height="19">
                GAME 11
				<br/><em>8 NBA Marquee Matchups</em>
            </td>
            <td>
                WEDNESDAY, April 9
            </td>
            <td>
                MONDAY, April 7, 2:00am
            </td>
            <td>
                WEDNESDAY, April 9, 6:45pm
            </td>

        </tr>
        <tr height="19">
            <td height="19">
                GAME 12
				<br/><em>8 NBA Marquee Matchups</em>
            </td>
            <td>
                SATURDAY, April 12
            </td>
            <td>
                THURSDAY, April 10, 2:00am
            </td>
            <td>
                SATURDAY, April 12, 3:15pm
            </td>

        </tr>
        <tr height="19">
            <td height="19">
                GAME 13
				<br/><em>8 NBA Marquee Matchups</em>
            </td>
            <td>
                MONDAY, April 14
            </td>
            <td>
                SUNDAY, April 13, 2:00am
            </td>
            <td>
                MONDAY, April 14, 6:45pm
            </td>

        </tr>
        <tr height="19">
            <td height="19">
                GAME 14
				<br/><em>8 NBA Marquee Matchups</em>
            </td>
            <td>
                WEDNESDAY, April 16
            </td>
            <td>
                TUESDAY, April 15, 2:00am
            </td>
            <td>
                WEDNESDAY, April 16, 7:45pm
            </td>

        </tr>
    </tbody>
</table>
			</div>			
		</div>
	</div>
</div>
<script>
</script>