<?php
	$account = Application_Model_Account::getAccountFromIdentity();
	if (!$account) {
		$links = array( "/register", "/login" );
		$registerLinkClass = "";
	} else {
		$links = array( "javascript:void(0)", "/account" );
		$registerLinkClass = "class='disabled'";
	}
?>
<?php echo $this->render('global/navbar.phtml'); ?>
<div class="row-fluid">
	<div id="featured-slider" class="slider span11">
		<div class="slide-tile span12" id="slide1">
	  		<iframe src="/slides/what_is_smashmouth.html" scrolling="no" seamless="seamless"></iframe>
	  	</div>		  			  			  	
	</div>
</div>
<div class="row-fluid">
	<div class="primary-list-box span11">
        <div class="row-fluid">
        	<div class="span4">
				<a href="<?php echo $links[0]; ?>" <?php echo $registerLinkClass; ?>>
					<button>
						<div class="small white">Register to</div>
						<div class="orange play">PLAY</div>
					</button>
				</a>
			</div>
			<div class="span4">
				<a href="index/leaguescomingsoon">
					<button class="soon">
						<div class="small white">COMING SOON</div>
					</button>
				</a>
			</div>
			<div class="span4">
				<a href="<?php echo $links[1]; ?>">
					<button>
						<div class="small white">Go to my</div>
						<div class="orange">Dashboard</div>
					</button>
				</a>
			</div>
        </div>
	</div>
</div>
<?php 
	$preloadScript = <<<JAVASCRIPT
var items = [
		 '/slides/free_trial.html',
		 '/slides/how_to_play.html',
		 '/slides/insider.html'
		];
preload(items);
JAVASCRIPT;
	
	$this->headScript()->offsetSetScript(1000, $preloadScript);
?>
