<?php 
$request = Zend_Controller_Front::getInstance()->getRequest();
?>
<?php echo $this->render('global/navbar.phtml'); ?>
<div class="row-fluid">
	<div id="content" class="span11">
		<div class="span12">
			<div class="row-fluid">
				<div class="title">Leaderboard</div>
				<div class="slug">Must play at least 10 games to qualify.  Updated weekly.</div>
			</div>			
			<div><?php echo $this->flashMessenger(); ?></div>
			<div id="statistics" class="row-fluid">
			<?php echo $this->partial('global/pagination.phtml',
									   array( 'numberOfPages' => max(array(1, ceil(count($this->leaders)/20) )),
											  'activePage' => $request->getParam("pageIndex", 0),
											  'callback' => "gotoPage" )
										); ?>
			<div class="row-fluid header">
				<button>Rank</button><button>User</button><button>Record</button><button>Winning Pct(%)</button>
			</div>										
			<div id="table">
				<?php
					for( $i = 0; $i < 20 && $i < count($this->leaders); $i++ ) {
				?>
				<div class="row-fluid <?php echo ($i % 2) ? "even" : "";?>">
					<span id="rank<?php echo $i?>" class="rank"><?php echo $i + 1;?></span><span id="name<?php echo $i?>" class="middle user"><?php echo $this->leaders[$i]['name']?></span><span id="record<?php echo $i?>" class="middle record"><?php echo $this->leaders[$i]['wins']." - ".$this->leaders[$i]['losses']?></span><span id="percentage<?php echo $i?>" class="last percentage"><?php echo $this->leaders[$i]['percentage']; ?></span>
				</div>
				<?php 
					}
				?>
			</div>
			<?php echo $this->partial('global/pagination.phtml',
									   array( 'numberOfPages' => max(array(1, ceil(count($this->leaders)/20) )),
											  'activePage' => $request->getParam("pageIndex", 0),
											  'callback' => "gotoPage" )
										); ?>
			</div>
		</div>
	</div>
</div>
<script>
	var leaders = <?php echo json_encode($this->leaders);?>;

	function gotoPage(pageIndex) {
		currentPage = pageIndex;

		$(".pagination .page").removeClass("active");
		$(".rank, .user, .record, .percentage").html("");
		for (var i=0; i < 20 && 20*currentPage+i < leaders.length; i++) {
			$("#rank"+i).html(20*currentPage+i+1);
			$("#name"+i).html(leaders[20*currentPage+i].name);
			$("#record"+i).html(leaders[20*currentPage+i].wins + " - " + leaders[20*currentPage+i].losses);
			$("#percentage"+i).html(leaders[20*currentPage+i].percentage);
		}
		
		$(".pagination .button"+currentPage).addClass("active");
	}
</script>