<?php echo $this->render('global/navbar.phtml'); ?>
<div class="row-fluid">
	<div id="content" class="span11" style="margin-left: 4%; width: 91.2%;">
		<div class="span12">
			<div><?php echo $this->flashMessenger(); ?></div>
			<div class="workarea row-fluid" style="margin: 3%; width: 90%;">
<p>
    <strong>PRIVACY POLICY</strong>
</p>
<p>
    SmashMouth recognizes that its customers, visitors, users and others who use SmashMouth value their privacy. This Privacy Notice details important
    information regarding the use and disclosure of User information collected via the SmashFantasySports.com website. SmashMouth provides this Privacy Notice
    to help you make an informed decision about whether to use or continue using SmashMouth.
</p>
<p>
    Your use of SmashMouth and any personal information you provide to SmashMouth remains subject to the terms of this Privacy Notice and our terms and
    conditions.
</p>
<p>
    Please note that any video, image, or other content posted at the direction of Users onto SmashFantasySports.com becomes published content and is not
    considered personally identifiable information subject to this Privacy Notice.
</p>
<p>
    Any questions, comments or complaints that you might have should be forwarded in writing to: SmashMouth Fantasy Sports LLC,
    <br/>
    7824 Collins Avenue
    <br/>
    4th Floor
    <br/>
    Miami Beach, FL 33141
</p>
<p>
    Information We Collect
</p>
<p>
    1. User Provided Information: You provide certain personally identifiable information (such as your name, email address, and PayPal or credit card billing
    information) to SmashMouth when choosing to participate in various activities on the SmashFantasySports.com website such as participating in contests,
    uploading pictures, posting messages, taking advantage of promotions, responding to surveys, or subscribing to newsletters or other mailing lists.
</p>
<p>
    2. Cookies Information: When you visit the SmashFantasySports.com.com website, we may send one or more cookies - a small text file containing a string of
    alphanumeric characters - to your computer that uniquely identifies your browser. SmashMouth uses both session cookies and persistent cookies. A persistent
    cookie remains after you close your browser. Persistent cookies may be used by your browser on subsequent visits to the site. Persistent cookies can be
    removed by following your web browser help file directions. A session cookie is temporary and disappears after you close your browser. You can reset your
    web browser to refuse all cookies or to indicate when a cookie is being sent. However, some features of the SmashFantasySports.com.com website may not
    function properly if the ability to accept cookies is disabled.
</p>
<p>
    3. Log File Information: When you use SmashMouth, our servers automatically record certain information that your web browser sends whenever you visit any
    website. These server logs may include information such as your web request, Internet Protocol ("IP") address, browser type, browser language,
    referring/exit pages and URLs, platform type, number of clicks, domain names, landing pages, pages viewed and the order of those pages, the amount of time
    spent on particular pages, the date and time of your request, and one or more cookies that may uniquely identify your browser.
</p>
<p>
    4. Clear GIFs Information: When you use SmashMouth, we may employ "clear GIFs" (a.k.a. Web Beacons) which are used to track the online usage patterns of
    our Users anonymously (i.e., in a non-personally-identifiable manner). In addition, we may also use clear GIFs in HTML-based emails sent to our users to
    track which emails are opened by recipients.
</p>
<p>
    The Way SmashMouth Uses This Information
</p>
<p>
    1. If you submit personally identifiable information to us through SmashMouth, then we use your personal information to operate, maintain, and provide to
    you the features and functionality of SmashMouth, including but not limited to the following: (a) providing you our products and services, including our
    games; (b) processing and responding to inquiries; (c) alerting you to new Site features, special events, products and services, or certain third-party
    products or services in which we think you will be interested; and (d) enforcing the legal terms that govern your use of the Site.
</p>
<p>
    2. We may use your email address to contact you for non-marketing or administrative purposes (such as notifying you of major SmashMouth changes or for
    customer service purposes).
</p>
<p>
    3. We use both your personally identifiable information and certain non-personally-identifiable information (such as anonymous User usage data, cookies, IP
    addresses, browser type, clickstream data, etc.) to improve the quality and design of SmashMouth and to create new features, promotions, functionality, and
    services by storing, tracking, and analyzing User preferences and trends.
</p>
<p>
    4. We use cookies, clear gifs, and log file information to: (a) remember information so that you will not have to re-enter it during your visit or the next
    time you visit SmashMouth; (b) provide custom, personalized content and information; (c) monitor the effectiveness of our marketing campaigns; (d) monitor
    aggregate metrics such as total number of visitors, pages viewed, etc.; and (e) track your entries, submissions, and status in promotions, sweepstakes, and
    contests.
</p>
<p>
    5. Our subsidiaries, affiliated companies, agents, or other businesses or persons may have authorized access to your personally identifiable information
    for the purpose of processing such information on our behalf.
</p>
<p>
    6. We may anonymize or aggregate your information for business purposes, including for reporting and research. Anonymous and/or aggregated data does not
    identify you, and we may use and disclose such information without limitation.
</p>
<p>
    When SmashMouth Discloses Information
</p>
<p>
    We may share your personally identifiable information (such as name or email address) with other, third-party companies for their commercial or marketing
    use with your consent or as part of a specific program or feature for which you will have the ability to opt-in or opt-out.
</p>
<p>
    SmashMouth also reserves the right to disclose personally identifiable information that SmashMouth believes, in good faith, is appropriate or necessary to
    enforce our terms and conditions, take precautions against liability, to investigate and defend itself against any third-party claims or allegations, to
    respond to a subpoena, legal order, or official request, to protect the security or integrity of our web site, and to protect the rights, property, or
    personal safety of SmashMouth, our Users or others.
</p>
<p>
    Your Choices
</p>
<p>
    You may, of course, decline to submit personally identifiable information through SmashMouth, in which case SmashMouth may not be able to provide certain
    services to you.
</p>
<p>
    To protect your privacy and security, we take reasonable steps (such as requesting a unique password) to verify your identity before granting you profile
    access or making corrections. You are responsible for maintaining the secrecy of your unique password and account information at all times.
</p>
<p>
    Please contact SmashMouth with any questions or comments about this Privacy Notice, your personal information, your consent, or your opt-in or opt-out
    choices by using the contact us form.
</p>
<p>
    Data Security
</p>
<p>
    SmashMouth uses commercially reasonable physical, managerial, and technical safeguards to preserve the integrity and security of your personal information.
    We cannot, however, ensure or warrant the security of any information you transmit to SmashMouth and you do so at your own risk.
</p>
<p>
    Merger, Sale, or Bankruptcy
</p>
<p>
    In the event that SmashMouth is acquired by or merged with a third party entity, we reserve the right, in any of these circumstances, to transfer or assign
    the information we have collected from our Users as part of such merger, acquisition, sale, or other change of control. In the unlikely event of our
    bankruptcy, insolvency, reorganization, receivership, or assignment for the benefit of creditors, or the application of laws or equitable principles
    affecting creditors' rights generally, we may not be able to control how your personal information is treated, transferred, or used.
</p>
<p>
    Third Party Advertising
</p>
<p>
    The ads appearing on the SmashMouth site are delivered to Members/Groups by our Web advertising partners. Our Web advertising partners may use cookies.
    Doing this allows the ad network to recognize your computer each time they send you an online advertisement. In this way, ad networks may compile
    information about where you, or others who are using your computer, saw their advertisements and determine which ads are clicked on. This information
    allows an ad network to deliver targeted advertisements that they believe will be of most interest to you. SmashMouth does not have access to or control of
    the cookies that may be placed on the computer of any Member or other user of the SmashMouth.com website by the third-party ad servers or ad networks.
</p>
<p>
    Publicity
</p>
<p>
    Except where prohibited, participation in a contest constitutes the player's consent to the use by SmashMouth and its agents of player's name, likeness,
    voice, opinions, and biographical information for publicity, advertising, trade, or promotional purposes in any media or manner, now known or hereafter
    devised, worldwide, without further payment, consideration, notice, or approval.
</p>
<p>
    Your California Privacy Rights
</p>
<p>
    If you reside in California and have provided us with your personal information, you may request certain information regarding our disclosure of personal
    information to third parties for their direct marketing purposes. To make such a request, please write to us at the following address:
    <br/>
    SmashMouth Fantasy Sports LLC,
    <br/>
    7824 Collins Avenue
    <br/>
    4th Floor
    <br/>
    Miami Beach, FL 33141
</p>
<p>
    Changes and updates
</p>
<p>
    This Privacy Notice may be revised periodically and this will be reflected by the "effective date" below. Please revisit this page to stay aware of any
    changes. Your continued use of SmashMouth constitutes your agreement to this Privacy Notice and any future revisions.
</p>
<p>
    Contact Information: Please contact SmashMouth with any questions or comments about this Privacy Notice using the contact us form.
</p>
<p>
    Date Last Modified: This Privacy Notice was last modified November 24th, 2013.
</p>
			</div>			
		</div>
	</div>
</div>
<script>
</script>