<?php echo $this->render('global/navbar.phtml'); ?>
<div class="row-fluid">
	<div id="content" class="span11" style="margin-left: 4%; width: 91.2%;">
		<div class="span12">
			<div><?php echo $this->flashMessenger(); ?></div>
			<div class="workarea row-fluid" style="margin: 3%; width: 90%;">
<h1>
    Terms of Use
</h1>
<p>
    The following Terms of Use outline your obligations when using the SmashMouth website. You can also review our Privacy Policy, which outlines our
    obligations and practices towards handling any personal information that you may provide to us.
</p>
<h2>
    1. ACCEPTANCE OF TERMS
</h2>
<p>
    The web pages available at www.SmashFantasySports.com and all linked pages ("Site"), are owned and operated by SmashMouth Fantasy Sports LLC ("SmashMouth")
    and is accessed by you under the Terms of Use described below ("Terms of Use"). Please read these terms of use carefully before using the Site. By
    accessing the Site or using any part of the Site or any content or services (as each is defined below) on the Site, you agree to become bound by these
    terms and conditions. If you do not agree to all the terms and conditions, then you may not access the Site or use the content or any services in the Site.
</p>
<h2>
    2. MODIFICATION OF TERMS OF USE
</h2>
<p>
    Except for Section 15, providing for binding arbitration and waiver of class action rights, SmashMouth reserves the right, at its sole discretion, to
    modify or replace the Terms of Use at any time. You shall be responsible for reviewing and becoming familiar with any such modifications. Use of the Site
    by you following such notification constitutes your acceptance of the terms and conditions of the Terms of Use as modified.
</p>
<h2>
    3. ELIGIBILITY
</h2>
<p>
    You hereby represent and warrant that you are a natural person (corporate entities and similar organizations are not eligible to use the SmashMouth Service
    for any purpose) and are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations and warranties set forth
    in these terms and to abide by and comply with these terms.
</p>
<p>
    You may establish only one account per person to participate in the activities offered on the SmashMouth service. In the event SmashMouth discovers that
    you have opened more than one account per person, in addition to any other rights that SmashMouth may have, SmashMouth reserves the right to suspend or
    terminate any or all of your accounts.
</p>
<p>
    SmashMouth employees may use the SmashMouth service for the purpose of testing the user experience. These individuals do not have any access to non-public
    site data or any other data not made available to all players on the site and will not receive any other advantages in their play on the site.
</p>
<h2>
    4. CONDITIONS OF PARTICIPATION
</h2>
<h3>
    Registration
</h3>
<p>
    In order to participate in games on the Site, you must register for an account. By registering as a user of the Site, you agree to provide accurate,
    current and complete information about yourself as prompted (such information being the Registration Data) and maintain and promptly update the
    Registration Data to keep it accurate, current and complete. If you provide any information that is inaccurate, not current or incomplete, or SmashMouth
    has reasonable grounds to suspect that such information is inaccurate, not current or incomplete, SmashMouth may deny you access to areas requiring
    registration, at its sole discretion.
</p>
<h3>
    Account Password and Security
</h3>
<p>
    At the time of registration for online account access, you must provide a valid email address and supply a Username and Password to be used in conjunction
    with your account. Many portions of the Site require registration for access (the "Restricted Areas"). You are responsible for maintaining the
    confidentiality of your Username and Password, and are fully responsible for all uses of your Username and Password, whether by you or others. You agree to
    (a) keep your Username and Password confidential and not share them with anyone else; (b) immediately notify SmashMouth of any unauthorized use of your
    Username and Password or account or any other breach of security; and (c) use only your Username and Password to access the Site's Restricted Areas.
    SmashMouth cannot and will not be liable for any loss or damage arising from your failure to comply with this Section.
</p>
<p>
    You acknowledge and agree that SmashMouth is authorized to act on instructions received through use of your Username and Password, and that SmashMouth may,
    but is not obligated to, deny access or block any transaction made through use of your Username and Password without prior notice if we believe your
    Username and Password are being used by someone other than you, or for any other reason.
</p>
<h3>
    Communications and Disclosure
</h3>
<p>
    As a result of your registration for the Site, you may receive certain commercial communications from SmashMouth related to content found on the Site. You
    understand and agree that these communications are part of your registration, and that you may opt out of receiving these communications at any time by
    either using the unsubscribe functionality or sending an email to admin@smashfantasysports.com.
</p>
<p>
    You acknowledge, consent and agree that SmashMouth may access, preserve and disclose your account information and content if required to do so by law or in
    a good faith belief that such access, preservation, or disclosure is reasonably necessary: (i) to comply with legal process; (ii) to enforce these Terms of
    Use; (iii) to respond to claims that any content violates the rights of third parties; (iv) to respond to your requests for customer service; or (v) to
    protect the rights, property, or personal safety of SmashMouth, its users and the public.
</p>
<h3>
    Disqualification
</h3>
<p>
    SmashMouth, in its sole discretion, may disqualify any entrant from the service if entrant engages in conduct SmashMouth deems to be improper, unfair or
    otherwise adverse to the operation of the service or in any way detrimental to other entrants. Improper conduct includes, but is not limited to: falsifying
    personal information required to use the service; violating any of these rules; tampering with the administration of the service or trying to in any way
    tamper with the computer programs associated with this service; obtaining other entrants' information and spamming other entrants; and abusing the
    SmashMouth website in any way. Entrant further acknowledges that the forfeiture of any account shall in no way prevent SmashMouth from pursuing criminal or
    civil proceedings in connection with such conduct. Further this service MAY NOT BE USED FOR ANY FORM OF GAMBLING.
</p>
<p>
    SmashMouth and any partners are not responsible for: any incorrect, invalid or inaccurate entry information; human errors; technical malfunctions;
    failures, including public utility or telephone outages; omissions, interruptions, latency, deletions or defects of any telephone system or network,
    computer online systems, data, computer equipment, servers, providers, or software (including, but not limited to, software and operating systems that do
    not permit an entrant to participate in the service), including without limitation any injury or damage to any entrant's or any other person's computer
    equipment relating to or resulting from participation in the service; inability to access any website, or any web pages of SmashMouth; theft, tampering,
    destruction, or unauthorized access to, or alteration of, entries and/or images of any kind; data that is processed late or incorrectly or is incomplete or
    lost due to telephone, computer or electronic malfunction or traffic congestion on telephone lines or transmission systems, or the Internet, or any service
    provider's facilities, or any phone site or website or for any other reason whatsoever; typographical, printing or other errors, or any combination
    thereof.
</p>
<p>
    SmashMouth and any partners are also not responsible for incomplete, illegible, misdirected or stolen entries. If for any reason the service is not capable
    of running as originally planned, or if the service or website associated therewith (or any portion thereof) becomes corrupted or does not allow the proper
    usage and processing of entries in accordance with the rules, or if infection by a computer (or similar) virus, bugs, tampering, unauthorized intervention,
    actions by entrants, fraud, technical failures, or any other causes of any kind, in the sole opinion of SmashMouth corrupts or affects the administration,
    security, fairness, integrity or proper conduct of the service, SmashMouth reserves the right, in its sole discretion, to disqualify any individual
    implicated in such action and/or to cancel, terminate, extend, modify or suspend the service. If such cancellation, termination, modification or suspension
    occurs, notification will be posted on the SmashMouth website.
</p>
<p>
    The failure of SmashMouth to comply with any provision of these rules due to an act of God, hurricane, war, fire, riot, earthquake, terrorism, act of
    public enemies, actions of governmental authorities outside of the control of SmashMouth (excepting compliance with applicable codes and regulations) or
    other force majeure event will not be considered a breach of these terms.
</p>
<p>
    No professional sports league nor any team associated with any professional sports league is a sponsor or in any way affiliated with this service.
</p>
<h2>
    5. GAME RULES
</h2>
<h3>
    Game of Skill
</h3>
<p>
    SmashMouth is a game of skill. Winners are determined by the criteria stated in SmashMouth's Rules section. For each game, winners are determined by the
    individuals who use their skill and knowledge of relevant professional sports information and fantasy sports rules to accumulate the most fantasy points.
    Fantasy points are accumulated through the performance of individual athletes across multiple sports events.
</p>
<h3>
    Subscription fees
</h3>
<p>
    SmashMouth offers a limited Free Trial. Once a User account's free trial games expire, a subscription may be purchased in US dollars. When you opt to
    participate as a Subscriber, that amount in US dollars will be debited from your credit card provided by you. In the event of a dispute regarding the
    identity of the person registering, the registration will be deemed submitted by the person in whose Username the registration was submitted, or if
    possession of the Username itself is contested, the name in which the email address on file was registered with the email service provider.
</p>
<h3>
    Game Term
</h3>
<p>
    SmashMouth currently offers a weekly game for NBA professional basketball events taking place on a single day or days.
</p>
<h2>
    6. CONDUCT
</h2>
<p>
    As a condition of use, you promise not to use the Site for any purpose that is unlawful or prohibited by these Terms of Use, or any other purpose not
    reasonably intended by SmashMouth. By way of example, and not as a limitation, you agree not to:
</p>
<ul>
    <li>
        abuse, harass, impersonate, intimidate or threaten other SmashMouth users;
    </li>
    <li>
        post or transmit, or cause to be posted or transmitted, any materials ("User Content") that are infringing, libelous, defamatory, abusive, offensive,
        obscene, pornographic or otherwise violates any law or right of any third party;
    </li>
    <li>
        use the Site for any unauthorized purpose, or in violation of any applicable law, including intellectual property laws;
    </li>
    <li>
        post or transmit, or cause to be posted or transmitted, any communication or solicitation designed or intended to obtain password, account, or private
        information from any SmashMouth user;
    </li>
    <li>
        create or submit unwanted email ("Spam") to any other SmashMouth users;
    </li>
    <li>
        infringe upon the intellectual property rights of SmashMouth, its users, or any third party;
    </li>
    <li>
        submit comments linking to affiliate programs, multi-level marketing schemes, sites repurposing existing stories or off-topic content;
    </li>
    <li>
        post, email, transmit, upload, or otherwise make available any material that contains software viruses or any other computer code, files or programs
        designed or functioning to interrupt, destroy, or limit the functionality of any computer software or hardware or telecommunications equipment;
    </li>
    <li>
        use any robot, spider, scraper, sniping software or other automated means to access the Site for any purpose (except for RSS feed access) without our
        express written permission. Additionally, you agree that you will not: (1) take any action that imposes, or may impose in our sole discretion an
        unreasonable or disproportionately large load on our infrastructure; (2) interfere or attempt to interfere with the proper working of the Site or any
        activities conducted on the Site; or (3) bypass any measures we may use to prevent or restrict access to the Site;
    </li>
    <li>
        use artificial means, including creating multiple user accounts, to inflate your position and standing with the SmashMouth leader boards and community;
    </li>
    <li>
        advertise to, or solicit, any user to buy or sell any products or Site, or use any information obtained from the Site in order to contact, advertise
        to, solicit, or sell to any user without their prior explicit consent;
    </li>
    <li>
        sell or otherwise transfer your profile.
    </li>
</ul>
<p>
    Violation of our rules may result in the removal of your content from the Site and/or the canceling of your account. You acknowledge and agree that
    SmashMouth may remove any User Content and terminate any SmashMouth account at any time for any reason (including, but not limited to, upon receipt of
    claims or allegations from third parties or authorities relating to such User Content). To report Terms of Use abuse please contact us.
</p>
<h3>
</h3>
<h3>
    User Content
</h3>
<p>
    You understand that all User Content, including but not limited to profile information and communications with other users, whether privately transmitted
    or made publicly available, is the sole responsibility of the person from which such User Content originated. This means that you, not SmashMouth, are
    entirely responsible for all User Content that you upload, post, share, email, transmit, or otherwise make available via the Site. Under no circumstances
    will SmashMouth be liable in any way for any User Content uploaded, posted, shared, emailed, transmitted or otherwise made available via the Site.
</p>
<p>
    You acknowledge that SmashMouth may or may not pre-screen User Content, but that SmashMouth and its designees have the right (but not the obligation) in
    their sole discretion to pre-screen, refuse, permanently delete, and/or move any User Content available via the Site. Without limiting the foregoing,
    SmashMouth and its designees shall have the right to remove any User Content that violates these Terms or is otherwise objectionable in SmashMouth's sole
    discretion. You understand that by using the Site, you may be exposed to User Content that you may consider to be offensive or objectionable. You agree
    that you must evaluate, and bear all risks associated with, the use or disclosure of any User Content. You further acknowledge and agree that you bear the
    sole risk of reliance on any content available on or through the Site.
</p>
<p>
    With respect to User Content you submit or make available on the Site, you grant SmashMouth an irrevocable, fully sub-licensable, perpetual, world-wide,
    royalty-free, non-exclusive license to use, distribute, reproduce, modify, adapt, publish, translate, publicly perform and publicly display such User
    Content (in whole or in part) and to incorporate such User Content into other works in any format or medium now known or later developed.
</p>
<p>
    You are solely responsible for your interactions with other users of the Site. SmashMouth reserves the right, but has no obligation, to monitor disputes
    between you and other users.
</p>
<h2>
    7. INDEMNITY
</h2>
<p>
    By using the SmashMouth service you agree to release and to hold harmless SmashMouth and each of their respective parents, subsidiaries, affiliates and
    agencies, as well as the officers, directors, employees, shareholders and representatives of any of the foregoing entities from any and all liability,
    claims or actions of any kind whatsoever, including, but not limited to, for injuries, damages or losses to persons and property which may be sustained in
    connection with participation in the service, the receipt, ownership, use or misuse of any claims based on publicity rights, defamation or invasion of
    privacy.
</p>
<h2>
    8. WARRANTY DISCLAIMERS
</h2>
<p>
    You expressly understand and agree that your use of the Site is at your sole risk. The Site is provided on an "AS IS" and "as available" basis. The
    service, content, and site are provided on an "as is" basis, without warranties of any kind, either express or implied, including, without limitation,
    implied warranties of merchantability, fitness for a particular purpose or non-infringement. You acknowledge that SmashMouth has no control over, and no
    duty to take any action regarding: which users gain access to the Site or use the Site; what effects the Content may have on you; how you may interpret or
    use the Content; or what actions you may take as a result of having been exposed to the Content. You release SmashMouth from all liability for you having
    acquired or not acquired Content through the Site or the Site. The Site may contain, or direct you to sites containing, information that some people may
    find offensive or inappropriate. SmashMouth makes no representations concerning any content contained in or accessed through the Site, and SmashMouth will
    not be responsible or liable for the accuracy, copyright compliance, legality or decency of material contained in or accessed through the Site.
</p>
<h2>
    9. LIMITATION ON LIABILITY
</h2>
<p>
    YOU UNDERSTAND AND AGREE THAT SMASHMOUTH SHALL NOT BE LIABLE TO YOU FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING
    WITHOUT LIMITATION DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF SMASHMOUTH HAD BEEN ADVISED OF THE POSSIBILITY OF
    SUCH DAMAGES), RESULTING FROM: (i) THE USE OR THE INABILITY TO USE THE SITE; (ii) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; (iii)
    STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE; OR (iv) ANY OTHER MATTER RELATING TO THE SITE. NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED
    HEREIN, SMASHMOUTH'S LIABILITY TO YOU FOR ANY CAUSE WHATSOEVER AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO THE AMOUNT PAID,
    IF ANY, BY YOU TO SMASHMOUTH FOR GENERAL USE OF THE SITE DURING THE TERM OF YOUR REGISTRATION FOR THE SITE.
</p>
<p>
    Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability for incidental or consequential damages.
    Accordingly, some of the above limitations may not apply to you.
</p>
<h2>
    10. OUR PROPRIETARY RIGHTS
</h2>
<p>
    All title, ownership and intellectual property rights in and to the Site are owned by SmashMouth or its licensors. You acknowledge and agree that the Site
    contains proprietary and confidential information that is protected by applicable intellectual property and other laws. Except as expressly authorized by
    SmashMouth, you agree not to modify, rent, lease, loan, sell, distribute or create derivative works based on the Site, in whole or in part.
</p>
<h2>
    11. LINKS
</h2>
<p>
    The Site provides, or third parties may provide, links to other World Wide Web sites or resources. Because SmashMouth has no control over such sites and
    resources, you acknowledge and agree that SmashMouth is not responsible for the availability of such external sites or resources, and does not endorse and
    is not responsible or liable for any content, advertising, products or other materials on or available from such sites or resources. You further
    acknowledge and agree that SmashMouth shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by
    or in connection with use of or reliance on any such content, goods or services available on or through any such site or resource.
</p>
<h2>
    12. TERMINATION
</h2>
<p>
    SmashMouth may terminate or suspend the Site and any and all services and your SmashMouth account immediately, without prior notice or liability, if you
    breach any of the terms or conditions of the Terms of Use. Upon termination of your account, your right to use the Site will immediately cease. If you wish
    to terminate your SmashMouth account, you may simply discontinue using the Site or contact us via the contact form with a note to say you wish to terminate
    your account. All provisions of the Terms of Use which by their nature should survive termination shall survive termination, including, without limitation,
    ownership provisions, warranty disclaimers, indemnity and limitations of liability.
</p>
<h2>
</h2>
<h2>
    13. NO THIRD PARTY BENEFICIARIES
</h2>
<p>
    You agree that, except as otherwise expressly provided in these Terms, there shall be no third party beneficiaries to the Terms or this Agreement.
</p>
<h2>
    14. NOTICE AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT INFRINGEMENT
</h2>
<p>
    SmashMouth may, in appropriate circumstances and at its discretion, disable and/or terminate the accounts of users who infringe the intellectual property
    of others. If you believe that your work has been copied in a way that constitutes copyright infringement, or your intellectual property rights have been
    otherwise violated, please provide SmashMouth's Copyright Agent a Notice containing the following information:
</p>
<ul>
    <li>
        an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright or other intellectual property interest;
    </li>
    <li>
        a description of the copyrighted work or other intellectual property that you claim has been infringed;
    </li>
    <li>
        a description of where the material that you claim is infringing is located on the site;
    </li>
    <li>
        your address, telephone number, and email address;
    </li>
    <li>
        a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;
    </li>
    <li>
        a statement by you, made under penalty of perjury, that the above information in your Notice is accurate and that you are the copyright or intellectual
        property owner or authorized to act on the copyright or intellectual property owner's behalf.
    </li>
</ul>
<p>
    SmashMouth's Copyright Agent for Notice of claims of copyright or other intellectual property infringement can be reached in the following ways:
</p>
<p>
    Mail: SmashMouth Fantasy Sports LLC,
    <br/>
    7824 Collins Avenue
    <br/>
    4th Floor
    <br/>
    Miami Beach, FL 33141
    <br/>
    Email: admin@smashfantasysports.com
</p>
<h2>
    15. GENERAL INFORMATION
</h2>
<h3>
    Entire Agreement
</h3>
<p>
    These Terms constitute the entire agreement between you and SmashMouth with respect to the Site and supersedes any prior agreements, oral or written,
    between you and SmashMouth.
</p>
<h3>
    Waiver and Severability of Terms
</h3>
<p>
    The failure of SmashMouth to exercise or enforce any right or provision of the Terms shall not constitute a waiver of such right or provision. If any
    provision of the Terms is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give
    effect to the parties' intentions as reflected in the provision, and the other provisions of the Terms remain in full force and effect.
</p>
<h3>
    Statute of Limitations
</h3>
<p>
    You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to the use of the Site or the Terms
    must be filed within one (1) year after such claim or cause of action arose or be forever barred.
</p>
<h3>
    Section Titles
</h3>
<p>
    The section titles in the Terms are for convenience only and have no legal or contractual effect
</p>
			</div>			
		</div>
	</div>
</div>
<script>
</script>