<div class="main-content-bg-login">
    <div id="wrapper-main">
        <div class="wrapper">
            <div id="primary" class="site-content">
                <div id="content" role="main">
                    <div class="login-box">
                        <a href="<?php echo $this->link; ?>">Login using facebook</a>
                    
                    </div>
                </div><!-- #content -->
            </div><!-- #primary -->
            <!-- .secondary -->
        </div>
    </div><!-- #main .wrapper -->
</div>
