<?php echo $this->render('global/navbar.phtml'); ?>
<div class="row-fluid">
	<div id="content" class="span11">
		<div class="span12">
			<div class="row-fluid" id="registerArea">
				<div id="registerLink">Not signed up yet? <a href="/register">Register&nbsp;Now!</a></div>
			</div>
			<div class="row-fluid" id="formArea">
				<div class="offset4 span5">
					<div class="title">Login</div>
					<?php echo $this->flashMessenger(); ?>
					<form name="<?php echo $this->form->getAttrib('name'); ?>" id="<?php echo $this->form->getAttrib('name'); ?>" method="<?php echo $this->form->getAttrib('method'); ?>">
						<div id="form-inputs">
							<div class="errors">
								<?php echo $this->msg; ?>
							</div>                        
							<?php echo $this->form->getElement("username"); ?>
							<?php echo $this->form->getElement("password"); ?>
						</div>
						<button type="submit" class="span4 loginButtonContainer"><div class="loginButton">Log In</div></button>
					</form>
					<div class="row-fluid" id="passwordOptions">
						<div id="remember" class="span12"><input type="checkbox"/><span>Remember me on this computer</span></div>				
						<div id="forget" class="span12"><a href="/authentication/forgetpassword">Forgot your password?</a></div>
					</div>
				</div>
			</div>  		
	  	</div>	  			  			  	
	</div>
</div>




