<div>
    <div id="wrapper-main">
        <div class="wrapper">
            <div id="primary" class="site-content">
                <div id="content" role="main">
                    <div class="login-box">
                        <div class="errors">
                            <?php echo $this->msg; ?>
                        </div>                        
                        <?php echo $this->form; ?>
                    </div>
                </div><!-- #content -->
            </div><!-- #primary -->
            <!-- .secondary -->
        </div>
    </div><!-- #main .wrapper -->
</div>

