@charset "UTF-8";

/* Large desktop */
@media (min-width: 1200px) {
}

/* Old-school monitor size */
@media (max-width: 1199px) {
    .element input {
        width: 87%;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	body {
	   font-size: 11px;
	}
    .member span {
    	width: 40%;
    }
    .overview {
        font-size: 14px;
    }
    #biography {
        width: 65%;
    }
}
 
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 767px) {
    body {
        font-size: 11px;
    }
	#team {
        width: 33%;
        float: left;
	}
	#biography {
        float: right;
        width: 66%;
        font-size: 13px;
	}
	.overview {
        font-size: 13px;
	}
	.member span {
		width: 36%;
	}
}
 
/* Old high-end smart-phones */
@media (min-width: 320px) and (max-width: 479px) {
    #content {
	   height: 240px;
    }
    body {
       font-size: 11px;
    }
	#wrapper-nav {
	   padding-top: 0px;
    }
    .title {
        padding-bottom: 0px;
        font-size: 10px;
        border-bottom: 3px #FA6500 solid;
        font-weight: bold;
        margin-bottom: 3px;
    }
    #team {
        width: 33%;
        float: left;
    }
    #biography {
    	height: 128px;
		line-height: 14px;
		float: right;
		width: 66%;
		letter-spacing: .6px;
		font-weight: bold;
		font-size: 10px;
    }
	.overview {
		height: 43px;
		line-height: 13px;
		font-size: 10px;
	}
	.imageDividerBottom {
		margin: 0 auto 2px;
		height: 2px;
	}
	.members {
		margin-bottom: 0px;
		height: 45px;
    }
    .member {
        margin: 0;
    }
	.member img {
		width: 35px;
		height: 43px;
	}
    .member span {
		text-align: left;
		font-size: 9px;
		line-height: 9px;
		width: 46%;
    }
}

/* Landscape phones and down */
@media (max-width: 319px) {
    #content {
       height: 200px;
    }
    body {
       font-size: 11px;
    }
	#wrapper-header, #wrapper-header #logo, #homepageLink {
	   height: 47px;
	}
	.top-header-right {
		right: 0;
		width: 57px !important;
	}
	.top-header-right > span a {
		line-height: 19px;
		width: 55px;
		height: 19px;
		font-size: 15px;
	}
	.social-pages {
		top: 10px;
	}
	#topNavButtons {
	    margin-top: 0;
	}
    #registerLink {
        font-size: 8px;
    }   
    #wrapper-nav {
       padding-top: 0px;
    }
    .title {
        padding-bottom: 0px;
        font-size: 9px;
        border-bottom: 3px #FA6500 solid;
        font-weight: bold;
        margin-bottom: 3px;
    }
    #team {
        width: 48%;
        float: left;
    }
    #biography {
        height: 91px;
        line-height: 11px;
        float: right;
        width: 51%;
        letter-spacing: .6px;
        font-weight: bold;
        font-size: 10px;
        padding: 1.5px;
    }
    .overview {
        height: 43px;
        line-height: 13px;
        font-size: 10px;
    }
    .imageDividerBottom {
        margin: 0 auto 2px;
        height: 2px;
    }
    .members {
        margin-bottom: 0px;
        height: 32px;
    }
    .member {
    	position: relative;
        margin: 0;
        background-color: antiquewhite;
    }
    .member img {
        width: 35px;
        height: 30px;
    }
	.member span {
		color: white;
		font-weight: bold;
		text-shadow: black 1px 1px;
		top: 0px;
		left: 15px;
		position: absolute;
		text-align: left;
		font-size: 9px;
		line-height: 8px;
		width: 87%;
	}
}