@CHARSET "UTF-8";

#content {
    background: white;
    padding: 1%;
    height: 424px;
    position: relative;
    margin-left: 36px;
}
#content .row-fluid {
    clear: both;
}
.workArea {
	padding: 2px 0 0 1%;
	display: inline-block;
	width: 66%;
	height: 100%;
}
.title {
	padding-bottom: 1px;
	font-size: 20px;
	border-bottom: 3px #FA6500 solid;
	font-weight: bold;
	margin-bottom: 3px;
}
#imageDividerTop {
	background-image: url("../images/AboutUsTop.png");
    background-size: 100% 100%;
    height: 40px;
}
#formArea div {
	clear: both;
}
.overview {
	font-size: 15px;
	line-height: 30px;
    margin: 0;
	padding-bottom: 0px;
    height: 78px;
    text-align: center;
}
.imageDividerBottom {
    margin: 0 auto 6px;
	background-color: #656565;
	height: 6px;
}
#imageDividerBottom1 {
	width: 61%
}
#imageDividerBottom2 {
    width: 71%
}
#imageDividerBottom3 {
    width: 66%
}
#imageDividerBottom4 {
    width: 52%
}
.members {
	margin-bottom: 14px;
	height: 85px;
	overflow-y: auto;
	overflow-x: hidden;
}
.member {
    margin: 4px 0;
    border: 1px dashed transparent;
    cursor: pointer;
}
.member:hover {
    border: 1px dashed #656565;
}
.member:active {
    border: 1px solid #656565;
}
.member img {
	width: 75px;
	height: 75px;
}
.member span {
	width: 55%;
	display: inline-block;
	float: right;
	text-align: right;
    line-height: 14px;
}
#biography {
	width: 60%;
	height: 253px;
    overflow-y: auto;
	padding: 9.5px;
	font-size: 13px;
	line-height: 20px;
	background-color: #f5f5f5;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    color: #333333;
}