@CHARSET "UTF-8";

.element {
	padding-bottom: 1px;
    margin-bottom: 5px;
}
.element input, .element textarea {
	border: 1px #F0F0F0 solid;
	font-size: 14px;
	height: 16px;
	padding-left: 10px;
	background-color: #CCCCCC;
	width: 57%;
	margin: 0;
    color: black;
}
.element textarea {
	height: 70px;
	width: 97%;
}
.element label {
	margin-top: 2px;
}
#content {
    background: white;
    padding: 1%;
    height: 420px;
    position: relative;
    margin-left: 36px;
}
#content .row-fluid {
    clear: both;
}
.vBanner {
	display: inline-block;
	height: 379px;
	width: 16%;
    background-size: 100% 100%;
}
.vBanner.left {
	background-image: url("../images/ContactUsLeftPic.gif");
    float: left;
}
.vBanner.right {
    background-image: url("../images/ContactUsRightPic.gif");
	clear: none !important;
	float: right;
}
.workArea {
	padding: 2px 0 0 1%;
	display: inline-block;
	width: 66%;
	height: 100%;
}
#registerLink {
	float: right;
	margin-right: 2%;
	font-size: 12px;
}
.title {
	padding-bottom: 8px;
	font-size: 28px;
	border-bottom: 7px #FA6500 solid;
	font-weight: bold;
	margin-bottom: 7px;
}
#formArea div {
	clear: both;
}
.contact-note {
	font-size: 15px;
	line-height: 15px;
	padding-bottom: 0px;
    height: 78px;
}
.reqlabel {
	/*display: none;*/
}
#contactfrm {
	margin: 0;
	background-color: #F0F0F0;
	padding: 2px 2% 0;
	height: 255px;
}
#contactfrm button[type='submit'] {
	min-height: 1px;
	height: 23px;
	padding: 0;
	background: none;
	border: none;
	margin: -4px 0 0;
	z-index: 100;
	position: relative;
}
.sendButtonContainer {
    color: white;
    font-size: 17px;
    font-weight: bold;
    line-height: 23px;
}
.sendButton {
	background-image: url("../images/HomeBannerButton1.png");
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}
.element:not(.flt-left) {
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0;
}