@charset "UTF-8";

/* Large desktop */
@media (min-width: 1200px) {
}

/* Old-school monitor size */
@media (max-width: 1199px) {
    .element input {
        width: 87%;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	body {
	   font-size: 11px;
	}
    .element input {
        width: 86%;
    }
	.contact-note {
		font-size: 13px;
		line-height: 13px;
	}
}
 
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 767px) {
    body {
       font-size: 11px;
    }
    .element input {
        width: 86%;
    }
    .contact-note {
        font-size: 13px;
        line-height: 13px;
    }
	.sendButtonContainer {
		margin: -4px auto 0 !important;
		width: 22% !important;
	}
}
 
/* Old high-end smart-phones */
@media (min-width: 320px) and (max-width: 479px) {
	input[type="checkbox"] {
        margin: -3px 0 0;
	}
	input[type="text"], input[type="password"], .element textarea {
		height: 10px;
        font-size: 10px;
        line-height: 10px;
		font-weight: bold;
	}
	.element {
		overflow: inherit;
		padding-bottom: 0px;
		margin-bottom: 0px;
    }
	.element textarea {
		height: 67px;
		width: 90%;
	}
    .element label {
    	margin: 0px;
        font-size: 10px;
        line-height: 10px;
    }
    #content {
	   height: 201px;
    }
    body {
       font-size: 11px;
    }
    .element input {
        width: 86%;
    }
	.title {
		padding-bottom: 2px;
		font-size: 15px;
		border-bottom: 3px #FA6500 solid;
		font-weight: bold;
		margin-bottom: 3px;
	}
	.vBanner {
		height: 179px;
		width: 15.9%;
	}
	#contactfrm {
		height: 153px;
    }
	.contact-note {
		text-shadow: white 1px 1px;
		word-break: break-word;
		width: 15%;
		top: 21px;
		left: 6px;
		position: absolute;
		font-size: 9px;
		line-height: 8px;
	}
	.sendButtonContainer {
		top: 49% !important;
		font-size: 12px !important;
		left: 84% !important;
		position: absolute !important;
		width: 14% !important;
	}
	#wrapper-nav {
	   padding-top: 0px;
    }
}

/* Landscape phones and down */
@media (max-width: 319px) {
    input[type="checkbox"] {
        margin: -3px 0 0;
    }
    input[type="text"], input[type="password"], .element textarea {
        height: 10px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
    }
    .element {
        overflow: inherit;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .element textarea {
        height: 67px;
        width: 90%;
    }
    .element label {
        margin: 0px;
        font-size: 10px;
        line-height: 10px;
    }
    #content {
       height: 200px;
    }
    body {
       font-size: 11px;
    }
    .element input {
        width: 86%;
    }
	#wrapper-header, #wrapper-header #logo, #homepageLink {
	   height: 47px;
	}
	.top-header-right {
		right: 0;
		width: 57px !important;
	}
	.top-header-right > span a {
		line-height: 19px;
		width: 55px;
		height: 19px;
		font-size: 15px;
	}
	.social-pages {
		top: 10px;
	}
	#topNavButtons {
	    margin-top: 0;
	}
    #registerLink {
        font-size: 8px;
    }   
    .title {
        padding-bottom: 2px;
        font-size: 15px;
        border-bottom: 3px #FA6500 solid;
        font-weight: bold;
        margin-bottom: 3px;
    }
	.vBanner {
		height: 186px;
		width: 15.6%;
	}
	.workArea {
		padding: 2px 0 0 1.2%;
    }
    #contactfrm {
        height: 164px;
    }
	.contact-note {
		text-shadow: white 1px 1px;
		font-weight: bold;
		word-break: break-word;
		width: 15%;
		top: 13px;
		left: 6px;
		position: absolute;
		font-size: 8px;
		line-height: 7px;
	}
    .sendButtonContainer {
        top: 49% !important;
        font-size: 12px !important;
        left: 84% !important;
        position: absolute !important;
        width: 14% !important;
    }
    #wrapper-nav {
       padding-top: 0px;
    }
}