@CHARSET "UTF-8";
table {
	width: 100%;
	margin: 1px;
}
table td:last-child, table th:last-child {
    width: 32%;
}
table td:first-child, table th:first-child {
	width: 68%;
}
thead {
	display: block;
	border-bottom: 2px solid #22303A;
}
tbody {
	display: block;
	height: 90px;
	overflow: auto;
}
tr {
	display: table;
	width: 100%;
}
tbody tr:hover {
	background-color: #D7D7D7;
}
th {
	color: #FF6D00;
	text-align: left;
}
th, td {
	display: table-cell;
	padding-left: 2px;
	text-align: left;
}
td.right {
	padding-right: 5%;
    text-align: right;
}
#content {
    padding: 1%;
    height: 424px;
    position: relative;
    margin-left: 36px;
}
#content .row-fluid {
    clear: both;
}
.das-box {
	overflow: hidden;
	height: 193px;
	background-color: #22303A;
	float: left;
	margin: .5% 1%;
	min-height: 90px;
	width: 47.5%;
}
.das-box.ui-corner-all,
.das-box .tab-menu.ui-corner-all,
.das-box .tab-menu .ui-corner-top {
	border-radius: 0;
}
.das-box.small {
	margin-top: 4%;
	height: inherit;
}
.das-box button,
.das-box .tab-menu li  {
	font-weight: bold;
	width: 32.7%;
	margin-top: .5% !important;
    margin-left: .3%;
    margin-right: .3%;
    margin-bottom: 0 !important;
    padding: 0;
	height: 40px;
	font-size: 14px;
	line-height: 12px;
    cursor: pointer;
    border: 0;
    border-radius: 3px !important;
}
.tabs {
    padding: 0;	
}
.tab-menu li {
	position: relative;
}
.newAlert {
	text-align: center;
	color: white;
	font-size: 75%;
	border-radius: 50%;
	top: 3%;
	right: 2%;
	z-index: 100;
	background-color: crimson;
	height: 34%;
	width: 10%;
	position: absolute;
    line-height: normal;
    display: none;
}
.newAlert.show {
    display: block;
    -webkit-animation-name: swell;
    -webkit-animation-duration: 330ms;
    -webkit-animation-iteration-count: 8;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
    -moz-animation-name: swell;
    -moz-animation-duration: 330ms;
    -moz-animation-iteration-count: 8;
    -moz-animation-timing-function: linear;
    -moz-animation-direction: alternate;
    -ms-animation-name: swell;
    -ms-animation-duration: 330ms;
    -ms-animation-iteration-count: 8;
    -ms-animation-timing-function: linear;
    -ms-animation-direction: alternate;
}
@-moz-keyframes swell {
    from { height: 34%; width: 10%; font-size: 75%;}
    to { height: 40%; width: 12%; font-size: 87%;}
}
@-webkit-keyframes swell {
    from { height: 34%; width: 10%; font-size: 75%;}
    to { height: 40%; width: 12%; font-size: 87%;}
}
@keyframes swell {
    from { height: 34%; width: 10%; font-size: 75%;}
    to { height: 40%; width: 12%; font-size: 87%;}
}
.ui-widget-header {
    border: none;
    background: none;
    color: inherit;
    font-weight: normal;
}
.ui-widget-content {
	border: none;
	background: none;
    background-color: #22303A;
	color: inherit;
}
.ui-tabs .ui-tabs-panel, .ui-tabs .ui-tabs-nav {
	padding: 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: 0;
    padding-bottom: 0;
}
.ui-tabs .ui-tabs-nav li a {
	white-space: normal;
	width: 59%;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	height: 40px;
	text-decoration: none;
	float: none;
	padding: 0;
}
.workArea {
	background-color: #EFEFEF;
	margin: .5%;
	border: 8px solid #D7D7D7;
	height: 131px;
    text-align: center;
    position: relative;
}
.das-box.small .workArea {
	height: 110px;
}
.workArea > div:not(:first-child) {
	display: none;
}
#opponentButton {
	max-width: 161px;
	width: 60%;
}
.slug {
	margin: 4%;
    text-align: left;
}
#friendlist {
	margin: 8px 20px;
	list-style: none;
    border-top: 1px solid #313131;
    border-right: 1px solid #8E8E8E;
    border-bottom: 1px solid #A2A2A2;
    border-left: 1px solid #090909;
    box-shadow: 0 0 0 5px #CACBCB;
    overflow-y: auto;
    height: 81px;
}
#friendlist li {
	background-color: #C5C5C5;
}
#friendlist li.even {
    background-color: #D4D4D4;
}
#friendlist li.empty {
    background-color: transparent;
    position: relative;
    top: 35%;
}
#friendSearch {
	width: 360px;
	color: rgb(230, 230, 230);
	margin-bottom: 0px;
	margin-top: 7px;
}
#sendInviteList {
	font-size: 12px;
    line-height: 12px;
    height: 60px;
}
#sentInvites .siteButton {
	display: none;
}
.ui-menu .ui-menu-item a {
	background-color: white;
}
.email {
	color: #0074c7;
	font-weight: bold;
}
.empty {
	top: 53px;
	position: relative;
}
#friendlist li {
	cursor: pointer;
}
#friendlist li a {
	transition-property: color, text-shadow, font-weight;
    transition-duration: .5s;
}
#friendlist li.selected {
	border: 2px dotted orange;
}
#friendlist li.selected a, #friendlist li a:hover {
	font-weight: bold;
	text-shadow: 18px -4px black;
	color: white;
	text-decoration: none;
}

#message-box {
	display: block;
    border: solid 4px rgb(187, 187, 187);
    background-color: wheat;
    opacity: 0;
    width: 0%;
    height: 0%;
    right: 10%;
    position: absolute;
    top: 32%;
    z-index: 1999;
    -webkit-transition: width height opacity 1s ease-in-out;
    -moz-transition: width height opacity 1s ease-in-out;
    -o-transition: width height opacity 1s ease-in-out;
    transition: width height opacity 1s ease-in-out;
}

#message-box.show {
	display: block;
	width: 42%;
	height: 30%;
    opacity: 1;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 220ms;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 220ms;
    -moz-animation-iteration-count: 2;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 220ms;
    -ms-animation-iteration-count: 2;
    -ms-animation-timing-function: linear;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
#message-box header {
	z-index: 2000;
	left: 17%;
	top: -5%;
	width: 68%;
	height: 18%;
	color: wheat;
	background-color: #222222;
	position: absolute;
	border-radius: 10px 10px;
}
#messageText {
	margin: 3% 2%;
	width: 94%;
	height: 81%;
}
#messageTitle {
	position: relative;
	top: 21%;
	font-size: 110%;
	font-weight: bold;
	text-align: center;
}
#sendMessageButton {
	right: 14%;
	bottom: -8%;
	z-index: 2000;
	position: absolute;
	width: 26%;
	height: 18%;
	border-radius: 10px;
	font-weight: bold;
	color: wheat;
	background-color: #222;
}
#cancelMessageButton {
    right: 3%;
    bottom: -8%;
    z-index: 2000;
    position: absolute;
    width: 13%;
    height: 18%;
    border-radius: 10px;
    font-weight: bold;
    color: wheat;
    background-color: #222;
}
#sendMessageButton:focus, #cancelMessageButton:focus {
	outline: none;
}
.green {
	color: #009900;
}

.red {
	color: #CC0000;
}

#smashboardLink {
	letter-spacing: 1px;
	text-decoration: underline;
	font-size: 17px;
	font-weight: bold;
	padding: 1% 2.3% 0 0;
	float: right;
}