@charset "UTF-8";

/* Large desktop */
@media (min-width: 1200px) {
}

/* Old-school monitor size */
@media (max-width: 1199px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	body {
	   font-size: 12px;
	}
    .siteButton {
	   width: 63px;
    }
    .das-box button {
    	font-size: 12px;
        line-height: 12px;
    }
}
 
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 767px) {
    body {
        font-size: 11px;
    }
    .span6 {
        display: inline-block !important;
        width: 47% !important;
    }
    .siteButton {
        max-width: 80px;
        width: 100%;
    }
    .das-box button {
        font-size: 10px;
        line-height: 11px;
    }
}
 
/* Old high-end smart-phones */
@media (min-width: 320px) and (max-width: 479px) {
    #content {
	   height: 257px;
    }
    body {
       font-size: 9px;
    }
    tbody {
	    height: 54px;
    }
    #wrapper-nav {
    	padding-top: 0px;
    }
    .noBreak {
	   white-space: normal;
    }
    .span6 {
        display: inline-block !important;
        width: 47% !important;
    }
    .siteButton {
    	line-height: 15px;
        height: 16px;
        max-width: 80px;
        width: 100%;
    }
    #opponentButton.siteButton {
        height: 24px;
        padding-top: 5px;
        line-height: 9px;
    }
	.das-box {
	   height: 124px;
	}
	.das-box.small .workArea {
	   height: 96px;
	}
	.workArea {
	   height: 74px;
	   line-height: 10px;
	}
    .das-box button {
    	height: 32px;
        font-size: 9px;
        line-height: 9px;
    }
    .das-box button span {
    	display: block;
    }
    #friendlist {
    	height: 38px;
    }
    #friendlist li {
        line-height: 10px;
    }
    .slug {
        margin: 8%;
    }
}

/* Landscape phones and down */
@media (max-width: 319px) {
    #content {
       height: 200px;
    }
    body {
       font-size: 9px;
    }
    tbody {
        height: 44px;
    }
	#wrapper-header, #wrapper-header #logo, #homepageLink {
	   height: 47px;
	}
	.top-header-right {
		right: 0;
		width: 57px !important;
	}
	.social-pages {
		top: 10px;
	}
	#topNavButtons {
	    margin-top: 0;
	}
    #registerLink {
        font-size: 8px;
    }   
    #wrapper-nav {
        padding-top: 0px;
    }
    .noBreak {
		font-size: 8px;
		white-space: normal;
    }
    .span6 {
        display: inline-block !important;
        width: 47% !important;
    }
    .siteButton {
        line-height: 15px;
        height: 16px;
        max-width: 80px;
        width: 100%;
    }
    #opponentButton.siteButton {
        height: 24px;
        padding-top: 5px;
        line-height: 9px;
    }
    .das-box {
        height: 97px;
    }
    .das-box.small {
    	margin-top: 2%;
    }
    .das-box.small .workArea {
        height: 84px;
    }
    .workArea {
		height: 62px;
		line-height: 10px;
        border: 2px solid #D7D7D7;
    }
    .das-box button {
        height: 29px;
		text-shadow: 1px 1px whitesmoke;
		letter-spacing: -.7px;
		font-family: code;
		font-size: 9px;
		line-height: 8px;
    }
    .das-box button span {
        display: block;
    }
    #friendlist {
		margin: 8px 6px;
		height: 27px;
    }
    #friendlist li {
        line-height: 10px;
    }
    .slug {
        margin: 7%;
    }
}