
a{
    text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
}
a:focus{
    outline: none;
    border: none;
}
img{
	max-width: 100%;
	height: auto;
}
p{font-family: Arial, Helvetica, sans-serif;
	color: #6E7D90;
}
h1,h2,h3,h4,h5,h6{font-family: Arial, Helvetica, sans-serif; font-weight: normal;}
h1{font-size: 38px;}
h2{font-size: 20px;}
h3{font-size: 16px;}
h4{font-size: 12px;}

