@CHARSET "UTF-8";

#content {
    padding: 1%;
    height: 424px;
    position: relative;
    margin-left: 36px;
}
#content .row-fluid {
    clear: both;
}
.workarea {
    display: inline-block;
    height: 380px;
    overflow: auto;
    padding: 1% 0 1% 1%;
    width: 100%;
}
.title {
	padding-bottom: 1px;
    padding-left: 2px;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 3px;
    float: left;
}
.slug {
	float: right;
    padding-bottom: 1px;
    margin-bottom: 3px;
}
#statistics {
	border: solid 1px black;
	background-color: white;
	height: 377px;
    overflow: hidden;
}
.pagination {
	margin: 4px 10px;
	float: right;
    clear: both;
}
.pagination button {
	line-height: 19px;
	height: 24px;
}
.row-fluid.header {
    height: 30px;
}
.row-fluid.header {
	width: 98.2%;
    margin: 0 auto;
}
.header button {
	border: 2px outset buttonface;
}
#table {
	width: 98%;
	margin: 0 auto;
    clear: both;
    border: 1px #B6B6B6 solid;
}
#table .row-fluid {
    height: 14px;
}
#table button {
	margin: 0;
}
#table span, .header button {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 100%;
    line-height: normal;
    text-align: center;
    vertical-align: top;
    width: 24.8%;
}
#table span {
	border-right: 1px #B6B6B6 solid;
}
.row-fluid.even {
    background-color: #D7D7D7;
}
.indent {
    margin-left: 15px;
}