@charset "UTF-8";

/* Large desktop */
@media (min-width: 1200px) {
    .primary-list-box .span4 {
        width: 31%;
        text-align: center;
        display: inline-block;
    }
	.primary-list-box button {
		width: 264px;
        height: 97px;
    }
}

/* Old-school monitor size */
@media (max-width: 1199px) {
	#featuredButtons a {
	   font-size: 17px;
	}
    .primary-list-box button {
		width: 214px;
		height: 78px;
        font-size: 28px;
        line-height: 28px;
    }
    .primary-list-box button div.small {
        font-size: 21px;
        line-height: 21px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.top-header-right span {
        clear: right;
    }
    #featuredButtons a, #topNavButtons a {
       font-size: 12px;
        height: 30px;
        line-height: 30px;
    }
    #topNavButtons a {
       font-size: 16px;
    }
    .primary-list-box button {
        width: 157px;
        height: 57px;
		font-size: 24px;
		line-height: 24px;
        margin-left: 19px;
	}
    .primary-list-box button div.small {
        font-size: 15px;
        line-height: 15px;
    }
    #wrapper-nav .pad {
    	padding-left: 14px;
    }   
	.row-fluid .offset2:first-child {
	   margin-left: 8.56353591160221%;
	}
	.row-fluid .span8 {
	   width: 82.87292817679558%;
	}
}

@media (max-width: 767px) {
	body {
		padding-left: 10px;
		padding-right: 10px;
	}
}

/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 767px) {
    .top-header-right span {
        clear: right;
    }
    #user-identity {
    	font-size: 13px;
    }
    #featuredButtons a, #topNavButtons a {
        font-size: 11px;
        height: 30px;
        line-height: 30px;
    }
    .primary-list-box .span4 {
		width: 32%;
		text-align: center;
		display: inline-block;
    }
    .primary-list-box button {
        width: 144px;
        height: 53px;
        font-size: 23px;
        line-height: 23px;
    }
    .primary-list-box button div.small {
        font-size: 15px;
        line-height: 15px;
    }
    #wrapper-nav .span2 {
        width: 16%;
        text-align: center;
        display: inline-block;
    }    
    #wrapper-nav .span3 {
        width: 24%;
        text-align: center;
        display: inline-block;
    }
    #wrapper-nav a {
        font-size: 11px;
    }
    #wrapper-nav .pad {
        padding-left: 14px;
    }    
}
 
/* Old high-end smart-phones */
@media (min-width: 320px) and (max-width: 479px) {
   body {
        line-height: 14px;
    }
	.social-pages a img {
		margin-top: 14px;
		width: 22px;
		height: 22px;
	}    
	.top-header-right {
	    top: 5px;
	}
    .top-header-right span {
        clear: right;
    }
    #user-identity {
        font-size: 13px;
    }
    .top-header-right > span:not(#user-identity) a {
        width: 58px;
        height: 27px;
        font-size: 15px;
    }
	#featuredButtons a, #topNavButtons a {
		letter-spacing: 0.8px;
        height: 30px;
        line-height: 30px;
		font-size: 9px;
	}
	#featuredButtons a.smallwrap {
		white-space: pre-wrap;
        line-height: 15px;
		height: 30px;
    }
    #topNavButtons a {
        position: relative;
    }
    #topNavButtons a div {
        word-break: break-word;
        width: 100%;
        top: 50%;
        margin: auto;
        margin-top: -4.5px;
        position: absolute;
        white-space: normal;
        line-height: 9px;
    }
    #topNavButtons span {
       display: block;
    }
    .slider iframe {
    	height: 200px;
    }
    .primary-list-box .span4 {
        width: 32%;
        text-align: center;
        display: inline-block;
    }
    .primary-list-box button {
        width: 84px;
        height: 31px;
        font-size: 12px;
        line-height: 12px;
    }
    .primary-list-box button div.small {
        font-size: 11px;
        line-height: 11px;
    }
    #wrapper-nav .span2 {
        width: 16%;
        text-align: center;
        display: inline-block;
    }    
    #wrapper-nav .span3 {
        width: 24%;
        text-align: center;
        display: inline-block;
    }
    #wrapper-nav a {
        font-size: 10px;
    }
    #wrapper-nav div {
        line-height: 14px;
        height: 14px;
        margin-right: 14px;
        min-height: 14px;
    }
	#copyright {
		font-size: 7px;
		padding: 3px 0;
	}   
}

/* Landscape phones and down */
@media (max-width: 319px) {
	body {
        line-height: 10px;
	}
    .row-fluid [class*="span"] {
       min-height: 20px;
    }
    .social-pages a img {
        margin-top: 14px;
        width: 22px;
        height: 22px;
    }      
    .top-header-right {
        top: 5px;
    }
    .top-header-right span {
        clear: right;
    }
    #user-identity {
    	padding-top: 0px;
        font-size: 11px;
    }
	.top-header-right > span:not(#user-identity) a {
	    width: 58px;
	    height: 18px;
	    font-size: 13px;
	    line-height: 18px;
	}
    #featuredButtons a, #topNavButtons a {
		letter-spacing: .5px;
        height: 20px;
        line-height: 20px;
		font-size: 8px;
		font-family: code;
    }
    #featuredButtons a.smallwrap {
        white-space: pre-wrap;
        height: 30px;
        line-height: 15px;
    }
	#topNavButtons span {
		display: block;
	}
    #topNavButtons a {
        position: relative;
        font-size: 9px;
    }
    #topNavButtons a div {
        word-break: break-word;
        width: 100%;
        top: 50%;
        margin: auto;
        margin-top: -8.5px;
        position: absolute;
        white-space: normal;
        line-height: 9px;
    }
    .slider iframe {
        height: 83px;
    }
    .primary-list-box button {
		width: 53px;
		height: 19px;
        font-size: 8px;
        line-height: 8px;
        position: relative;
    }
    .primary-list-box button div.small {
		left: 1px;
		top: 0px;
        font-size: 9px;
        line-height: 9px;
        position: absolute;
        z-index: 2;
    }
    .primary-list-box button div.orange {
        position: absolute;
        z-index: 1;
    }
    .primary-list-box button div.play {
    	left: 15px;
    }    
    .primary-list-box .span4 {
        width: 31%;
        text-align: center;
        display: inline-block;
        margin-bottom: 1px;
    }
	#wrapper-nav {
	   padding-top: 0px;
	}
    #wrapper-nav .span2 {
        width: 16%;
        text-align: center;
        display: inline-block;
    }    
    #wrapper-nav .span3 {
        width: 30%;
        text-align: center;
        display: inline-block;
    }
    #wrapper-nav a {
        font-size: 8px;
        text-shadow: 1px 1px rgb(201,201,201);
    }
    #wrapper-nav div {
		line-height: 10px;
		height: 10px;
		margin-right: 31px;
		min-height: 10px;
    }
    #copyright {
        line-height: 10px;
        font-size: 7px;
        padding: 3px 0;
    }
}