@charset "UTF-8";

/* Large desktop */
@media (min-width: 1200px) {
}

/* Old-school monitor size */
@media (max-width: 1199px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	body {
	   font-size: 11px;
	}
}
 
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 767px) {
    body {
        font-size: 11px;
    }
}
 
/* Old high-end smart-phones */
@media (min-width: 320px) and (max-width: 479px) {
    #content {
	   height: 257px;
    }
    body {
       font-size: 11px;
    }
	#wrapper-nav {
	   padding-top: 0px;
    }
    .title {
        position: absolute;
        padding-bottom: 0px;
        font-size: 11px;
        font-weight: bold;
        margin-bottom: 3px;
    }
	.slug {
		bottom: 0px;
		position: absolute;
	}
	.pagination button {
		padding: 2px;
		font-size: 10px;
		line-height: 10px;
		height: 16px;
	}
	.row-fluid.header {
	   height: 15px;
    }
	#statistics {
		height: 234px;
    }
	#table span, .header button {
		white-space: nowrap;
		padding: 0;
		line-height: 11px;
		font-size: 10px;
    }
}

/* Landscape phones and down */
@media (max-width: 319px) {
    #content {
       height: 200px;
    }
    body {
       font-size: 11px;
    }
	#wrapper-header, #wrapper-header #logo, #homepageLink {
	   height: 47px;
	}
	.top-header-right {
		right: 0;
		width: 57px !important;
	}
	.top-header-right > span a {
		line-height: 19px;
		width: 55px;
		height: 19px;
		font-size: 15px;
	}
	.social-pages {
		top: 10px;
	}
	#topNavButtons {
	    margin-top: 0;
	}
    #registerLink {
        font-size: 8px;
    }   
    #wrapper-nav {
       padding-top: 0px;
    }
    .title {
        position: absolute;
        padding-bottom: 0px;
        font-size: 9px;
        font-weight: bold;
        margin-bottom: 3px;
    }
    .slug {
		letter-spacing: 0.4px;
		font-weight: bold;
		font-family: code;
		font-size: 8px;
        bottom: 0px;
        position: absolute;
    }
    .pagination {
	   margin: 8px 2px 1px;
    }
    .pagination button {
        padding: 2px;
        font-size: 9px;
        line-height: 9px;
        height: 14px;
    }
    .row-fluid.header {
       height: 14px;
    }
    #statistics {
        height: 178px;
    }
    #table span, .header button {
        white-space: nowrap;
        padding: 0;
        line-height: 10px;
        font-size: 9px;
    }
}