@charset "UTF-8";

/* Large desktop */
@media (min-width: 1200px) {
}

/* Old-school monitor size */
@media (max-width: 1199px) {
    .element input {
        width: 87%;
    }
    .loginButtonContainer {
        font-size: 14px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	body {
	   font-size: 11px;
	}
    .element input {
        width: 86%;
    }
	.loginButtonContainer {
        font-size: 14px;
	}
}
 
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 767px) {
	#registerLink {
		width: 25%;
    }
    #formArea {
	   margin-left: 2%;
    }
    .title {
	   text-shadow: black 3px -2px;
        color: white;
    }
    .loginButtonContainer {
		margin: -3% auto !important;
		float: none !important;
		width: 25% !important;	
    }
    #passwordOptions {
		position: absolute;
        top: 83%;
        left: 63%;
    }
	#remember, #forget {
		margin-left: 0;
        font-size: 9px;
	}
	#remember span {
	   margin-left: 2px;
    }
    #forget {
	   display: block;
        margin-top: -5px;
    }
}
 
/* Old high-end smart-phones */
@media (min-width: 320px) and (max-width: 479px) {
	input[type="checkbox"] {
        margin: -3px 0 0;
	}
	input[type="text"], input[type="password"] {
		height: 10px;
        font-size: 10px;
        line-height: 10px;
	}
    .element {
        overflow: inherit;
        margin: 0;
    }
    .element label {
    	margin: 0px;
    }
    #content {
	   height: 180px;
    }
    #registerArea {
        position: absolute;
        z-index: 1;
    }
    #registerLink {
        margin-right: 4%;
    }    
    #formArea {
        position: absolute;
        top: 0px;
        z-index: 0;
    }
    #loginfrm {
	   position: relative;
    }
	#loginfrm #form-inputs {
		height: 95px;
		width: 64%;
		background-color: #F9F9F9;
		margin: 2% 0 5% 30%;
    }
    .errors {
		font-size: 0.7em;
	}
    .title {
       text-shadow: black 3px -2px;
        color: white;
    }
	.loginButtonContainer {
		font-size: 11px !important;
		position: absolute !important;
		top: 102% !important;
		line-height: 26px !important;
		height: 20px !important;
		width: 50px !important;
		margin-left: 28% !important;
	}
	#passwordOptions {
	   font-size: 10px;
	}
	#remember, #forget {
	   position: absolute;
	}
	#forget {
        top: 99.5%;
        margin-left: 61%;
	}
	#remember {
		top: 83%;
		margin-left: 56%;
	}
	#remember span {
		width: 35%;
		line-height: 100%;	
	}
}

/* Landscape phones and down */
@media (max-width: 319px) {
    input[type="checkbox"] {
        margin: -3px 0 0;
    }
    input[type="text"], input[type="password"] {
        height: 10px;
        font-size: 10px;
        line-height: 10px;
    }
    .element {
        overflow: inherit;
        margin: 0;
    }
    .element label {
    	line-height: 15px;
    	font-size: 10px;
        margin: 0px;
    }
    #content {
       height: 120px;
    }
    #registerLink {
    	font-size: 9px;
        margin-right: 4%;
    }
    #registerArea {
        position: absolute;
        z-index: 1;
    }
    #formArea {
		position: absolute;
		top: 0px;
        z-index: 0;
    }
    #loginfrm {
       position: relative;
    }
    #loginfrm #form-inputs {
        height: 83px;
        width: 64%;
        background-color: #F9F9F9;
        margin: 2% 0 5% 30%;
    }
	.errors {
		font-family: code;
		line-height: 6px;
		width: 21%;
		right: 5%;
		position: absolute;
		font-size: 8px;
	}
	.title {
		margin-top: 8px;
		font-size: 20px;
		text-shadow: black 3px -1px;
		color: white;
	}
	.loginButtonContainer {
		font-size: 15px !important;
		position: absolute !important;
		top: 81% !important;
		line-height: 20px !important;
		height: 20px !important;
		width: 50px !important;
		margin-left: 73% !important;
	}
    #passwordOptions {
        font-size: 10px;
    }
    #remember, #forget {
        position: absolute;
        font-weight: bold;
        font-family: code;
        font-size: 9px;
    }
    #forget {
		width: 43%;
		top: 74%;
		margin-left: 30%;
    }
	#remember {
		font-weight: bold;
		font-family: code;
		font-size: 10px;
		top: 27%;
		margin-left: -4px;
        width: 30%
	}
	#remember span {
		padding: 0 0 0 2%;
		width: 75%;
		line-height: 100%;
	}
}