@CHARSET "UTF-8";

#loginButton {
    display: none;
}
#registerLink {
	float: right;
	margin-right: 2%;
	margin-top: 2%;
	font-size: 12px;
}
#content {
    background-image: url("../images/LogInBG.gif");
    background-origin: content-box;
    padding: 1%;
    height: 396px;
    position: relative;
    margin-left: 36px;
}
#content .row-fluid {
    clear: both;
}
.title {
	font-size: 28px;
	font-weight: bold;
	margin-top: 3%; 
}
#formArea div {
	clear: both;
}
#loginfrm #form-inputs {
	background-color: #F9F9F9;
    margin: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%
}
.reqlabel {
	display: none;
}
#loginfrm button[type='submit']{
    background: none;
    border: none;
    float: right;
    margin-right: 3%;
}
.loginButton {
	background-image: url("../images/LogInButton.png");
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
}
.loginButtonContainer {
    font-size: 19px;
    font-weight: bold;
    color: white;
    line-height: 35px;
}
#remember {
	margin-top: 2%;
    margin-left: 0px;
    float: left;
    min-height: 20px;
}
#remember span {
	display: inline-block;
	margin-left: 2%;
	vertical-align: text-top;
    min-height: 20px;
}
#forget {
	margin-left: 0;
	float: left;
    min-height: 20px;
}

.element:not(.flt-left) {
    background-color: #F9F9F9;
    padding: 0 !important;
}