@CHARSET "UTF-8";

.scoreboardContainer {
    background: url("../images/TopScoreboardDisplay.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    height: 47px;
    margin-left: 0 !important;
    position: absolute;
    top: 65px;
    z-index: 3;
}
.scoreboard-title-container {
	display: inline-block;
	height: 100%;
	width: 17%;
    float: left;
}
.scoreboard-title-container .left {
	display: inline-block;
	height: 100%;
	background: url("../images/TopScoreboardLeft.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
	width: 68%;
    float: left;
}
.scoreboard-title {
    color: #FFFFFF;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 9px;
    padding: 7% 4%;
    text-align: right;
    text-shadow: 1px 1px #000000;
}
.scoreboard-title-container .right {
	display: inline-block;
	height: 100%;
	width: 32%;
    float: left;
}
.scoreboard-scroll-button {
	width: 36%;
	height: 100%;
	background: url("../images/TopScoreboardButton.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}
.scoreboard-scroll-button:hover, .scoreboard-scroll-button.disabled {
    background: url(../images/TopScoreboardButtonDown.png) no-repeat;
    background-size: 100% 100%;
}
.scoreboard {
    display: inline-block;
    float: left;
    height: 74%;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    width: 61%;
}
.gameContainer {
	padding: 0 3px;
	font-size: 16px;
	margin: 0 -2px 0 0;
	height: 100%;
	display: inline-block;
	background: url(../images/Scoreboard.png) no-repeat;
	background-size: 100% 100%;
	color: black;
	font-weight: bold;
	font-family: 'League Gothic','Bebas Neue','Arial Narrow', Arial, sans-serif;
}
.column {
	display: inline-block;
	height: 100%;
	margin: -2px 5px 0;
	line-height: 18px;
	text-align: center;
}
.home, .away, .time, .timezone, .quarter, .clock {
    display: block;
    height: 58%;
}
.colspan2 {
	line-height: 200%;
	font-family: Arial Black;
	font-size: 94%;
    text-align: center;
}
.scoreboard-back-button {
    width: 2%;
    display: inline-block;
    float: left;
    height: 100%;
    background: url("../images/TopScoreboardBackButton.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}
.scoreboard-back-button:hover, .scoreboard-back-button.disabled {
    background: url(../images/TopScoreboardBackButtonDown.png) no-repeat;
    background-size: 100% 100%;
}
.gutter {
    width: 20%;
    display: inline-block;
    float: left;
    height: 100%;
    background: url("../images/TopScoreboardRightTile.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}
.gutter-start-image {
    width: 69%;
    display: inline-block;
    float: left;
    height: 100%;
    background: url("../images/TopScoreboardRight.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}
.scoreboardSlider {
	display: inline-block;
    height: 100%;
    position: relative;
}

.no-games {
    line-height: 200%;
}

.no-games.scroll div:nth-child(1) {
    display: block;
    -webkit-animation-name: wipe;
    -webkit-animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
    -webkit-animation-delay: 4s;
    -moz-animation-name: wipe;
    -moz-animation-duration: 7s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-direction: alternate;
    -moz-animation-delay: 4s;
    -ms-animation-name: wipe;
    -ms-animation-duration: 7s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -ms-animation-direction: alternate;
    -ms-animation-delay: 4s;
}
@-moz-keyframes wipe {
    0% { height: 100%; line-height: 200%; font-size: 14px;}
    48% { height: 100%; line-height: 200%; font-size: 14px;}
    52% { height: 0%; line-height: 0%; font-size: 0px;} 
    100% { height: 0%; line-height: 0%; font-size: 0px;}
}
@-webkit-keyframes wipe {
    0% { height: 100%; line-height: 200%; font-size: 14px;}
    48% { height: 100%; line-height: 200%; font-size: 14px;}
    52% { height: 0%; line-height: 0%; font-size: 0px;} 
    100% { height: 0%; line-height: 0%; font-size: 0px;}
}
@keyframes wipe {
    0% { height: 100%; line-height: 200%; font-size: 14px;}
    48% { height: 100%; line-height: 200%; font-size: 14px;}
    52% { height: 0%; line-height: 0%; font-size: 0px;} 
    100% { height: 0%; line-height: 0%; font-size: 0px;}
}