@CHARSET "UTF-8";

body {
	height: 100%;	
}
h1 {
    font-size: 32.5px;
}
#workArea {
	padding-top: .8%;
	padding-left: 1.5%;
	background-color: rgba(255,255,255, .9);
    margin-bottom: -1.5%;
    position: relative;
}

#dates {
	background-color: tan;
	margin-bottom: 2%;
	padding: 1.5% 0.5% 0;
	width: 574px;
	border: 1px black solid;
}

.date-label {
	width: 45%;
    display: inline-block;
}

.game-select {
	top: -10px;
	position: relative;
	display: inline-block;
	height: 100%;
}
#marqueeMatchups {
	overflow-y: auto;
	display: inline-block;
	height: 200px;
	padding: 1% 0 1.5% 1.5%;
	width: 385px;
	border: 1px solid black;
    margin-bottom: 1.2%;
}

.game-date {
    padding-right: 6%;
}

#matchupSettings {
	padding-right: 3px;
	padding-left: 5px;
	background-color: tan;
	width: 166px;
	margin: 2px 10px;
	vertical-align: top;
	display: inline-block;
}

.team-label {
	padding-top: .8%;
	line-height: 17px;
	font-weight: bold;
	font-size: 17px;
	vertical-align: top;
	display: inline-block;
	width: 95%;
}

#numberOfMatchups {
    font-size: 18px;
}

#numberOfMatchups input {
	font-size: 40px;
	font-weight: bold;
	margin: 6px auto;
	text-align: center;
	border: none;
	background-color: transparent;
	height: 40px;
	width: 49px;
	display: block;
}

.positionBox {
	width: 65px;
    float: left;
	display: inline-block;
	position: relative;
}

.positionBox span {
	font-size: 16px;
	height: 27px;
	display: inline-block;
}

.positionBox input {
	top: -1px;
	position: relative;
	font-size: 20px;
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	border: none;
	background-color: transparent;
	height: 32px;
	width: 35px;
	display: inline-block;
}

.game-box {
	width: 320px;
	padding: 3px 11px 0px;
	margin-bottom: 13px;
	border: 1px orange dotted;
}
#positions {
	width: 200px;
	margin: 0;
}

#updateMatchups, #smashboardLink button {
	width: 91%;
	font-size: 12px;
	margin: 2%;
	height: 27px;
}
#gamePlaySettings {
    width: 623px;
}
#games {
	text-align: center;
	overflow-y: auto;
	height: 340px;
	padding: 6px;
	width: 320px;
	margin: 0 14px;
	border: 1px solid black;
	top: 118px;
	position: absolute;
	right: 0;
}
.matchupRow {
	text-align: left;
	border: 1px dotted orange;
	height: 40px;
	margin-bottom: 10px;
}
.matchupRow input[type="text"] {
	margin-top: 6px;
	line-height: 10px;
	height: 10px;
	font-size: 10px;
	width: 55px;
}
.matchupRow button {
	padding: 0;
	font-size: 10px;
	width: 34px;
}
#newGameButton {
	bottom: 14px;
	right: 122px;
	position: absolute;
}