@charset "UTF-8";

/* Large desktop */
@media (min-width: 779px) {
    #content {
       height: 325px;
    }   
    #button {
        height: 41px;
        width: 227px;
        right: 19px;
        line-height: 45px;
        font-size: 21px;       
    }
    #title {
	    font-size: 32px;
	    top: 11%;
	    left: 7%;	
    }
    #text {   	
        font-size: 20px;
        top: 33%;
        left: 15%;
    }
    #text div {
        margin-bottom: 18px;
        max-width: 81%;
    }
}

/* Old-school monitor size */
@media (max-width: 778px) {
    #content {
	   height: 325px;
    }    
    #button {
        height: 41px;
        width: 161px;
        right: 19px;
        line-height: 45px;
        font-size: 21px;      
    }
    #title {
        font-size: 32px;
        top: 11%;
        left: 7%;   
    }
    #text {
        font-size: 20px;
        top: 33%;
        left: 15%;
    }
    #text div {
        margin-bottom: 18px;
        max-width: 81%;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 494px) and (max-width: 632px) {
    #content {
       height: 325px;
    }    
    #button {
		height: 34px;
		width: 114px;
		right: 19px;
		line-height: 35px;
		font-size: 16px;       
    }
    #title {
		font-size: 25px;
		top: 13%;	
    }
    #text {
    	font-size: 19px;
        top: 33%;
        left: 15%;
    }
}
 
/* Landscape phone to portrait tablet */
@media (min-width: 423px) and (max-width: 493px) {
    #content {
       height: 325px;
    }    
    #button {
        height: 34px;
        width: 114px;
        right: 19px;
        line-height: 35px;
        font-size: 16px;       
    } 
    #title {
		font-size: 20px;
		top: 14%;
    }
    #text {
        font-size: 18px;
    }
}


/* Old high-end smart-phones */
@media (min-width: 263px) and (max-width: 439px) and (min-height: 84px) and (max-height: 200px) {
    #content {
       height: 200px !important;
    }    
    #button {
        white-space: pre-wrap;
        height: 34px;
        width: 68px;
        right: 5px;
        line-height: 15px;
        font-size: 12px;      
    }
    #title {
        font-size: 16px;
        top: 12%;
    }
    #text {
        font-size: 10px;
    }
    #text div {
    	max-width: 74% !important;
    }
}

/* Landscape phones and down */
@media (max-width: 279px)  and (max-height: 83px) {
    #content {
       height: 83px;
    }    
    #button {
		white-space: pre-wrap;
		height: 34px;
		width: 46px;
		right: 5px;
		line-height: 16px;
		font-size: 11px;  
    }
    #title {
		font-size: 10px;
		top: 10%;
    }
    #text {
    	height: 54px;
		width: 59%;
		overflow-y: scroll;
		font-size: 10px;
    }
    #text div {
    	margin-bottom: 5px;
        max-width: 100% !important;
    }
}