@charset "UTF-8";

/* Large desktop */
@media (min-width: 1200px) {
}

/* Old-school monitor size */
@media (max-width: 1199px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	body {
	   font-size: 11px;
	}
	.mainInfo {
		font-size: 15px;
		width: 70%;
        margin: 1% 0;
	}
}
 
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 767px) {
    body {
        font-size: 11px;
    }
    .span6 {
        display: inline-block !important;
        width: 47% !important;
    }
    .mainInfo {
		font-size: 15px;
		width: 78%;
        margin: 1% 0;
    }
	th:nth-child(1){
		width: 10%;
	    margin-left: -2px;
	}
	th:nth-child(4) {
	    margin-left: -14px;
	}
	.result {
	    font-size: 18px;
	}
	.mainInfo.score {
	    float: right;
	    margin: 1.4% 2%;
    }
}
 
/* Old high-end smart-phones */
@media (min-width: 320px) and (max-width: 479px) {
    #content {
	   height: 257px;
    }
    body {
       font-size: 9px;
    }
    tbody {
	    height: 126px;
    }
    #wrapper-nav {
    	padding-top: 0px;
    }
    .span6 {
        display: inline-block !important;
        width: 47% !important;
    }
    #header {
        height: 38px;	
    }
    #title {
		top: 11%;
		font-size: 14px;
    }
	#slug {
	   line-height: 9px;
	}
	.workArea {
	   padding: .5%;
	}
	.workArea div.left, .workArea div.right {
		width: 49%;
		margin: 0 1% 0 0;
	}
	.mainInfo {
		border-right: 2px solid #EAE2D9;
		font-size: 11px;
		width: 97%;
		margin: 1.5% 0;
	}
	td, th {
	   font-size: 8px;
	}
	th:nth-child(1) {
		width: 13%;
		margin-left: -2px;
	}
    td:nth-child(1) {
        width: 13%;
    }
	th:nth-child(2), td:nth-child(2) {
		width: 35%;
	}
    td:nth-child(2) {
        width: 39%;
    	padding-left: 2%;
    }
    th:nth-child(3), td:nth-child(3) {
	   width: 32% !important;
    }
    th:nth-child(4) {
        margin-left: -10px;
    }
	td:nth-child(4) {
	    text-align: left;
	    width: 5.117%;
	    padding: .8%;
	}
    .result {
        font-size: 13px;
        height: 15px;
    }
	.mainInfo.score {
		width: 56%;
		float: right;
		margin: 1.4% 13%;
	}
}

/* Landscape phones and down */
@media (max-width: 319px) {
    #content {
       height: 202px;
    }
    body {
       font-size: 9px;
    }
    tbody {
        height: 64px;
    }
    tbody tr {
		height: 33px;
		margin: .8% 2%;
    }
	#wrapper-header, #wrapper-header #logo, #homepageLink {
	   height: 47px;
	}
	.top-header-right {
		right: 0;
		width: 57px !important;
	}
	.social-pages {
		top: 10px;
	}
	#topNavButtons {
	    margin-top: 0;
	}
    #registerLink {
        font-size: 8px;
    }   
    #wrapper-nav {
        padding-top: 0px;
    }
    .span6 {
        display: inline-block !important;
        width: 47% !important;
    }
    #header {
        height: 29px;   
    }
	#title {
	    letter-spacing: 0.5px;
	    top: 15%;
	    font-size: 8px;
	    font-family: code;
	}
	#slug {
		font-weight: bold;
		font-size: 8px;
		font-family: code;
		line-height: 8px;
		letter-spacing: -.15px;
		text-shadow: white 0 .05px;
	}
    .workArea {
        padding: .5%;
    }
    .workArea div.left, .workArea div.right {
        width: 49%;
        margin: 0 1% 0 0;
    }
	.mainInfo {
		display: table;
		text-align: center;
		text-shadow: orange .05px 0px;
		border-right: 2px solid #EAE2D9;
		font-size: 10px;
		width: 96%;
	}
	.mainInfo.identity {
	   height: 20px;
	   line-height: 9px;
	}
    .mainInfo.identity span {
       display: table-cell;
	   vertical-align: middle;
    }
	td, th {
		font-weight: bold;
		letter-spacing: -.09px;
		text-shadow: silver .1px .1px;
		font-family: Arial;
		font-size: 8px;
		line-height: 8px;
	}
	th {
		letter-spacing: 0.25px;
		font-size: 8px;
		font-weight: bold;
	}
	td {
        word-break: break-all;
        text-align: center !important;
	}
	td span {
	   display: block;
	}
	th:nth-child(1) {
		word-break: break-all;
		width: 9%;
		margin-left: -2px;
		text-transform: uppercase;
	}
    td:nth-child(1) {
        width: 8%;
    }
	th:nth-child(2), td:nth-child(2) {
		padding-left: 1.9%;
		width: 29%;
	}
    td:nth-child(2) {
        width: 35%;
    }
    th:nth-child(3), td:nth-child(3) {
       width: 30% !important;
    }
	td:nth-child(3) {
		font-size: 9px;
	}
	th:nth-child(4) {
		margin: 0;
		text-transform: uppercase;
		word-break: break-all;
	}
	td:nth-child(4) {
		line-height: 11px;
		font-size: 11px;
		width: 14%;
	}
    .result {
        font-size: 11px;
        height: 15px;
    }
	.result span {
		left: 30%;
		position: relative;
		top: 17%;
		clear: both;
	}
	.mainInfo.score {
		line-height: 16px;
		height: 16px;
		text-align: left;
		padding: 0 2%;
		width: 73%;
		float: right;
		margin: 2px 17% 0;	    
	}
	.total {
	   font-size: 14px;
	}
}