@CHARSET "UTF-8";
#background {
    background-color: #FFFFFF;
    margin: 5% auto;
    opacity: 0.9;
    padding: 4% 3% 0;
    width: 70%;
}
.body-wrapper {
	border: 1px #FF771A solid;
	float: left;
	height: 460px;
    overflow-y: auto;
    position: relative;
}
header, footer {
	background: url(/images/logo_background.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	float: left;
	padding-bottom: 2%;
}
img {
    margin-top: 10%;
}
section {
	position: relative;
	background: url(/images/SmashboardLabel.gif) no-repeat;
    clear: both;
}
label {
	font-weight: bold;
	margin: 1%;
	letter-spacing: 1.1px;
}
table {
	margin-left: 3%;
	width: 97%;
	margin: -4% 1% 1% 1%;
	empty-cells: hide;
}
tbody {
	display: block;
}
tbody tr {
	float: right;	
	line-height: 14px;
	height: 16%;
	margin: 1% 0;
	border: 1px solid black;
	background-color: white;
	display: table;
	width: 86%;
}
tbody td.active:hover {
	background-color: #D7D7D7;
	cursor: pointer;
}
td {
	display: inline-block;
	text-align: left;
	line-height: 11px;
	font-size: 11px;
	position: relative;
	width: 37%;
}
td.home {
	padding-left: 5%;
}
td.away {
	padding-left: 17%
}
.left {
	float: left;
}
.right {
	float: right;	
}
.container {
	display: inline-block;
	width: 44%;
    margin-bottom: 8%;
    background-color: white;
}
.logoArea {
	width: 50%;
	text-align: center;
	font-size: 90%;
	font-weight: bold;
}
.logoArea.right img {
    margin-left: 12%;
}
.teamName {
    margin-top: 1.5%;
}
div.cover {
	display: none;
	width: 44%;
	background-color: rgba(0,0,0,.4);
	z-index: 10;
	position: absolute;
}
div.cover.left {
	width: 56%;
    left: 0;
}
div.cover.right {
    left: 56%;
}

div.cover.left.blocked,
div.cover.right.blocked {
	display: block;
}

.position-cover.right,
.position-cover.left {
	display: none;
    z-index: 10;
    width: 44%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    position: absolute;	
}

.position-cover.left {
    width: 56%;
    left: 0;
}

.position-cover.right {
    left: 56%;
}

.position-cover.left.blocked,
.position-cover.right.blocked {
	display: block;
}

#legend {
    border: 1px solid #000000;
    font-size: 100%;
    height: 21px;
    margin-bottom: 10px;
    padding: 2px 5px;
}

.mine {
    color: green;
}

.theirs {
	color: red;
}

#legend .mine {
	float: left;
}

#legend .theirs {
    float: right;
}

element.style {
    display: none;
}

.stats {
    border: 1px solid #000000;
    display: none;
    height: 90px;
    left: -15px;
    position: absolute;
    top: -110px;
    width: 145px;
    z-index: 100;
    background-color: white;
    padding: 4%;
}
.PG-section .stats, .SG-section .stats {
	top: 20px;
}
.stats img {
	float: left;
	margin: 1%;
}

.stat .value {
	font-weight: bold;
    margin-right: 3%;
}