@CHARSET "UTF-8";
table {
	width: 100%;
	margin: 0px;
	background-color: rgba(255,255,255,.75);
}
thead {
	display: block;
}
thead tr {
	margin: 1% 3%;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	width: 94%;
}
tbody {
	height: 198px;
	display: block;
	overflow-x: hidden;
    overflow-y: auto;
}
tr {
	display: table;
	width: 96%;
}
tbody tr {
	line-height: 14px;
	height: 16px;
	margin: 6px 2%;
	border: 1px solid black;
	background-color: white;
}

.next-pick tbody tr.me:not(.blocked) {
	font-weight: bold;
}

.next-pick tbody tr.me:not(.blocked):hover {
	background-color: #EFEFEF;
	cursor: pointer;
}

.next-pick tbody tr.me.blocked {
    background-color: #D7D7D7;
    cursor: not-allowed;	
}

th, td {
	display: inline-block;
	padding: 0;
	text-align: center;
	line-height: 11px;
	font-size: 11px;
}
th {
    text-align: left;
}
th:nth-child(1), td:nth-child(1) {
	width: 9%;
}
th:nth-child(2), td:nth-child(2) {
	text-align: left;
    width: 43%;
}
th:nth-child(3), td:nth-child(3) {
	text-align: left;
    width: 38%;
}
th:nth-child(4), td:nth-child(4) {
	width: 4%;
	text-align: right;
}
th:nth-child(4){
    margin-left: -6px;
}
button {
	margin-top: -.17%;
	outline: none;
	padding: 2px 10px;
	border-radius: 11px;
	background-color: #FF5700;
	color: white;
}
#content {
    padding: 0;
    height: 424px;
    position: relative;
    text-align: center;
    margin-left: 36px;
}
#content .row-fluid {
    clear: both;
}
#header {
	background-image: url(../images/SmashUpHeader.gif);
    background-size: 100% 100%;
    height: 88px;
    position: relative;
}
#title {
	top: 19%;
	left: 45%;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
}
.slug {
	min-height: 0px !important;
}
#slug {
	float: right;
    padding-right: 1%;
}
.workArea {
	padding: 5px 0 5px 8px;
    text-align: left;
    position: relative;
}
.workArea div.left, .workArea div.right {
	float: left;
	width: 47.8%;
	margin: 0 2% 0 0;
	display: inline-block;
}
.workArea div.next-pick {
    border: 1px solid #FF5700;
}
/*
.winner {
	border: 2px solid #FF6D00;
	box-sizing: border-box;
}
*/
.result {
	clear: both;
	height: 20px;
	right: 0px;
	position: relative;
	font-size: 20px;
	font-weight: bold;
	color: #FF6D00;
}
.result span {
	position: absolute;
    right: 4%;
    clear: both;
}
.mainInfo {
	padding: 1% 1.5%;
	font-weight: bold;
	font-size: 17px;
	min-width: 62%;
    max-width: 100%;
	background-color: black;
	color: #FF6D00;
    display: inline-block;
}
.right .identity {
	float: right;	
}
.mainInfo.score {
	float: right;
    margin: 0.7% 2%;
    width: 50%;
}
.total {
	float: right;
}
#smashboardLink {
	bottom: 8px;
	position: absolute;
	left: 32%;
	width: 34%;
}