<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>Your Challenge has been Accepted!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <p>Dear {{to_user_name}},</p>        <br/>
        <p>{{from_user_name}} accepts your {{league}} challenge.  Let the <a href="{{site_url}}/game/smashup/matchup/{{matchup_id}}">SmashUp</a> begin!</p>        <br/>        <hr/>        <p>Click the link above above or copy and paste the following URL to begin making your picks for this Matchup:</p>        <p><a href="{{site_url}}/game/smashup/matchup/{{matchup_id}}">{{site_url}}/game/smashup/matchup/{{matchup_id}}</a></p>             <br/>        <p>Remember, pick 'em and stick 'em with strategic use of Smash and Force Picks!</p>        <p>Happy trails to you!</p>        <br/>
        <p>The SmashMouth Fantasy Sports Team</p>
    </body>
</html>

