<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>You have been Challenged to a Matchup</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <p>Dear {{to_user_name}},</p>        <br/>
        <p>{{from_user_name}} has invited you to compete in a <a href="{{site_url}}/dashboard">{{league}} matchup</a>!</p>        <br/>        <hr/>        <p>Click the link above above or copy and paste the following URL to accept or decline this challenge:</p>        <p><a href="{{site_url}}/dashboard">{{site_url}}/dashboard</a></p>             <br/>        <p>Good luck, and may the most prudent player prevail!</p>        <br/>
        <p>The SmashMouth Fantasy Sports Team</p>
    </body>
</html>

