<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <p>Your have received following message from [ {{email}} ] [ {{name}} ].</p>
        <p style="background: none repeat scroll 0% 0% rgb(182, 68, 5); text-transform: uppercase; width: 100%; padding: 3px; color: rgb(255, 255, 255); font-size: 9px; letter-spacing: 0.3px;">{{feedback}}</p>      
        <p>Thank You</p>
    </body>
</html>

