<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <p>Dear {{name}},</p>
        <p>Click the link below to reset your password. If you did not make this request simply do nothing to retain your current password.</p>
        <p><a href="{{reset_link}}">{{reset_link}}</a></p>
    </body>
</html>

