<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>Your Opponent has made a SmashUp Selection.</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <p>Dear {{to_user_name}},</p>        <br/>
        <p>{{from_user_name}} has selected {{smashup}}.</p>        <p>{{next_action}}</p>        <br/>        <hr/>        <p>Click the link above above or copy and paste the following URL to continue with the matchup</p>        <p><a href="{{site_url}}/game/smashup/matchup/{{matchup_id}}">{{site_url}}/game/smashup/matchup/{{matchup_id}}</a></p>             <br/>        <p>And the game kept a rollin' all night long!</p>        <br/>
        <p>The SmashMouth Fantasy Sports Team</p>
    </body>
</html>

