<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <p>Dear {{to_user_name}},</p>
        <p>{{from_user_name}} sent you the following message via <a href="{{site_url}}/dashboard">{{site_url}}</a>:</p>        <br/>        <hr/>        <p>{{message}}</p>        <hr/>
        <p style="font-size: 12px; font-style: italic;">You can respond to this e-mail by following the link above to your dashboard, selecting your friend from the friend list and sending a reply.</p>              <br/>        <p>See you soon for some more GREAT down-to-the-wire Matchups and SmashUps galore.</p>
        <p>SmashMouth Fantasy Sports Team</p>
    </body>
</html>

