<?php
$league = $this->league;
$account = $this->account;

$leagueID = $league->id;
$activeLeftBracket = Application_Model_UserLeague::getUserLeague(array(
	"league_id" => $leagueID,
	"bracket" => 1,
	"alignment" => 1
));
$activeRightBracket = Application_Model_UserLeague::getUserLeague(array(
	"league_id" => $leagueID,
	"bracket" => 1,
	"alignment" => 2
));
?>

<?php if ($league && $account) : ?>
<div class="content-block brackets-background" style="margin-bottom: 10px;">
	<div class="bracket-header">
		<?php
			echo $league->name . " League";
		?>
	</div>
	<div id="top-left">
		<?php
			if ($league->id == 1) {
				echo "(2) Vince Calitri (10-3)";
			}
		?>
	</div>

	<div id="middle-left">
		<?php
			if ($activeLeftBracket) {
				$leftHomeUser = Application_Model_Account::getAccount($activeLeftBracket->user_id_1);
				if ($leftHomeUser) {
					$leagueSeed = $leftHomeUser->getLeagueSeed($league->id);
					$seed = 0;
					if ($leagueSeed) {
						$seed = $leagueSeed->seed;
					}
					echo "(" . (!$seed ? "?" : $seed) . ") " . $leftHomeUser->first_name . " " . $leftHomeUser->last_name;
					if ($league->id == 1) {
						echo " (9-4)";
					} else if ($league->id == 2) {
						echo " (0-0)";
					}
				}
			} else {
				echo "?";
			}
		?>
	</div>

	<div id="bottom-left">
		<?php
			if ($activeLeftBracket) {
				$leftAwayUser = Application_Model_Account::getAccount($activeLeftBracket->user_id_2);
				if ($leftAwayUser) {
					$leagueSeed = $leftAwayUser->getLeagueSeed($league->id);
					$seed = 0;
					if ($leagueSeed) {
						$seed = $leagueSeed->seed;
					}
					echo "(" . (!$seed ? "?" : $seed) . ") " . $leftAwayUser->first_name . " " . $leftAwayUser->last_name;
					if ($league->id == 1) {
						echo " (7-6)";
					} else if ($league->id == 2) {
						echo " (0-0)";
					}
				}
			} else {
				echo "?";
			}
		?>
	</div>

	<div id="middle-right-left" >
		Kevin Wins Series(2-0)
	</div>

	<div id="winner-left">
	</div>

	<div id="top-right">
		<?php
			if ($league->id == 1) {
				echo "(1) Anthony Annese (10-3)";
			}
		?>	
	</div>

	<div id="middle-right">
		<?php
			if ($activeRightBracket) {
				$rightAwayUser = Application_Model_Account::getAccount($activeRightBracket->user_id_2);
				if ($rightAwayUser) {
					$leagueSeed = $rightAwayUser->getLeagueSeed($league->id);
					$seed = 0;
					if ($leagueSeed) {
						$seed = $leagueSeed->seed;
					}
					echo "(" . (!$seed ? "?" : $seed) . ") " . $rightAwayUser->first_name . " " . $rightAwayUser->last_name;
					if ($league->id == 1) {
						echo " (8-5)";
					} else if ($league->id == 2) {
						echo " (0-0)";
					}
				}
			} else {
				echo "?";
			}
		?>
	</div>

	<div id="bottom-right">
		<?php
			if ($activeRightBracket) {
				$rightHomeUser = Application_Model_Account::getAccount($activeRightBracket->user_id_1);
				if ($rightHomeUser) {
					$leagueSeed = $rightHomeUser->getLeagueSeed($league->id);
					$seed = 0;
					if ($leagueSeed) {
						$seed = $leagueSeed->seed;
					}
					echo "(" . (!$seed ? "?" : $seed) . ") " . $rightHomeUser->first_name . " " . $rightHomeUser->last_name;
					if ($league->id == 1) {
						echo " (7-6)";
					} else if ($league->id == 2) {
						echo " (0-0)";
					}
				}
			} else {
				echo "?";
			}
		?>
	</div>

	<div id="middle-left-right">
		Lisa Wins Series(2-1)
	</div>

	<div id="winner-right">
	</div>
	
	<div id="league-bracket-footer">
		<?php
			$leagueSeed = $account->getLeagueSeed($league->id);
			if ($leagueSeed) {
				$seed = $leagueSeed->seed;
				if ($seed == 3 || $seed == 4) {
					$opponent = null;
					if ($seed == 3 && $activeLeftBracket) {
						$opponent = Application_Model_Account::getAccount($activeLeftBracket->user_id_2);
					} else if ($seed == 4 && $activeRightBracket) {
						$opponent = Application_Model_Account::getAccount($activeRightBracket->user_id_2);
					}
					if ($opponent && !Application_Model_UserGame::gameExists($account, $opponent, 1, true)) {
						echo "<a href='javascript:void(0);' class='league-challenge' home-id='{$account->id}' away-id='{$opponent->id}'>Start Your Playoff SmashUp</a>";
					}
				} else if ($seed == 5 || $seed == 6) {
					$opponent = null;
					if ($seed == 5 && $activeLeftBracket) {
						$opponent = Application_Model_Account::getAccount($activeLeftBracket->user_id_1);
					} else if ($seed == 6 && $activeRightBracket) {
						$opponent = Application_Model_Account::getAccount($activeRightBracket->user_id_1);
					}
					if ($opponent && !Application_Model_UserGame::gameExists($account, $opponent, 1, true)) {
						echo "Waiting for your opponent to initiate the SmashUp.";
					}
				}
			}
		?>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	$(document).on("click", ".league-challenge", function() {
		var home = $(this).attr("home-id");
		var away = $(this).attr("away-id");
		if (home && away) {
			$.post("/game/leaguechallenge/", {home: home, away: away}, function(response) {
				if (response && response.game_id) {
					window.location = "http://www.smashfantasysports.com/game/index/id/" + response.game_id;
				}
			});
		}
	});
});
</script>
<?php endif; ?>