	<div id="main-content-smashup">
	<div id="primary" class="site-content">
		<div id="content" role="main">
        	<h3 class="orange-btn">Marquis Matchups Smashboard</h3>
		</div><!-- #content -->
	</div><!-- #primary -->
	</div><!-- #main-content-smashup -->
        <div id="team-section" class="team-section-content">
        <?php
        $objPlayer = new Application_Model_DbTable_Player();
        $i=0;
        echo "<div>";
        while($i<sizeof($this->teams))
        {
            ?>
            <div class="team-section-inner">
            	<div class="table-team-section">
                	<table class="score-table" width="100%" cellspacing="0" border="0" cellpadding="0">
                    	<thead>
                    	<tr class="table-title">
                        	<th></th>
                            <th><?php echo $this->teams[$i]['name'];?></th>
                            <th><?php echo $this->teams[$i+1]['name'];?></th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php
                        //for point guards
                        $playerdatapgone = $objPlayer->getplayerbyteamandposition($this->teams[$i]['team_id'],'PG');
                        $playerdatapgtwo = $objPlayer->getplayerbyteamandposition($this->teams[$i+1]['team_id'],'PG');

                        $maxdatapg=0;
                        if((sizeof($playerdatapgone))>(sizeof($playerdatapgtwo)))
                            $maxdatapg=sizeof($playerdatapgone);
                        else
                            $maxdatapg=sizeof($playerdatapgtwo);

                        for($j=0;$j<$maxdatapg;$j++)
                        {
                            ?>
                                <tr>
                                    <td class="alter">PG</td>
                                    <td><?php echo $playerdatapgone[$j]['name'];?></td>
                                    <td><?php echo $playerdatapgtwo[$j]['name'];?></td>
                                </tr>
                            <?php
                        }

                        //for shooting guards
                        $playerdatasgone = $objPlayer->getplayerbyteamandposition($this->teams[$i]['team_id'],'SG');
                        $playerdatasgtwo = $objPlayer->getplayerbyteamandposition($this->teams[$i+1]['team_id'],'SG');

                        $maxdatasg=0;
                        if((sizeof($playerdatasgone))>(sizeof($playerdatasgtwo)))
                            $maxdatasg=sizeof($playerdatasgone);
                        else
                            $maxdatasg=sizeof($playerdatasgtwo);

                        for($j=0;$j<$maxdatasg;$j++)
                        {
                            ?>
                                <tr>
                                    <td class="alter">SG</td>
                                    <td><?php echo $playerdatasgone[$j]['name'];?></td>
                                    <td><?php echo $playerdatasgtwo[$j]['name'];?></td>
                                </tr>
                            <?php
                        }

                        //for forwards and centres
                        $playerdatafcone = $objPlayer->getplayerbyteamandposition($this->teams[$i]['team_id'],'F/C');
                        $playerdatafctwo = $objPlayer->getplayerbyteamandposition($this->teams[$i+1]['team_id'],'F/C');

                        $maxdatafc=0;
                        if((sizeof($playerdatafcone))>(sizeof($playerdatafctwo)))
                            $maxdatafc=sizeof($playerdatafcone);
                        else
                            $maxdatafc=sizeof($playerdatafctwo);

                        for($j=0;$j<$maxdatafc;$j++)
                        {
                            ?>
                                <tr>
                                    <td class="alter">F/C</td>
                                    <td><?php echo $playerdatafcone[$j]['name'];?></td>
                                    <td><?php echo $playerdatafctwo[$j]['name'];?></td>
                                </tr>
                            <?php
                        }


                        ?>
                    
                        </tbody>
                        </table>
            	</div>
            </div>
            <?php
            if(($i+2)%4==0)
                echo "</div><div class='clr'></div><div>";
            $i=$i+2;
            
        }
        echo "</div>";
        ?>
           

   	</div><!-- #team-section -->
    
