<?php
$players = $this->players;
?>
<div class="content-block">
	<div class="content-title">
		List of Players
	</div>
	<table class="tablesorter">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Position</th>
				<th>Team</th>
				<th>Join Date</th>
				<th>Leave Date</th>
				<th>New Team</th>
			</tr>
		</thead>
		<tbody>
			<?php if ($players) : foreach ($players as $p) : ?>
				<tr>
					<td><?php echo $p->getId(); ?></td>
					<td><?php echo $p->getName(); ?></td>
					<td><?php echo (strlen($p->position) > 0 ? $p->position : "N/A" ); ?></td>
					<td>
						<?php
						$team = $p->getTeam();
						echo ($team ? $team->getName() : "N/A");
						?>
					</td>
					<td><?php echo (strlen($p->join_date) > 0 ? date("m/d/Y", strtotime($p->join_date)) : "N/A" ); ?></td>
					<td><?php echo (strlen($p->leave_date) > 0 ? date("m/d/Y", strtotime($p->leave_date)) : "N/A" ); ?></td>
					<td>
						<?php
						$team = $p->getNewTeam();
						echo ($team ? $team->getName() : "N/A");
						?>
					</td>
				</tr>
			<?php endforeach; endif; ?>
		</tbody>
	</table>
</div>