<div class="scoreboardContainer span12">
	<div class="scoreboard-title-container">
		<div class="left">
			<span class="scoreboard-title"><?php echo $this->sport->league;?> Scoreboard</span>
		</div>
		<div class="right">
			<div class="scoreboard-scroll-button scroll forward"></div>
		</div>
	</div>
	<div class="scoreboard">
		<div class="scoreboardSlider">
	<?php
		if (empty($this->games)) {
			if (empty($this->current_settings) && empty($this->next_setting)) {
	?>
			<div class="no-games">There are no Marquee Matchups scheduled for today.</div>
	<?php
			} else if (!empty($this->current_settings)) {
	?>
			<div class="no-games scroll"><div>SmashUps are <em>NOW OPEN</em> from <?php echo date( "m-d-Y", strtotime($this->current_settings->smashup_open_date));?> to <?php echo date( "m-d-Y", strtotime($this->current_settings->smashup_close_date));?>.</div><div><em>PICK NOW</em> for live Marquee Matchups action scheduled for <?php echo date( "m-d-Y", strtotime($this->current_settings->smashup_close_date));?></div></div>
			
	<?php 	} else {?>
			<div class="no-games scroll"><div>SmashUps are <em>NOW OPEN</em> from <?php echo date( "m-d-Y", strtotime($this->next_setting->smashup_open_date));?> to <?php echo date( "m-d-Y", strtotime($this->next_setting->smashup_close_date));?>.</div><div><em>PICK NOW</em> for live Marquee Matchups action scheduled for <?php echo date( "m-d-Y", strtotime($this->next_setting->smashup_close_date));?></div></div>
	<?php
			}
		} else {
	?>
		<?php 
		foreach($this->games as $game) {
			/* @var $game  Application_Model_Games */
			$homeTeam = $game->getHomeTeam();
			$awayTeam = $game->getAwayTeam();	
		?>
			<div class="gameContainer">
				<div class="team-abbreviations column">
					<span class="home"><?php echo $homeTeam->acronym;?></span>
					<span class="away"><?php echo $awayTeam->acronym;?></span>
				</div>
				<div class="scores column">
					<?php 
						if (in_array($game->status, array("in_progress","final") )) {
					?>
					<span class="home"><?php echo $game->home_team_score;?></span>
					<span class="away"><?php echo $game->away_team_score;?></span>
					<?php 
						}
					?>
				</div>
				<div class="status column">
					<?php 
						if ($game->status == 'postponed') {
					?>
					<span class="colspan2">PPD</span>
					<?php
						} else if ($game->status == 'cancelled') {
					?>
					<span class="colspan2">CXL</span>
					<?php
						} else if ($game->status == 'final') {
					?>
					<span class="colspan2">F</span>
					<?php
						} else if ($game->status == 'pending') {							
					?>
					<span class="time"><?php echo date("g:ia", strtotime($game->scheduled_date));?></span>
					<span class="timezone"><?php echo date("I") ? "EDT": "EST";?></span>
					<?php
						} else if ($game->status == 'in_progress') {
					?>
					<span class="quarter"><?php echo My_General::addOrdinalNumberSuffix($game->period); ?></span>
					<span class="clock"><?php echo (int)date("i", strtotime($game->time)).date(":s", strtotime($game->time));?></span>
					<?php
						}
					?>
				</div>
			</div>
		<?php 
			}
		?>
	<?php
		}
	?>
		</div>
	</div>
	<div class="scoreboard-back-button scroll backward disabled"></div>
	<div class="gutter">
		<div class="gutter-start-image"></div>
	</div>
</div>
<script>
	$(document).ready(
		function() {

			var initialOffset = $('.scoreboardSlider').position().left;
			
			if ( $('.scoreboard').width() >= $('.scoreboardSlider').width() ) {
				$('.forward').addClass("disabled");
			}
			
			$(".scoreboardContainer").on("click", ".scroll:not(.disabled)", 
				function() {
					if ($(this).hasClass('forward')) {
						
						var amount = "-="+$('.scoreboard').width();

						if ( (($('.scoreboardSlider').width()-initialOffset) + ($('.scoreboardSlider').position().left-$('.scoreboard').width())) < (2*$('.gameContainer:last').width())) {
							amount = (2*$('.gameContainer:last').width()) - $('.scoreboardSlider').width();
						}
							 
						$('.scoreboardSlider').animate({"left": amount}, 1200,
							function() {
								$(".backward").removeClass('disabled');
								if ($(this).width()+parseInt($(this).css('left')) <= $('.scoreboard').width()) {
									$('.forward').addClass("disabled");
								}
							}
						);
					} else {
						var amount = "+="+$('.scoreboard').width();

						if (parseInt($('.scoreboardSlider').css("left"))+$('.scoreboard').width() >= 0) {
							amount = 0;
						}
						
						$('.scoreboardSlider').animate({"left": amount}, 1200,
							function() {
								$(".forward").removeClass('disabled');
								if (parseInt($(this).css('left')) == 0 ) {
									$(this).css('left', 0);
									$('.backward').addClass("disabled");
								}
							}
						);						
					}
				}
			);
		}	
	);
</script>