<?php
$account = $this->account;
$game = $this->game;
$opponent = $game->getOpponent();
?>

<div id="main-content-smashup">
    <div class="wrapper">
        <div id="primary" class="site-content">
            <div id="content" role="main">
                 <h3 class="orange-btn"><a id="mpopup">View Full Marquis Matchups Smashboard</a></h3>

                  <!-- Programming Part (will make later on)-->
              <!--  <div class="match-list">
                    <ul>
                        <?php
                        $sport = 1;
                        $season = Application_Model_MarquisMatchup::getCurrentSeasonForSport($sport);
                        $matchupTeams = Application_Model_MarquisMatchup::getMarquisMatchupTeams($sport, $season);
                        if ($matchupTeams) foreach ($matchupTeams as $mt) {
                                if (!$mt) {
                                    echo "null";
                                }
                                $away = $mt["away"];
                                $home = $mt["home"];
                                if ($away && $home) {
                                    ?>
                        <li>
                            <div class="match-list-box">
                                <div class="match-inner">
                                    <div class="match-list-img">
                                        <div class="team">
                                                        <?php
                                                        echo "<img src='{$away->getImage()}' alt='{$away->getName()}' />";
                                                        ?>
                                        </div>
                                        <div class="vs">VS</div>
                                        <div class="team">
                                                        <?php
                                                        echo "<img src='{$home->getImage()}' alt='{$home->getName()}' />";
                                                        ?>
                                        </div>
                                    </div>
                                    <div class="match-detail">
                                        <p class="position">4th</p>
                                        <p class="time">11:00AM</p>
                                        <p class="team-point">NET 81</p>
                                        <p class="team-point">CHB 78</p>
                                    </div>
                                </div>

                            </div>
                        </li>
                                    <?php
                                }
                            }
                        ?>

                    </ul>
                </div> -->



                 <!-- Static Design -->
                 <div class="match-list">
                    <ul>

                        <li>
                            <div class="match-list-box">
                                <div class="match-inner">
                                    <div class="match-list-img">
                                        <div class="team">
                                                        <img src="/downloads/1/7414/Logo.png" alt="Brooklyn Nets" />
                                        </div>
                                        <div class="vs">VS</div>
                                        <div class="team">
                                                        <img src="/downloads/1/7408/Logo.png" alt="Chicago Bulls" />
                                        </div>
                                    </div>
                                    <div class="match-detail">
                                        <p class="position">4th</p>
                                        <p class="time">11:00AM</p>
                                        <p class="team-point">NET 81</p>
                                        <p class="team-point">CHB 78</p>
                                    </div>
                                </div>

                            </div>
                        </li>

                         <li>
                            <div class="match-list-box">
                                <div class="match-inner">
                                    <div class="match-list-img">
                                        <div class="team">
                                                        <img src="/downloads/1/7424/Logo.png" alt="L.A. Clippers" />
                                        </div>
                                        <div class="vs">VS</div>
                                        <div class="team">
                                                        <img src="/downloads/1/7434/Logo.png" alt="Memphis Grizzlies" />
                                        </div>
                                    </div>
                                    <div class="match-detail">
                                        <p class="position">4th</p>
                                        <p class="time">11:00AM</p>
                                        <p class="team-point">NET 81</p>
                                        <p class="team-point">CHB 78</p>
                                    </div>
                                </div>

                            </div>
                        </li>

                         <li>
                            <div class="match-list-box">
                                <div class="match-inner">
                                    <div class="match-list-img">
                                        <div class="team">
                                                        <img src="/downloads/1/7415/Logo.png" alt="New York Knicks" />
                                        </div>
                                        <div class="vs">VS</div>
                                        <div class="team">
                                                        <img src="/downloads/1/7406/Logo.png" alt="Boston Celtics" />
                                        </div>
                                    </div>
                                    <div class="match-detail">
                                        <p class="position">4th</p>
                                        <p class="time">11:00AM</p>
                                        <p class="team-point">NET 81</p>
                                        <p class="team-point">CHB 78</p>
                                    </div>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="match-list-box">
                                <div class="match-inner">
                                    <div class="match-list-img">
                                        <div class="team">
                                                        <img src="/downloads/1/7412/Logo.png" alt="Miami Heat" />
                                        </div>
                                        <div class="vs">VS</div>
                                        <div class="team">
                                                        <img src="/downloads/1/7413/Logo.png" alt="Milwaukee Bucks" />
                                        </div>
                                    </div>
                                    <div class="match-detail">
                                        <p class="position">4th</p>
                                        <p class="time">11:00AM</p>
                                        <p class="team-point">NET 81</p>
                                        <p class="team-point">CHB 78</p>
                                    </div>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="match-list-box">
                                <div class="match-inner">
                                    <div class="match-list-img">
                                        <div class="team">
                                                        <img src="/downloads/1/7430/Logo.png" alt="San Antonio Spurs" />
                                        </div>
                                        <div class="vs">VS</div>
                                        <div class="team">
                                                        <img src="/downloads/1/7425/Logo.png" alt="L.A. Lakers" />
                                        </div>
                                    </div>
                                    <div class="match-detail">
                                        <p class="position">4th</p>
                                        <p class="time">11:00AM</p>
                                        <p class="team-point">NET 81</p>
                                        <p class="team-point">CHB 78</p>
                                    </div>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="match-list-box">
                                <div class="match-inner">
                                    <div class="match-list-img">
                                        <div class="team">
                                                        <img src="/downloads/1/7421/Logo.png" alt="Denver Nuggets" />
                                        </div>
                                        <div class="vs">VS</div>
                                        <div class="team">
                                                        <img src="/downloads/1/7422/Logo.png" alt="Golden State Warriors" />
                                        </div>
                                    </div>
                                    <div class="match-detail">
                                        <p class="position">4th</p>
                                        <p class="time">11:00AM</p>
                                        <p class="team-point">NET 81</p>
                                        <p class="team-point">CHB 78</p>
                                    </div>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="match-list-box">
                                <div class="match-inner">
                                    <div class="match-list-img">
                                        <div class="team">
                                                        <img src="/downloads/1/7411/Logo.png" alt="Indiana Pacers" />
                                        </div>
                                        <div class="vs">VS</div>
                                        <div class="team">
                                                        <img src="/downloads/1/7407/Logo.png" alt="Atlanta Hawks" />
                                        </div>
                                    </div>
                                    <div class="match-detail">
                                        <p class="position">4th</p>
                                        <p class="time">11:00AM</p>
                                        <p class="team-point">NET 81</p>
                                        <p class="team-point">CHB 78</p>
                                    </div>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="match-list-box">
                                <div class="match-inner">
                                    <div class="match-list-img">
                                        <div class="team">
                                                        <img src="/downloads/1/8960/Logo.png" alt="Oklahoma City Thunder" />
                                        </div>
                                        <div class="vs">VS</div>
                                        <div class="team">
                                                        <img src="/downloads/1/7423/Logo.png" alt="Houston Rockets" />
                                        </div>
                                    </div>
                                    <div class="match-detail">
                                        <p class="position">4th</p>
                                        <p class="time">11:00AM</p>
                                        <p class="team-point">NET 81</p>
                                        <p class="team-point">CHB 78</p>
                                    </div>
                                </div>

                            </div>
                        </li>


                    </ul>
                </div>



                 
            </div><!-- #content -->
        </div><!-- #primary -->
    </div><!-- .wrapper -->
</div><!-- #main-content-smashup -->



    <div id="team-section" class="team-section-content">
    	<div class="wrapper">
        	<div class="team-section-inner team-section-inner-score">
           		<h3>Your Team</h3>
            	<div class="table-team-section">
                		<table class="score-table" width="100%" cellspacing="0" border="0" cellpadding="0">
			
			
				<?php
				$team = $game->getPickedTeam($account);
				$teamCounter = 1;
				$score = 0;
				foreach ($team as $pos => $players) {
					foreach ($players as $player) {
						$playerPick = null;
						if ($player) {
							$playerPick = $game->getPickFromPlayer($player);
						}
						if ($playerPick) {
							$score += $playerPick->getScore();
							echo "<tr>";
							echo "<td data-id='{$teamCounter}'>{$pos}</td>";
							echo "<td>" . $player->getTeam()->getName() . "</td>";
							echo "<td><span data-id='{$player->getId()}'>" . $player->getName() . "</span></td>";
							echo "<td>{$playerPick->getScore()}</td>";
							echo "</tr>";
						}
						$teamCounter++;
					}
				}
				?>
			
		</table>
            	</div>
                <div class="score-section">
                	<p>Total Score <span><?php echo $score; ?></span></p>
                </div>
            </div>
            <div class="team-mrg"></div>
            <div class="clr"></div>
            <div class="team-section-inner team-section-inner-score">
           		<h3><?php echo (string)$opponent->first_name . " " . (string)$opponent->last_name; ?>'s Team</h3>
            	<div class="table-team-section">
                			<table class="score-table" width="100%" cellspacing="0" border="0" cellpadding="0">
			
				
				<?php
				$team = $game->getPickedTeam($opponent);
				$teamCounter = 1;
				$score = 0;
				foreach ($team as $pos => $players) {
					foreach ($players as $player) {
						$playerPick = null;
						if ($player) {
							$playerPick = $game->getPickFromPlayer($player);
						}
						if ($playerPick) {
							$score += $playerPick->getScore();
							echo "<tr>";
							echo "<td data-id='{$teamCounter}'>{$pos}</td>";
							echo "<td>" . $player->getTeam()->getName() . "</td>";
							echo "<td><span data-id='{$player->getId()}'>" . $player->getName() . "</span></td>";
							echo "<td>{$playerPick->getScore()}</td>";
							echo "</tr>";
						}
						//$playerPick = $game->getPickFromPlayer($player);
						//$score += $playerPick->getScore();
						//echo "<tr>";
						//echo "<td data-id='{$teamCounter}'>{$pos}</td>";
						//echo "<td>" . $player->getTeam()->getName() . "</td>";
						//echo "<td><span data-id='{$player->getId()}'>" . $player->getName() . "</span></td>";
						//echo "<td>{$playerPick->getScore()}</td>";
						//echo "</tr>";
						$teamCounter++;
					}
				}
				?>
			
		</table>
            	</div>
                <div class="score-section">
                	<p>Total Score <span><?php echo $score; ?></span></p>
                </div>
            </div>
    	</div>
   	</div>

<script type="text/javascript">

$(document).on("click", "#mpopup", function() {


                $.post("/game/marquis", function(response) {
                    if(response!=null){
                    $('#pop-dialog').html(response).dialog({
                                title : 'SmashMouth Marquis Player',
                                modal: true,
                                width:'1100px'


                 });                    }else{
                        alert('No Response');
                    }

                //$(this).dialog("close");
            });

        });

</script>