<?php
$account = $this->account;
$game = $this->game;
$opponent = $game->getOpponent();
?>
 
<div id="game-results" data-id="<?php echo $game->getId(); ?>" class="clearfix" style="width: 100%;">
	<div class="content-block left-half">
		<div class="content-title">
			Your Team
		</div>
		<table class="tablesorter tight">
			<thead>
				<tr>
					<th>Position</th>
					<th>Team</th>
					<th>Player</th>
				</tr>
			</thead>
			<tbody>
				<?php
				$team = $game->getPickedTeam($account);
				$teamCounter = 1;
				$score = 0;
				foreach ($team as $pos => $players) {
					foreach ($players as $player) {
						$playerPick = null;
						if ($player) {
							$playerPick = $game->getPickFromPlayer($player);
						}
						if ($playerPick) {
							$score += $playerPick->getScore();
							echo "<tr>";
							echo "<td data-id='{$teamCounter}'>{$pos}</td>";
							echo "<td>" . $player->getTeam()->getName() . "</td>";
							echo "<td><span data-id='{$player->getId()}'>" . $player->getName() . "</span></td>";
							echo "</tr>";							
						} else {
							echo "<tr>";
							echo "<td>-</td>";
							echo "<td>-</td>";
							echo "<td>-</td>";
							echo "</tr>";
						}
						$teamCounter++;
					}
				}
				?>
			</tbody>
		</table>
		<div class="right">
			Total Score: <?php echo $score; ?>
		</div>
	</div>

	<div class="content-block right-half">
		<div class="content-title">
			<?php echo (string)$opponent->first_name . " " . (string)$opponent->last_name; ?>'s Team
		</div>
		<table class="tablesorter tight">
			<thead>
				<tr>
					<th>Position</th>
					<th>Team</th>
					<th>Player</th>
				</tr>
			</thead>
			<tbody>
				<?php
				$team = $game->getPickedTeam($opponent);
				$teamCounter = 1;
				$score = 0;
				foreach ($team as $pos => $players) {
					foreach ($players as $player) {
						$playerPick = $game->getPickFromPlayer($player);
						$score += $playerPick->getScore();
						echo "<tr>";
						echo "<td data-id='{$teamCounter}'>{$pos}</td>";
						echo "<td>" . $player->getTeam()->getName() . "</td>";
						echo "<td><span data-id='{$player->getId()}'>" . $player->getName() . "</span></td>";
						echo "</tr>";
						$teamCounter++;
					}
				}
				?>
			</tbody>
		</table>
		<div class="right">
			Total Score: <?php echo $score; ?>
		</div>
	</div>
</div>