<html>
<head>
	<link rel="stylesheet" href="/css/smashboard.css">
</head>
<body>
<div id="background">
<?php
	if ($this->matchup) {
?>
	<div id="legend">
		<span class="mine">PICKED! = Your Picks!</span>
		<span class="theirs">PICKED! = Your Opponents Picks!</span>
	</div>
<?php 
	}
?>
<?php 
	$floatIndex = 0;
	
	$position = Zend_Controller_Front::getInstance()->getRequest()->getParam("position", false);
	
	if (!$this->matchup) {
		$tdClass = "";
	} else if ($this->nextPick['is_home_user']) {
		$tdClass = $this->isCurrentUserHomeUser ? "active" : "";
	} else {
		$tdClass = $this->isCurrentUserHomeUser ? "" : "active";
	}
	
	foreach ($this->marqueeMatchups as $gameData) {

		$pgLeftBlocked = $pgRightBlocked = $sgLeftBlocked = $sgRightBlocked = $fcLeftBlocked = $fcRightBlocked = "";
		
		if ( $this->matchup ) {
			if ($this->pgBlocked || ($this->forced_team && ($this->forced_position != "PG")) || ($position && $position != "PG") ) {
				$pgLeftBlocked = $pgRightBlocked = "blocked";
			}
			
			if ($this->sgBlocked || ($this->forced_team && ($this->forced_position != "SG"))  || ($position && $position != "SG") ) {
				$sgLeftBlocked = $sgRightBlocked = "blocked";
			}
			
			if ($this->fcBlocked || ($this->forced_team && ($this->forced_position != "F/C")) || ($position && $position != "F/C") ) {
				$fcLeftBlocked = $fcRightBlocked = "blocked";
			}
	
			if (in_array($gameData['teams']['home']['team']->id, array_merge($this->smashupsData[$this->matchup->home_user_id]["players"]["team_ids"],$this->smashupsData[$this->matchup->away_user_id]["players"]["team_ids"])  ) || ($this->forced_team && ($this->forced_team->id != $gameData['teams']['home']['team']->id))) {
				$pgLeftBlocked = $sgLeftBlocked = $fcLeftBlocked = "blocked";
			}
			
			if (in_array($gameData['teams']['away']['team']->id, array_merge($this->smashupsData[$this->matchup->home_user_id]["players"]["team_ids"],$this->smashupsData[$this->matchup->away_user_id]["players"]["team_ids"])) || ($this->forced_team && ($this->forced_team->id != $gameData['teams']['away']['team']->id))) {
				$pgRightBlocked = $sgRightBlocked = $fcRightBlocked = "blocked";
			}
		}

		$float = ($floatIndex++%2) ? "right" : "left";
?>
	<div class="container <?php echo $float; ?>">
		<a id="<?php echo $gameData['teams']['home']['team']->id; ?>"></a>
		<a id="<?php echo $gameData['teams']['away']['team']->id; ?>"></a>
		<header>
			<div class="logoArea left">
				<div class="teamName"><?php echo $gameData['teams']['home']['team']->name; ?></div>
				<img src="/images/Logos/<?php echo str_replace(" ", "", $gameData['teams']['home']['team']->name);?>.png"></img>
			</div>
			<div class="logoArea right">
				<div class="teamName"><?php echo $gameData['teams']['away']['team']->name; ?></div>
				<img src="/images/Logos/<?php echo str_replace(" ", "", $gameData['teams']['away']['team']->name);?>.png"></img>
			</div>
		</header>
		<div class="body-wrapper">
			<section class="PG-section">
				<?php 
					echo $this->partial('game/partials/player-section.phtml',
						array(
							"positionLeftBlocked" => $pgLeftBlocked,
							"positionRightBlocked" => $pgRightBlocked,
							"position" => "PG",
							"gameData" => $gameData,
							"smashupsData" => $this->smashupsData,
							"seasons_id" => ($this->smashupsData) ? $this->smashupsData["matchup"]->seasons_id : $this->seasons_id,
							"currentUser" => $this->currentUser,
							"opponent" => $this->opponent,
							"tdClass" => $tdClass
						)  
					); 
				?>
			</section>
			<section class="SG-section">
				<?php 
					echo $this->partial('game/partials/player-section.phtml',
						array(
							"positionLeftBlocked" => $sgLeftBlocked,
							"positionRightBlocked" => $sgRightBlocked,
							"position" => "SG",
							"gameData" => $gameData,
							"smashupsData" => $this->smashupsData,
							"seasons_id" => ($this->smashupsData) ? $this->smashupsData["matchup"]->seasons_id : $this->seasons_id,
							"currentUser" => $this->currentUser,
							"opponent" => $this->opponent,
							"tdClass" => $tdClass
						)  
					); 
				?>				
			</section>
			<section class="F/C-section">
				<?php 
					echo $this->partial('game/partials/player-section.phtml',
						array(
							"positionLeftBlocked" => $fcLeftBlocked,
							"positionRightBlocked" => $fcRightBlocked,
							"position" => "F/C",
							"gameData" => $gameData,
							"smashupsData" => $this->smashupsData,
							"seasons_id" => ($this->smashupsData) ? $this->smashupsData["matchup"]->seasons_id : $this->seasons_id,
							"currentUser" => $this->currentUser,
							"opponent" => $this->opponent,
							"tdClass" => $tdClass
						)  
					); 
				?>
			</section>
		</div>
		<footer>
			<div class="logoArea left">
				<div class="teamName"><?php echo $gameData['teams']['home']['team']->name; ?></div>
				<img src="/images/Logos/<?php echo str_replace(" ", "", $gameData['teams']['home']['team']->name);?>.png"></img>
			</div>
			<div class="logoArea right">
				<div class="teamName"><?php echo $gameData['teams']['away']['team']->name; ?></div>
				<img src="/images/Logos/<?php echo str_replace(" ", "", $gameData['teams']['away']['team']->name);?>.png"></img>
			</div>
		</footer>
	</div>
<?php
} 
?>
	<div style='clear:both;'></div>
</div>
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/ui/jquery-ui-1.10.3.js"></script>
<script src="/js/common.js"></script>
<script>
$(function(){
	<?php 
		if ($this->matchup) {
	?>
	$('td.active').on('click', 
		function() {
			var player = $(this).data("players-name");
			var side = $(this).hasClass('home') ? "left" : "right";
			var team =  $(this).closest(".container").find(".logoArea."+side+" .teamName").html();
		    if (confirm("You are about to select " + player + " of the " + team + ".\n All picks are final!\n\nAre you sure you want to finalize this pick?")) {
				$.get("/game/smashuppick/matchup/<?php echo $this->matchup->id?>/player/"+$(this).data("players-id"),
					function(data) {
						if (data.success) {
							alert(data.user_message);	
							parent.$.fancybox.close();			
						} else {
							alert(data.user_message);
						}
					}
				);
		    }
		}
	);
	<?php 
		}
	?>
	$('td').hover(
		function(event) {
			$(this).children(".stats").fadeIn();			
		},
		function(event) {
			$(this).children(".stats").fadeOut();
		}
	);
	$(".stats").mouseenter(
		function(event) {
			$(this).fadeOut();
			event.stopPropagation();
		}
	);
	$('div.cover').css("height", $('.body-wrapper')[0].scrollHeight);

	<?php 
		if ($this->forced_team) { 
	?>
	scrollToElement("<?php echo $this->forced_team->id?>", ".body-wrapper .<?php echo $this->forced_position?>-section");
	<?php
		} 
	?>
});
</script>
</body>
</html>