<?php 
	$account = Application_Model_Account::getAccountFromIdentity(); 
	$positions = $this->positionsMap;
	$displayNone = in_array( $this->matchup->status, array('requested','accepted')) ? "hidden" : "";
?>
<?php echo $this->render('global/navbar.phtml'); ?>
<div class="row-fluid">
	<div id="content" class="span11">
		<div class="row-fluid">
			<div class="span12" id="header">
				<span id="title"><span><?php echo $this->user_messages[0]; ?></span></span>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12 slug">
				<span id="slug">This page will automatically update every 30 seconds.</span>
			</div>
		</div>
		<div class="row-fluid workArea">
			<div class="left <?php if ($this->nextPick['is_home_user']) echo "next-pick";?>"> <!--class="left winner"  -->
				<div class="mainInfo identity"><span><?php echo $this->isCurrentUserHomeUser ? "My Team" : $this->home_user->getName()."'s Team"; ?> <i>(Home)</i></span></div>
				<div class="result"></div>
				<table>
					<thead>
						<tr>
							<th>Pos</th>
							<th>Team</th>
							<th>Player</th>
							<th class="<?php echo $displayNone; ?>">Score</th>
						</tr>
					</thead>
					<tbody>
						<?php 
							$players = $this->smashupsData[$this->home_user->id]["players"];
							$scoreHome = 0;
							for($i = 0; $i < $this->settings->number_of_matchups; $i++) {
								$positionInfo = explode(":",$positions[$i]);
							    $player = $players[$positionInfo[0]][$positionInfo[1]];
							    $positionBlocked = ($this->forced_position && ($this->forced_position != $positionInfo[0])) ? "blocked" : ""; 							    	
						?>
						<tr data-position="<?php echo $positionInfo[0];?>"<?php if ($this->isCurrentUserHomeUser && !$player) {?> class="me <?php echo $positionBlocked;?>"<?php }?>>
							<td><?php echo $positionInfo[0];?></td>
							<?php 
								if ($player) {
									$scoreHome += $player->getScoreInGame($this->smashupsData[$this->home_user->id]["smashups"][$player->id]->games_id, $this->settings->id);
							?>
									<td><a href="javascript:void(0)"><?php echo $player->getTeamName(); ?></a></td>
									<td><a href="javascript:void(0)"><?php echo $player->name; ?></a></td>
									<td class="<?php echo $displayNone; ?>"><?php echo $player->getScoreInGame($this->smashupsData[$this->home_user->id]["smashups"][$player->id]->games_id, $this->settings->id); ?></td>
							<?php } else {?>
									<td>Open</td>
									<td>Open</td>
									<td class="<?php echo $displayNone; ?>"></td>							
							<?php } ?>
						</tr>
						<?php } ?>																	
					</tbody>
				</table>
				<div class="mainInfo score <?php echo $displayNone; ?>">
					<span>Total Score</span>
					<span class="total"><?php echo $scoreHome; ?></span>
				</div>
			</div>
			<div class="right <?php if ($this->nextPick['is_home_user'] === false) echo "next-pick";?>">
				<div class="mainInfo identity"><span><?php echo !$this->isCurrentUserHomeUser ? "My Team" : $this->away_user->getName()."'s Team"; ?> <i>(Away)</i></span></div>
				<div class="result"></div>
				<table>
					<thead>
						<tr>
							<th>Pos</th>
							<th>Team</th>
							<th>Player</th>
							<th class="<?php echo $displayNone; ?>">Score</th>
						</tr>
					</thead>
					<tbody>
						<?php 
							$players = $this->smashupsData[$this->away_user->id]["players"];
							$scoreAway = 0;
							for($i = 0; $i < $this->settings->number_of_matchups; $i++) {
								$positionInfo = explode(":",$positions[$i]);
							    $player = $players[$positionInfo[0]][$positionInfo[1]];
							    
							    if ($player) {
									$positionBlocked = "";
								} else {
							    	$positionBlocked = ($this->forced_position && ($this->forced_position != $positionInfo[0])) ? "blocked" : "";
							    }
						?>
						<tr data-position="<?php echo $positionInfo[0];?>"<?php if (!$this->isCurrentUserHomeUser && !$player) {?> class="me <?php echo $positionBlocked;?>"<?php }?>>
							<td><?php echo $positionInfo[0]?></td>
							<?php 
								if ($player) {
									$scoreAway += $player->getScoreInGame($this->smashupsData[$this->away_user->id]["smashups"][$player->id]->games_id, $this->settings->id);
							?>
									<td><a href="javascript:void(0)"><?php echo $player->getTeamName(); ?></a></td>
									<td><a href="javascript:void(0)"><?php echo $player->name; ?></a></td>
									<td class="<?php echo $displayNone; ?>"><?php echo $player->getScoreInGame($this->smashupsData[$this->away_user->id]["smashups"][$player->id]->games_id, $this->settings->id); ?></td>
							<?php } else {?>
									<td>Open</td>
									<td>Open</td>
									<td class="<?php echo $displayNone; ?>"></td>							
							<?php } ?>
						</tr>
						<?php } ?>																		
					</tbody>
				</table>
				<div class="mainInfo score <?php echo $displayNone; ?>">
					<span>Total Score</span>
					<span class="total"><?php echo $scoreAway; ?></span>
				</div>
			</div>
			<a id="smashboardLink" class="fancy fancybox.iframe<?php if ($displayNone != "hidden") echo " hidden";?>" rel="group" href="/game/smashboard/matchup/<?php echo $this->matchup->id;?>"><button>View Full Marquee Matchups SmashBoard</button></a>
		</div>		
	</div>
</div>
<script>
	<?php if ($this->pickNumber) {?>
	var pickNumber = <?php echo $this->pickNumber; ?>;
	<?php }?>
	var isSmashboardOpen = false;
	var messageIndex = 1;
	var messages = 
		[
			<?php
				for ($i = 0; $i < count($this->user_messages); $i++ ) {
					echo "'".str_replace("'", "\\'", $this->user_messages[$i])."'";
					if ($i < (count($this->user_messages)-1)) 
						echo ",";
				}
			?>
		];
	$(document).ready(
		function() {
			setInterval(
				function(){
					$("#title span").hide("slide",
						function() {
							if (messageIndex == messages.length) messageIndex = 0;
							$(this).html(messages[messageIndex++]).show("blind");
						}
					);
				}, 10000
			);
			<?php 
			if ($this->matchup->status == "accepted") { 
			?>
			setInterval(
				function(){
					// no refreshing while smashboard is open
					if (isSmashboardOpen) return;
					$.get("/game/smashupnumber/matchup/<?php echo $this->matchup->id;?>",
						function(data) {
							if (!data.success) return;
							if (data.pickNumber != pickNumber) {
								// a pick has happened, so refresh
								location.reload();
							}
						}
					);
				}, 5000
			);
			<?php 
			} else if ($this->matchup->status == "in_progress") { 
			?>
			setInterval(
				function(){
					location.reload();
				}, 30000
			);
			<?php 
			} else if ($this->matchup->status == "completed") {
				$winner = ($scoreHome > $scoreAway) ? "left" : "right";
			?>
			$('.<?php echo $winner;?> .result').html("<span>WINNER!</span>");
			<?php 
			}
			?>

			$(".fancy").fancybox(
				{
					fitToView	: false,
					width		: '90%',
					height		: '90%',
					autoSize	: false,
					closeClick	: false,
					openEffect	: 'none',
					closeEffect	: 'none',
					beforeClose : 
						function() {
							location.reload();
					        return;
					    },
					beforeLoad :
						function() {
							isSmashboardOpen = true;
						}
				}
			);
			
			$('.next-pick tr.me:not(.blocked)').on('click', 
				function(){
					var oldHref = $("#smashboardLink").attr('href');
					$("#smashboardLink")
						.attr('href', oldHref + "?position="+$(this).data("position"))
						.click()
						.attr('href', oldHref);
				}
			);
		}
	);
</script>