<style>
	label[for=confirmConsent] {
		float: right; 
		width: 489px;
	}
</style>
<div>
    <div id="wrapper-main">
        <div class="wrapper">
            <div id="primary" class="site-content">
                <div id="content">
                    <div class="login-box">
                        <div class="errors" style="background-color: rgba(255,255,255,0.9);">
                            <?php echo $this->msg; ?>
                        </div>
                        <?php echo $this->form; ?>
                    </div>
                </div><!-- #content -->
            </div><!-- #primary -->
            <!-- .secondary -->
        </div>
    </div><!-- #main .wrapper -->
</div>
<script>
$(document).ready(
	function() {
		$("#register").on( "click",
			function(event) {
				if ( !$("#confirmConsent").prop("checked") ) {
					event.preventDefault();
					alert("You must read and consent to our Terms and Condition and Privacy Policy in order to register.");
				}
			}
		);
	}
);
</script>