                    <div id="your-inv-tab">


                        <?php
                        $invites = $account->getChallenges();
                        if ($invites) {
                            ?>
                            <div class="das-box-table">
                                <table width="100%" cellpadding="10" cellspacing="0" border="0" class="invitation-section">
                                    <thead>
                                        <tr>
                                            <th>Opponent</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php
                                        foreach ($invites as $i) {
                                            $challenger = $i->getOpponent();
                                            $gameID = $i->id;
                                            echo "<tr>";
                                            echo "<td>" . ($challenger ? $challenger->getName() : "Missing Account(" . $i->getOpponentID() . ")") . "</td>";
                                            if ($challenger) {
                                                echo "<td><a href='javascript:void(0);' class='respond-challenge accept' data-id='{$gameID}'>Accept</a> | <a href='javascript:void(0);' class='respond-challenge decline' data-id='{$gameID}'>Decline</a></td>";
                                            } else {
                                                echo "<td>-</td>";
                                            }
                                            echo "</tr>";
                                        }
                                        ?>
                                    </tbody>
                                </table>
                            </div>
                            <?php
                        } else {
                            echo "You do not currently have any invites.";
                        }
                        ?>

                    </div>
                    <div id="sent-inv-tab">

                        <?php
                        $sent = $account->getSentChallenges();
                        if ($sent) {
                            ?>
                            <div class="das-box-table">
                                <table width="100%" cellpadding="10" cellspacing="0" border="0" class="invitation-section">
                                    <thead>
                                        <tr>
                                            <th>Opponent</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php
                                        foreach ($sent as $s) {
                                            echo "<tr>";
                                            echo "<td>" . $s->getOpponent()->getName() . "</td>";
                                            echo "</tr>";
                                        }
                                        ?>
                                    </tbody>
                                </table>
                            </div>
                            <?php
                        } else {
                            echo "You do not have any pending any invites.";
                        }
                        ?>

                    </div>