<?php 
	$account = Application_Model_Account::getAccountFromIdentity(); 
	echo $this->render('global/navbar.phtml'); 
	$matchupSettingsDb = new Application_Model_DbTable_MarqueeMatchupSettings();
	$settings = $matchupSettingsDb->getCurrentMarqueeMatchupSettings(1);
?>
<div class="row-fluid">
	<div id="content" class="span11">
		<div class="row-fluid">
			<div class="das-box tabs">
				<ul class="tab-menu"><li><a href="#upcoming-tab">Smash<span>Ups</span></a><div class="newAlert"></div></li><li><a href="#in-progress-tab">Live Scores</a><div class="newAlert"></div></li><li><a href="#last-ten-tab">Last 10 Results</a><div class="newAlert"></div></li></ul>
				<div class="workArea">
			        <!-- Upcoming -->                            
			        <div id="upcoming-tab">
			                <div class="das-box-table">
			                    <table class="tablesorter">
			                        <thead>
			                            <tr>
			                                <th>Opponent</th>
			                            </tr>
			                        </thead>
			                        <tbody id="upcomingSmashups">
			                        <?php
			                         if (!empty($this->upcomingSmashups)) {   
			                            foreach ($this->upcomingSmashups as $smashup) {
											$opponentId = ($account->id == $smashup->home_user_id) ? $smashup->away_user_id : $smashup->home_user_id;
									?>
			                            <tr>
			                            	<td><?php echo Application_Model_DbTable_Users::getMapper()->find($opponentId)->getName(); ?></td>
			                                <td class='right'><a href='/game/smashup/matchup/<?php echo $smashup->id; ?>' class='siteButton'><span>View</span></a></td>
			                            </tr>
			                            <?php
			                            }
			                            ?>
			                   		<?php
						            } else {
									?>
						               	<tr><td>You currently do not have any pending SmashUps.</td></tr>
						            <?php
						            }
			            			?>
			                        </tbody>
			                    </table>
			                </div>
			        </div>
			        <!-- Smashup in progress tab -->                            
			        <div id="in-progress-tab">
		                <div class="das-box-table">
		                    <table class="tablesorter">
		                        <thead>
		                            <tr>
		                                <th>Opponent</th>
		                            </tr>
		                        </thead>
		                        <tbody  id="inProgressMatchups">
		                        <?php
		                        if ($this->inProgressMatchups) {
									foreach ($this->inProgressMatchups as $smashup) {
										$opponentId = ($account->id == $smashup->home_user_id) ? $smashup->away_user_id : $smashup->home_user_id;
								?>
		                            <tr>
		                            	<td><?php echo Application_Model_DbTable_Users::getMapper()->find($opponentId)->getName(); ?></td>
		                                <td class='right'><a href='/game/smashup/matchup/<?php echo $smashup->id; ?>' class='siteButton'><span>View</span></a></td>
		                            </tr>
		                            <?php
		                            }
		                            ?>
		                   		<?php
					            } else {
								?>
					               	<tr><td>You do not currently have any SmashUps in progress.</td></tr>
					            <?php
					            }
					            ?>
		                        </tbody>
		                    </table>
		                </div>
			        </div>
			
			        <!-- Scores -->  
			
			        <div id="last-ten-tab">
		                <div class="das-box-table">
		                    <table class="tablesorter">	
		                        <thead>
		                            <tr>
		                                <th style="width:40%;">Opponent</th>
		                                <th style="width:28%;">Results</th>
		                                <th style="width:32%"></th>
		                            </tr>
		                        </thead>
		                        <tbody id="completedMatchups">
			                        <?php
			                        if ($this->completedMatchups) {
										foreach ($this->completedMatchups as $matchup) {
											/* @var $matchup  Application_Model_UsersMatchups */
											$opponentId = ($account->id == $matchup->home_user_id) ? $matchup->away_user_id : $matchup->home_user_id;
											
											$resultsMessage = "";
											if ($matchup->home_team_score > $matchup->away_team_score) {
												$resultsMessage = ($matchup->home_user_id == $account->id) ? "<span class='green'>W {$matchup->home_team_score}-{$matchup->away_team_score}</span>" : "<span class='red'>L {$matchup->home_team_score}-$matchup->away_team_score</span>"; 
											} else {
												$resultsMessage = ($matchup->away_user_id == $account->id) ? "<span class='green'>W {$matchup->home_team_score}-{$matchup->away_team_score}</span>" : "<span class='red'>L {$matchup->home_team_score}-$matchup->away_team_score</span>";
											}
									?>
			                            <tr>
			                            	<td style="width:40%;"><?php echo Application_Model_DbTable_Users::getMapper()->find($opponentId)->getName(); ?></td>
			                            	<td style="width:28%;"><?php echo $resultsMessage; ?></td>
			                                <td class='right' style="width:32%"><a href='/game/smashup/matchup/<?php echo $matchup->id; ?>' class='siteButton'><span>View</span></a></td>
			                            </tr>
			                            <?php
			                            }
			                            ?>
			                   		<?php
						            } else {
									?>
						               	<tr><td>You do not currently have any SmashUps in progress.</td></tr>
						            <?php
						            }
						            ?>
		                        </tbody>
		                    </table>
		                </div>
			        </div>
				</div>		
			</div>
			<div class="das-box tabs">
			    <ul class="tab-menu"><li><a href="#friendlist-tab">Friend Lists</a><div class="newAlert"></div></li><li><a href="#search-tab">Search/<span>Request or Invite Friend</span></a></li><li><a href="#pending-tab">Pending Friend Requests</a><div class="newAlert friend_request"></div></li></ul>
				<div class="workArea">
					<div id="friendlist-tab">
						<ul id="friendlist">
						<?php
						    if (!empty($this->friendAccounts)) {
								$isEven = true;
						        foreach ($this->friendAccounts as $friend) {
						            $evenClass = ($isEven = !$isEven) ? "even" : "";						         
						            echo "<li class='$evenClass'><a class='challenge-player' data-id='{$friend->getId()}' href='javascript:void(0);'>" . $friend->getName() ."</a></li>";
						        }
						        ?>                            
						        <?php
						    } else {
						        ?>
						        <li class="empty"><a href="#">You do not have any friends in your list.</a></li>
						        <?php
						    }
						?>
						</ul>
						<div class="row-fluid">
							<div class="span6"><a id="challengeButton" href="javascript:challengePlayer();" class="siteButton">Challenge</a></div>
							<div class="span6"><a id="messageButton" href="javascript:openMessageBox();" class="siteButton">Message</a></div>
						</div>
					</div>
				    <div id="search-tab">			
				        <div class="search">
				            <!-- AutoComplete set with jQuery -->
				            <input id="friendSearch" type="search" name="term" value ="" autocomplete="off" placeholder="Enter name or e-mail address">
				        </div>
		                <div class="das-box-table">
		                    <table class="tablesorter">
		                        <thead>
		                            <tr>
		                                <th>Opponent</th>
		                            </tr>
		                        </thead>
		                        <tbody id="sendInviteList">
		                        	<tr>
		                        		<td>Enter a name or an e-mail address above to search for a Smashmouth user or invite a friend to join and play.</td>
		                        	</tr>
		                        </tbody>
		                    </table>
	                    </div>
	                </div>
				    <div id="pending-tab">
				        <?php
				        if ($this->pendingFriendRequest) {
				            ?>
				            <div class="das-box-table">
				                <table class="tablesorter">
				                    <thead>
				                        <tr>
				                            <th>Friend Requests</th>
				                            <th>Actions</th>
				                        </tr>
				                    </thead>
				                    <tbody  id="pendingFriendRequestList">
				                        <?php
				                        foreach ($this->pendingFriendRequest as $friendRequest) {
				                            echo "<tr>";
				                            echo "<td>" . $friendRequest->getName() . "</td>";
				                            echo "<td class='noBreak'><a href='javascript:doAjaxRequest(\"/account/friendrequestapprove/requestorId/{$friendRequest->id}\", updatePendingFriendRequest)'>Accept</a> | <a href='javascript:doAjaxRequest(\"/account/friendrequestdecline/requestorId/{$friendRequest->id}\",updatePendingFriendRequest)'>Decline</a></td>";
				                            echo "</tr>";
				                        }
				                        ?>
				                    </tbody>
				                </table>
				            </div>
				            <?php
				        	} else {
							?>
							<div class="empty">You do not currently have any friend requests.</div>
				        	<?php 
							} 
							?>
				    </div>
				</div>                    
			</div>						
		</div>
		<div class="row-fluid">
			<div class="das-box tabs">
				<ul class="tab-menu"><li><a href="#your-inv-tab">Received Invites</a><div class="newAlert"></div></li><li><a href="#sent-inv-tab">Sent Invites</a></li></ul>
				<div class="workArea">		
			        <div id="your-inv-tab">
		                <div class="das-box-table">
		                    <table class="tablesorter">
		                        <thead>
		                            <tr>
		                                <th>Name</th>
		                            </tr>
		                        </thead>
		                        <tbody id="receivedInvites">
	                            <?php
	                            if ($this->receivedInvites) {
		                            foreach ($this->receivedInvites as $invite) {
								?>
									<tr>
		                               <td><?php echo Application_Model_DbTable_Users::getMapper()->find($invite->home_user_id)->getName(); ?></td>
		                               <td class='noBreak'><a href='javascript:doAjaxRequest("/game/respondtochallenge/matchup/<?php echo $invite->id;?>/status/accepted",[updateUpcomingSmashups,updateReceivedInvites]);'>Accept</a> | <a href='javascript:doAjaxRequest("/game/respondtochallenge/matchup/<?php echo $invite->id;?>/status/declined",[updateUpcomingSmashups,updateReceivedInvites]);'>Decline</a></td>
									</tr>
		                        <?php
		                            }
	                            } else {
								?>
	                            	<tr><td>Currently, you do not have any invites.</td></tr>
	                            <?php
	                            }			                            
	                            ?>
		                        </tbody>
		                    </table>
		                </div>                     
			        </div>    
			        <div id="sent-inv-tab">
		                <div class="das-box-table">
		                    <table class="tablesorter">
		                        <thead>
		                            <tr>
		                                <th>Opponent</th>
		                            </tr>
		                        </thead>
		                        <tbody id="sentInvites">		                        
		                        <?php
		                        if ($this->sentInvites) {
		                            foreach ($this->sentInvites as $invite) {
								?>
	                            	<tr>
	                                	<td><?php echo Application_Model_DbTable_Users::getMapper()->find($invite->away_user_id)->getName(); ?></td>
	                                	<td class='right'><a href='javascript:void(0)' target='_blank' class='siteButton'><span>View</span></a></td>
	                                </tr>
		                        <?php
		                            }
		                        } else {
								?>
									<tr>
										<td>You do not have any pending invite responses.</td>
									</tr>
								<?php
								} 
								?>
		                        </tbody>
		                    </table>
		                </div>		
			        </div>   
			    </div>
			</div>			
			<div class="das-box small">
				<div class="workArea">
					<div class="slug">Can't find a game?  No problem.  We'll find you an online opponent in a jiffy.</div>
					<a href="javascript:void(0)" class='siteButton' id="opponentButton"><span>Find me an opponent!</span></a>
				</div>	
			</div>
			<?php if ($settings) { ?>
			<a id="smashboardLink" class="fancy fancybox.iframe" rel="group" href="/game/marqueematchups/settings_id/<?php echo $settings->id; ?>">Display Current Marquee Matchups</a>
			<?php } ?>
		</div>
	</div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        /* jquery.ui.tabs used for the boxes */
        $(".tabs").tabs({
            show: {
            	effect:'clip',
                duration:'normal'
            },
            hide: {
            	effect:'slide',
                duration:'normal'
            }
            
        });
        
        /* overload standard jquery.ui.autocomplete */
        $.widget( "ui.autocomplete", $.ui.autocomplete, {
			_renderMenu: 
				function( ul, items ) {
					var autoCompleteObject = this;
					if (items.length == 1 && !items[0].user_id) {
						/* If nothing is returned, add italics to the item */
						$item = autoCompleteObject._renderItemData( ul, items[0] );
						$item.css("font-style", "italic");
					} else {
						/* else we do the standard rendering */
						$.each( items, 
							function( index, item ) {
								autoCompleteObject._renderItemData( ul, item );
							}
						);
					}
          		}
        	}
        );
        
        $( "#friendSearch" ).autocomplete(
        	{
            	minLength: 3,
            	source: "/account/friendsearch/sport/1",
            	select: function( event, ui ) {
					if (ui.item.user_id) {
						var userEncoded = ui.item.label.replace('<', "&lt;").replace('>', "&gt;");
						userRow = 
							"<tr>" +
							   "<td><a href='/profilePage/"+ui.item.user_id+"' target='_blank'>"+userEncoded+"</a></td>" +
							   "<td><a class='siteButton' href='javascript:doAjaxRequest(\"/account/sendfriendrequest/userId/"+ui.item.user_id+"\",updateFriendRequests)'><span>Send Friend Request</span></a></td>" +
							"</tr>";
					} else {
						if (!isValidEmail(ui.item.search_term)) {
							alert("'" + ui.item.search_term + "' is not a valid e-mail address.\nPlease check the address and re-enter it to send and invitation by e-mail.");
							return;
						}
						userRow = 
							"<tr>" +
							   "<td>Send <span class='email'>"+ui.item.search_term+"</span> an invitation to SmashMouth by e-mail.</a></td>" +
							   "<td><a class='siteButton' href='javascript:doAjaxRequest(\"/account/invitetoregister/email/"+ui.item.search_term+"\",emailSentEvent)'><span>Invite</span></a></td>" +
							"</tr>";
					}
					$("#sendInviteList").html(userRow);
        		}
            }
        ).on("keypress", 
        		function(event) {
        			if(event.keyCode==13){
        				$( "#friendSearch" ).autocomplete( "search");
        			}
        		}
        );

        $('#message-box').draggable();
        
        /*************************************************************************** 
           Code to select rows on the friendlist so that challenges can be made and 
           messages sent 
        *****************************************************************************/
        $('#friendlist').on('click', 'li', 
        	function() {
        		$('li').removeClass("selected");
        		$(this).addClass("selected");

        		// reset the data and title in the message box if it is open
        		// to eliminate confusion as to where the message will go.
        		if ($('#message-box').hasClass('show')) openMessageBox();
        	}
       	);
        /****************************************************************************/

		$(".fancy").fancybox(
			{
				fitToView	: false,
				width		: '90%',
				height		: '90%',
				autoSize	: false,
				closeClick	: false,
				openEffect	: 'none',
				closeEffect	: 'none',
				beforeClose : 
					function() {
						location.reload();
				        return;
				    },
				beforeLoad :
					function() {
						isSmashboardOpen = true;
					}
			}
		);
    });


    function challengePlayer() {
        if ( $('#friendlist li.selected').length == 0 ) {
            alert("Please select a player by clicking on a player above, then click this button to issue a challenge.");
            return;
        }

		var challengedUser =  $('#friendlist li.selected a:first').attr('data-id');
		// currently, sportsId is hard coded to one as it is the only valid option.  Ultimately,
		// an interface must be devised for selecting a particular sport and this will be created
		// dynamically.
		doAjaxRequest("/game/challenge/sportsId/1/challengedUser/"+challengedUser,updateSentInvites);
    }

    function openMessageBox() {
        if ( $('#friendlist li.selected').length == 0 ) {
            alert("Please select a player by clicking on a player above, then click this button to send them a message.");
            closeMessageBox();
            return;
        }

        var to_user = $('#friendlist li.selected a:first').attr('data-id');
        $('#messageTitle').html("Send a message to "+$('#friendlist li.selected a:first').html());
        $('#message-box').addClass('show').data('to_user', to_user);
    }

    function closeMessageBox() {
        $('#message-box').removeClass('show').removeData('to_user');
        $('#messageText').val('');
        $('#messageTitle').html('');
        $('#message-box').removeAttr('style');
    }

    function sendMessage() {
        if ( $('#friendlist li.selected').length == 0 ) {
            alert("Please select a player by clicking on a player above, then click this button to send them a message.");
            closeMessageBox();
            return;
        }

        var to_users_id = $('#message-box').addClass('show').data('to_user');

        doAjaxRequest("/message/sendmessage/to_users_id/"+to_users_id, {'message': $('#messageText').val()}, closeMessageBox, "POST");
    }    
    /************************************************************************
     * XHR event callback functions                                         *
     ************************************************************************/
	function updateFriendRequests(data) {
		if (data.success) {
			row = 
				"<tr>" +
				   "<td style='font-weight: bold; font-size: 120%'>Your friend request has been sent to <a href='/profilePage/"+data.receiver_id+"' target='_blank'>"+ data.receiver_name +"</a></td>" +
				"</tr>";	
		} else {
			row = 
				"<tr>" +
				   "<td style='font-weight: bold; font-size: 120%; color: red;'>This service is currently unavailable.  Please try again later.</td>" +
				"</tr>";	
		}
		$("#sendInviteList").html(row);
	}

	
	function emailSentEvent(data) {
		if (data.success) {
			row = 
				"<tr>" +
				   "<td style='font-weight: bold; font-size: 120%'>An invitation to SmashMouth has been sent to "+ data.receiver_email +"</td>" +
				"</tr>";
		} else {
			row = 
				"<tr>" +
				   "<td style='font-weight: bold; font-size: 120%; color:red;'>This service is currently unavailable.  Please try again later.</td>" +
				"</tr>";
		}
		$("#sendInviteList").html(row);	
	}
	
	function updatePendingFriendRequest(data) {
		console.log("updatePendingFriendRequest called with: ", data);
		if (data.success) {
			var rows = "";
            for ( var i = 0; i < data.pendingFriendRequest.length; i++ ) {
                rows += "<tr>";
                rows +=     "<td>" + data.pendingFriendRequest[i].name + "</td>";
                rows += 	"<td class='noBreak'><a href='javascript:doAjaxRequest(\"/account/friendrequestapprove/requestorId/"+data.pendingFriendRequest[i].id+"\", updatePendingFriendRequest)'>Accept</a> | <a href='javascript:doAjaxRequest(\"/account/friendrequestdecline/requestorId/"+data.pendingFriendRequest[i].id+"\",updatePendingFriendRequest)'>Decline</a></td>";
                rows += "</tr>";
            }
            $("#pendingFriendRequestList").html(rows);
            doAjaxRequest("/account/getfriendlist/",updateFriendList);
		} else {
			alert("This service is currently unavailable.  Please try again later.");			
		}
	}

	function updateFriendList(data) {
		var rows = '';
	    if (data.friends.length) {
			var isEven = true;
			
	        for (var i=0; i < data.friends.length; i++) {
	            var evenClass = (isEven = !isEven) ? "even" : "";						         
	            rows += "<li class='"+evenClass+"'><a class='challenge-player' data-id='"+data.friends[i].id+"' href='javascript:void(0);'>" + data.friends[i].name +"</a></li>";
	        }

	    } else {
	    	rows = '<li class="empty"><a href="#">You do not have any friends in your list.</a></li>';
	    }
	    $('#friendlist').html(rows);
	}

	function updateSentInvites(data) {
    	if (data.success) {
    		var rows = '';
    	    if (data.invitedUsers.length) {
    			var isEven = true;
    			
    	        for (var i=0; i < data.invitedUsers.length; i++) {						         
    	            rows += "<tr><td>" + data.invitedUsers[i].name +"<td><td class='right'><a href='javascript:void(0)' target='_blank' class='siteButton'><span>View</span></a></td></tr>";
    	        }
    	    } else {
    	    	rows = '<tr><td>You do not have any pending invite responses.</td></tr>';
    	    }
    	    $("#sentInvites").html(rows);
    	}
	}

	function updateReceivedInvites(data) {
		if (data.success) {
			var rows = '';

			if (data.receivedInvites.length) {
				for(var i = 0; i < data.receivedInvites.length; i++) {
					rows += "<tr>";
		            rows +=   "<td>"+data.receivedInvites[i].name+"</td>";
		            rows +=   "<td class='noBreak'><a href='javascript:doAjaxRequest(\"/game/respondtochallenge/matchup/"+data.receivedInvites[i].matchup_id+"/status/accepted\",[updateUpcomingSmashups,updateReceivedInvites]);'>Accept</a> | <a href='javascript:doAjaxRequest(\"/game/respondtochallenge/matchup/"+data.receivedInvites[i].matchup_id+"/status/declined\",[updateUpcomingSmashups,updateReceivedInvites]);'>Decline</a></td>";
					rows += "</tr>";
		        }
			} else {
				rows = '<tr><td>Currently, you do not have any invites.</td></tr>';
			}
	        
			$("#receivedInvites").html(rows);
		}
	}

	function updateUpcomingSmashups(data) {
		if (data.success) {
			var rows = '';		
			if (data.upcomingSmashups.length) {
				for(var i = 0; i < data.upcomingSmashups.length; i++) {
					rows += "<tr>";
		            rows +=   "<td>"+data.upcomingSmashups[i].name+"</td>";
		            rows +=   "<td class='right'><a href='/game/smashup/matchup/"+data.upcomingSmashups[i].matchup_id+"' class='siteButton'><span>View</span></a></td>";
					rows += "</tr>";
		        }
			} else {
				rows = '<tr><td>You currently do not have any pending SmashUps.</td></tr>';
			}
	        
			$("#upcomingSmashups").html(rows);
		}	
	}

	function updateInProgressMatchups(data) {
		var rows = '';
		$("#inProgressMatchups").html(rows);
	}

	function updateCompletedMatchups(data) {
		var rows = '';
		$("#completedMatchups").html(rows);
	}		
</script>
<div id="message-box">
	<header><div id="messageTitle"></div></header>
	<textarea id="messageText" name="message"></textarea>
	<button id="sendMessageButton" onclick="sendMessage();">Send Message</button>
	<button id="cancelMessageButton" onclick="closeMessageBox();">Cancel</button>
</div>