<div class="row-fluid">
	<div class="span11 navbar">
		<div class="row-fluid">
<?php 
	$controller = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
	$action = Zend_Controller_Front::getInstance()->getRequest()->getActionName();
	
	if ( $controller == 'index' && $action == 'index' ) {
?>
			<div class="row-fluid">
		        <?php echo $this->flashMessenger(); ?>
				<div id="featuredButtons" class="span12">
					<a id="featuredButton1" href="javascript:changeSlide(1, null, 4)" class="active first smallwrap"><span title="What is SmashMouth?">What is    SmashMouth?</span></a>
					<a id="featuredButton2" href="javascript:changeSlide(2, null, 4)"><span title="How to Play">How to Play</span></a>
					<a id="featuredButton3" href="javascript:changeSlide(3, null, 4)"><span title="Free Trial">Free Trial</span></a>
					<a id="featuredButton4" href="javascript:changeSlide(4, null, 4)" class="smallwrap"><span title="SmashMouth Insider">SmashMouth    Insider</span></a>
				</div>
			</div>
<?php
	} else { 
?>
			<div id="topNavButtons" class="span12">
				<a href="/account" class="first smallwrap <?php if ($action=="dashboard") echo "active"; ?>"><span title="Dashboard"><span>Dash</span>board</span></a>
				<a href="/leaderboard" class="<?php if ($action=="leaderboard") echo "active"; ?>"><span title="Leaderboard"><span>Leader</span>board</span></a>
				<a href="/how-to-play" class="<?php if ($action=="howtoplay") echo "active"; ?>"><span title="How to Play">How to Play</span></a>
				<a href="/about-us" class="<?php if ($action=="aboutus") echo "active"; ?>"><span title="About Us" class="smallwrap">About Us</span></a>
				<a href="/contact" class="<?php if ($action=="contact") echo "active"; ?>"><span title="Contact Us">Contact Us</span></a>
			</div>
<?php 
	}
?>
		</div>
	</div>
</div>
