<div class="pagination">
	<button class="first" onclick="<?php echo $this->callback;?>(0)">First</button>
	<button class="back" onclick="<?php echo $this->callback;?>(Math.max(currentPage-1, 0))">&lt;</button>
	<?php 
	for ( $i=0; $i<$this->numberOfPages; $i++) 
	{
	?>
	<button class="page <?php echo "button$i"; if ($i == $this->activePage) echo " active"?>" onclick="<?php echo $this->callback;?>(<?php echo $i;?>)"><?php echo $i + 1; ?></button>
	<?php 
	}
	?>
	<button class="forward" onclick="<?php echo $this->callback;?>(Math.min(currentPage+1, <?php echo $this->numberOfPages - 1;?>))">&gt;</button>
	<button class="last" onclick="<?php echo $this->callback;?>(<?php echo $this->numberOfPages - 1;?>)">Last</button>
</div>
<script>
	var currentPage = <?php echo $this->activePage;?>;
</script>