<?php
	$front = Zend_Controller_Front::getInstance()->getRequest();
	$controller = $front->getControllerName();
	$action = $front->getActionName();
?><div class="row-fluid">
	<div class="span12">
        <div id="wrapper-nav" class="row-fluid">
            <div class="span2"><a href="/contact">Contact Us</a></div>
            <div class="span2"><a href="/about-us">About Us</a></div>
            <div class="span2"><a href="/how-to-play">How to Play</a></div>
            <div class="span3"><a href="/terms-and-conditions">Terms and Conditions</a></div>
            <div class="span3 pad"><a href="/blog">SmashMouth Insider</a></div>
        </div>
	</div>
</div>