				<div class="position-cover left <?php echo $this->positionLeftBlocked;?>"></div>
				<div class="position-cover right <?php echo $this->positionRightBlocked;?>"></div>
				<label><?php echo $this->position; ?></label>
				<table>
					<tbody>
					<?php 
						$i = 0;
						$homePlayers = $this->gameData['teams']['home']['players'][$this->position];
						$awayPlayers = $this->gameData['teams']['away']['players'][$this->position];
						
						$doHome = $i < count($homePlayers);
						$doAway = $i < count($awayPlayers);
						
						while ($doHome || $doAway) {
					?>
						<tr>
						<!--******************************************************************************-->
						<!--  HOME TEAM PLAYER -->
						<!--******************************************************************************-->
						<?php
							if ($doHome) {
								if ($this->smashupsData && array_key_exists($homePlayers[$i]->id,$this->smashupsData[$this->currentUser->id]["smashups"])) {
									$pickHtml = "<span class='mine'>&nbsp;&nbsp;&lt;PICKED!&gt;</span>";
								} else if ($this->smashupsData && array_key_exists($homePlayers[$i]->id, $this->smashupsData[$this->opponent->id]["smashups"])) {
									$pickHtml = "<span class='theirs'>&nbsp;&nbsp;&lt;PICKED!&gt;</span>";
								} else {
									$pickHtml = "";
								}		
						?>
							<td class="home <?php echo $this->tdClass;?>" data-players-id="<?php echo $homePlayers[$i]->id; ?>" data-players-name="<?php echo $homePlayers[$i]->name; ?>"><?php echo $homePlayers[$i]->name.$pickHtml; ?>
								<?php 
									echo $this->partial('game/partials/player-stats.phtml',
										array(
											"player" => $homePlayers[$i],
											"seasons_id" => $this->seasons_id
										)  
									); 
								?>
							</td>
						<?php } else { ?>						
							<td></td>
						<?php } ?>
						<!--******************************************************************************-->
	
						<!--******************************************************************************-->
						<!--  AWAY TEAM PLAYER -->
						<!--******************************************************************************-->
						<?php 
							if ($doAway) {
								if ($this->smashupsData && array_key_exists($awayPlayers[$i]->id, $this->smashupsData[$this->currentUser->id]["smashups"])) {
									$pickHtml = "<span class='mine'>&nbsp;&nbsp;&lt;PICKED!&gt;</span>";
								} else if ($this->smashupsData && array_key_exists($awayPlayers[$i]->id, $this->smashupsData[$this->opponent->id]["smashups"])) {
									$pickHtml = "<span class='theirs'>&nbsp;&nbsp;&lt;PICKED!&gt;</span>";
								} else {
									$pickHtml = "";
								}	
						?>	
							<td class="away <?php echo $this->tdClass;?>" data-players-id="<?php echo $awayPlayers[$i]->id; ?>" data-players-name="<?php echo $awayPlayers[$i]->name; ?>"><?php echo $awayPlayers[$i]->name.$pickHtml; ?>
								<?php 
									echo $this->partial('game/partials/player-stats.phtml',
										array(
											"player" => $awayPlayers[$i],
											"seasons_id" => $this->seasons_id
										)  
									); 
								?>							
							</td>
						<?php 
							} else { 
						?>						
							<td></td>
						<?php 
							} 
						?>
						<!--******************************************************************************-->					
						</tr>
					<?php 
							$i++;
							$doHome = $i < count($homePlayers);
							$doAway = $i < count($awayPlayers);
						}
					?>
					</tbody>
				</table>