<?php 
	$imgSrc = ($this->player->asset_id) ? "{$this->player->asset_id}_small.jpg": "generic_nba_small.jpg";
	$seasonStats = $this->player->getSeasonStats($this->seasons_id);
?>
<div class="stats">
	<img src="/images/players/headshots/<?php echo $imgSrc; ?>"></img>
	<div class="stat"><span class="value"><?php echo $seasonStats["points"]->value; ?></span><span>Points</span></div>
	<div class="stat"><span class="value"><?php echo $seasonStats["rebounds"]->value; ?></span><span>Rebounds</span></div>
	<div class="stat"><span class="value"><?php echo $seasonStats["steals"]->value; ?></span><span>Steals</span></div>
	<div class="stat"><span class="value"><?php echo $seasonStats["assists"]->value; ?></span><span>Assist</span></div>
	<div class="stat"><span class="value"><?php echo $seasonStats["blocks"]->value; ?></span><span>Blocks</span></div>
	<div class="stat"><span class="value"><?php echo $seasonStats["personal_fouls"]->value; ?></span><span>Fouls</span></div>
	<div class="stat"><span class="value"><?php echo $seasonStats["turnovers"]->value; ?></span><span>Turnovers</span></div>
</div>
