<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>:: SmashMouth ::</title>
        <?php
            $this->headLink()                      
                        ->prependStylesheet('/css/smash/jquery-ui-1.10.3.custom.min.css')
                        ->prependStylesheet('/css/scoreboard.css')                      
                        ->prependStylesheet('/css/layout.css')                       
                        ->prependStylesheet('/css/bootstrap.min.css');

            $preloadScript =
            <<<JAVASCRIPT
/**
 *	Preloads all items for web;
 *
 *	@param items  an array containing the url of items to load.
 */
function preload(items) {
	for ( var i = 0; i < items.length; ++i) {
	   $.get(items[i]);
	}
}
JAVASCRIPT;
          
            echo $this->headScript()
            ->prependScript($preloadScript)
            ->prependFile('/js/jquery.cookie.js')
            ->prependFile('/js/bootstrap.min.js')
            ->prependFile('/js/common.js')
            ->prependFile('/js/ui/jquery-ui-1.10.3.js')
            ->prependFile('/js/jquery-1.10.2.min.js');
            
            $cssName = Zend_Controller_Front::getInstance()->getRequest()->getActionName();

            if (is_file(APPLICATION_PATH . "/../public/css/$cssName.css")) $this->headLink()->appendStylesheet("/css/$cssName.css");
            if (is_file(APPLICATION_PATH . "/../public/css/$cssName-responsive.css")) $this->headLink()->appendStylesheet("/css/$cssName-responsive.css"); 
            
            echo $this->headLink();
        ?>

		<!-- ************************************************************************************ -->
		<!-- Temporary FancyBox Stuff -->
		<!-- ************************************************************************************ -->
		<!-- Add fancyBox -->
		<link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
		<script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
		
		<!-- Optionally add helpers - button, thumbnail and/or media -->
		<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
		<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
		<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
		
		<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
		<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
		<!-- ************************************************************************************ -->
		
		<!-- Facebook Like Button -->
		<script id="facebook-jssdk" src="//connect.facebook.net/en_US/all.js#xfbml=1&appId=<?php echo Zend_Registry::get("Facebook")->appid;?>"></script>
		<script id="twitter-wjs" src="//platform.twitter.com/widgets.js"></script>
	</head>
    <body>
    	<div class="mainContainer">
	        <?php echo $this->render('inc/header.phtml'); ?>
	        <?php echo $this->render('inc/content.phtml'); ?>
	        <?php echo $this->render('inc/navigation.phtml'); ?>
	        <?php echo $this->render('inc/footer.phtml'); ?>
        </div>
        <div id="fb-root"></div>    
    </body>
</html>
