<?php 
	$gameNumber = 1;
	$gamesHtml = "";
	$currentWeekHtml = "";
	foreach($this->allSettings as $setting) {
		$options = (empty($this->currentSettings->id) || ($this->currentSettings->id > $setting->id) )
			? "<a class='fancy fancybox.iframe' href='/game/marqueematchups/settings_id/{$setting->id}'><button>View</button></a>"
			: "<a href='/admin/settings/settings_id/{$setting->id}'><button>Edit</button></a>&nbsp;<a href='/admin/settings/settings_id/{$setting->id}/delete/1'><button>Delete</button></a>"
		;
		$gamesHtml .=  <<<HTML
			<div class="matchupRow">Game $gameNumber <input type="text" readonly="readonly" value="{$setting->smashup_open_date}" /> - <input type="text" readonly="readonly" value="{$setting->smashup_close_date}" /> $options</div>
HTML;
		if ($this->settings->id == $setting->id) {
			$currentWeekHtml = "<h1>Game $gameNumber</h1>";
		}
		
		$gameNumber++;
	}
	
	if (empty($currentWeekHtml)) {
		$currentWeekHtml = "<h1>Game $gameNumber</h1>";
	}
?>
<div id="workArea">
	<h1>Weekly SmashUp Settings for <?php echo $this->sport->league; ?></h1>
	<?php echo $currentWeekHtml; ?>
	<section id="dates">
		<form name="dates" method="post">
			<div>
				<span class="date-label">First Day For SmashUps (Opening Date)</span>
				<span><input name="smashup_open_date" type="date" value="<?php echo $this->settings->smashup_open_date; ?>" required="required" /></span>
			</div>
			<div>
				<span class="date-label">Last Day to make picks (Typically the first day of the games)</span>
				<span><input name="smashup_close_date" type="date" value="<?php echo $this->settings->smashup_close_date; ?>" min="<?php echo date('Y-m-d'); ?>" required="required"/></span>
				<input type="submit" name="form_name" value="Update Dates" />
			</div>
		</form>
	</section>
	<section id="gamePlaySettings">
		<form name="marqueeMatchups" method="post">
			<div id="marqueeMatchups">
			<?php 
				foreach($this->games as $game) {
			?>
				<div class="game-box">
					<span class="team-label"><?php echo "{$game->getHomeTeam()->name} vs. {$game->getAwayTeam()->name}"; ?></span>
					<span class="game-date"><input type="datetime" value="<?php echo $game->scheduled_date; ?>" disabled="disabled"/></span>  
					<span class="game-select"><input class="game" type="checkbox" name="games_id[]" value="<?php echo $game->id;?>" <?php if ($game->isMarqueeMatchup($this->settings->id)) echo 'checked="checked" '; ?>/></span>
				</div>
			<?php
			 	}
			?>
			</div>
			<div id="matchupSettings">
				<div id="numberOfMatchups">
					<span>Number of Matchups</span>
					<input type="number" id="number_of_matchups" name="number_of_matchups" min="1" max="15" value="<?php echo $this->settings->number_of_matchups; ?>" />
				</div>
				<div id="positions">
				<?php
					$positions = json_decode($this->settings->positions, true);
					$i = 1;
					foreach( $positions as $position => $slots) {
				?>
					<div class="positionBox pos<?php echo $i++; ?>">
						<span><?php echo $position;?></span>
						<input type="number" name="position-<?php echo $position;?>" min="0" max="<?php echo $this->settings->number_of_matchups; ?>" value="<?php echo count($slots); ?>" />
					</div>
				<?php 
					}
				?>
	 			</div>
	 			<input id="updateMatchups" type="submit" name="form_name" value="Update Marquee Matchups" onclick="return validate();"/>
	 			<a id="smashboardLink" class="fancy fancybox.iframe" href="/game/marqueematchups/settings_id/<?php echo $this->settings->id;?>"><button>Preview Marquee Matchups</button></a>
			</div>
		</form>
	</section>
	<section id="games">
		<?php echo $gamesHtml; ?>	
	</section>
	<a id="newGameButton" href='/admin/settings/season_id/<?php echo $this->settings->seasons_id; ?>/settings_id/0'><button>Create New Game</button></a>
</div>
<script>
$(document).ready(
	function() {
		$(".game-select").on("click", ".game",
			function() {
				if ( $(".game:checked").length > $("#number_of_matchups").val() ) {
					$(this).attr("checked", false);
					alert("You can only select " + $("#number_of_matchups").val() + " in your current configuration.");
				}
			}
		);

		$("#number_of_matchups").on("change",
			function() {
				$(".positionBox input[type=number]").attr("max", $(this).val());
			}
		);

		$(".fancy").fancybox(
			{
				fitToView	: false,
				width		: '90%',
				height		: '90%',
				autoSize	: false,
				closeClick	: false,
				openEffect	: 'none',
				closeEffect	: 'none',
				beforeLoad :
					function() {
						isSmashboardOpen = true;
					}
			}
		);
	}		
);

function validate() {
	var number_of_matchups = $("#number_of_matchups").val();
	var games_selected = $(".game:checked").length;
	var positions_selected = 0;

	$(".positionBox input").each(
		function() {
			positions_selected += parseInt($(this).val());
		}
	);

	if ( games_selected != number_of_matchups ) {
		alert("You must select " + number_of_matchups + " games. " + games_selected + " are currently selected.");
		return false;
	}

	if ( positions_selected != number_of_matchups ) {
		alert("The total number of positions, "+ positions_selected + ", must equal the total number of matchups, " + number_of_matchups + ".");
		return false;
	}
}
</script>